Repository ray-project/ray, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ray-project/ray-docs, @ericl, @pcmoritz, @justinvyu, @matthewdeng, @sofianhnaide, @wuisawesome, @ameerhajali, @robertnishihara, @raulchen, @ray-project/ray-core, @ijrsvt, @edoakes, @alanwguo, @architkulkarni, @DmitriGekhtman, @thomasdesr, @richardliaw, @krfricke, @aslonnie, @can-anyscale, @kfstorm, @iycheng, @WangTaoTheTonic, @SongGuyang, @ckw017, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @stephanie-wang, @suquark, @maxpumperla, @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @kouroshhakha, @kevin85421, @xwjiang2010, @Yard1, @woshiyyya, @shrekris-anyscale, @sihanwang41, @zcin, @rkooo567, @jjyao, @ray-project/ray-ci

incr test_split size
  python/ray/data/BUILD
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

deprecate Dataset.__init__ epoch param, ._epoch attribute, get/setter methods
  python/ray/data/_internal/fast_repartition.py
  python/ray/data/dataset.py
  python/ray/data/grouped_data.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_split.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

up
  python/ray/serve/api.py
  release/golden_notebook_tests/workloads/torch_tune_serve_test.py
  release/long_running_tests/workloads/serve.py
  release/long_running_tests/workloads/serve_failure.py
  release/serve_tests/workloads/autoscaling_multi_deployment.py
  release/serve_tests/workloads/autoscaling_single_deployment.py
  release/serve_tests/workloads/multi_deployment_1k_noop_replica.py
  release/serve_tests/workloads/serve_handle_long_chain.py
  release/serve_tests/workloads/serve_handle_wide_ensemble.py
  release/serve_tests/workloads/single_deployment_1k_noop_replica.py
Owners: none

deprecate data @Deprecated labeled methods
  python/ray/data/__init__.py
  python/ray/data/dataset.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_csv.py
  python/ray/data/tests/test_image.py
  python/ray/data/tests/test_json.py
  python/ray/data/tests/test_numpy.py
  python/ray/data/tests/test_text.py
  python/ray/data/tests/test_tfrecords.py
  release/nightly_tests/dataset/operator_fusion_benchmark.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

[Train] Deprecate AccelerateTrainer (#40274)
  doc/source/train/doc_code/accelerate_trainer.py
  doc/source/train/huggingface-accelerate.rst
  python/ray/air/_internal/usage.py
  python/ray/train/BUILD
  python/ray/train/huggingface/accelerate/accelerate_trainer.py
  python/ray/train/tests/test_huggingface.py
  python/ray/train/tests/test_torch_accelerate.py
Owners: @richardliaw, @krfricke, @xwjiang2010, @amogkam, @matthewdeng, @Yard1, @maxpumperla, @justinvyu, @woshiyyya, @ray-project/ray-docs

[RLlib][Docs] Add mobile-env to RLlib community examples (#37641)
  doc/source/rllib/rllib-examples.rst
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke, @ray-project/ray-docs

fix on_waitable_ready
  python/ray/data/_internal/execution/bulk_executor.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/tests/util.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

basic impl
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

comments
  python/ray/data/_internal/execution/bulk_executor.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/context.py
  python/ray/data/tests/util.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

debug
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

fix
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/context.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

debug
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

revert
  python/ray/data/_internal/execution/streaming_executor.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

refine
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

refine
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/context.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

format
  python/ray/tests/test_redis_tls.py
Owners: none

[Train] Fix lightning 2.0 import path (#40266)
  python/ray/train/lightning/_lightning_utils.py
Owners: none

update remainder
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_split.py
  python/ray/data/tests/test_strict_mode.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

Add tests on number of mmaps in core worker.
  python/ray/tests/test_plasma_unlimited.py
Owners: none

replace testcode with literal block
  python/ray/train/huggingface/transformers/_transformers_utils.py
  python/ray/train/lightning/_lightning_utils.py
Owners: none

add Ray 2.8 in deprecation message
  python/ray/train/huggingface/transformers/transformers_checkpoint.py
Owners: none

Address build errors
  doc/source/data/examples/index.rst
  doc/source/data/loading-data.rst
  doc/source/ray-core/examples/batch_prediction.ipynb
  doc/source/ray-overview/examples.rst
  python/ray/data/dataset.py
  python/ray/data/datasource/datasource.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang, @ray-project/ray-docs

pick 40203
  release/ray_release/environments/aws.env
  release/ray_release/environments/gce.env
  release/ray_release/scripts/ray_champagne.py
Owners: @ray-project/ray-ci

Pick 40203 (#40388)
  release/ray_release/environments/aws.env
  release/ray_release/environments/gce.env
  release/ray_release/scripts/ray_champagne.py
Owners: @ray-project/ray-ci

[runtime env]: Integrating Nsight to Ray worker process (#39998)
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/_private/runtime_env/nsight.py
  python/ray/remote_function.py
  python/ray/runtime_env/runtime_env.py
  python/ray/tests/BUILD
  python/ray/tests/nsight_fake/nsys_fake.py
  python/ray/tests/nsight_fake/setup.py
  python/ray/tests/test_runtime_env_profiler.py
Owners: none

address comments
  python/ray/data/_internal/execution/backpressure_policy.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_backpressure_policies.py
Owners: @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang

init
  .buildkite/ml.rayci.yml
Owners: none

Update ppo.py
  rllib/algorithms/ppo/ppo.py
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke

[Dependencies] Remove typing_extensions (#40336)
  doc/source/ray-overview/pip_freeze_ray-ml-py39-cpu.txt
  doc/source/ray-overview/pip_freeze_ray-py39-cpu.txt
  python/ray/_private/worker.py
  python/ray/data/block.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/datasource/parquet_datasource.py
  python/ray/data/preprocessors/batch_mapper.py
  python/ray/data/read_api.py
  python/ray/train/_internal/data_config.py
  python/ray/util/state/custom_types.py
  python/requirements.txt
  python/setup.py
  release/nightly_tests/dataset/iter_batches_benchmark.py
  release/nightly_tests/dataset/map_batches_benchmark.py
  release/ray_release/configs/global_config.py
Owners: @ray-project/ray-docs, @ericl, @scv119, @c21, @amogkam, @scottjlee, @bveeramani, @raulchen, @stephanie-wang, @richardliaw, @edoakes, @ray-project/ray-ci

[Train] Update checkpoint path for RayTrainReportCallbacks. (#40174)
  doc/source/train/doc_code/checkpoints.py
  doc/source/train/user-guides/checkpoints.rst
  python/ray/train/huggingface/transformers/_transformers_utils.py
  python/ray/train/lightning/_lightning_utils.py
Owners: @richardliaw, @krfricke, @xwjiang2010, @amogkam, @matthewdeng, @Yard1, @maxpumperla, @justinvyu, @woshiyyya, @ray-project/ray-docs

lint
  ci/ci.sh
Owners: none

[Train] Deprecate TransformersTrainer (#40277)
  python/ray/air/_internal/usage.py
  python/ray/train/BUILD
  python/ray/train/examples/huggingface/__init__.py
  python/ray/train/examples/huggingface/huggingface_basic_language_modeling_example.py
  python/ray/train/huggingface/transformers/transformers_checkpoint.py
  python/ray/train/huggingface/transformers/transformers_predictor.py
  python/ray/train/huggingface/transformers/transformers_trainer.py
  python/ray/train/tests/test_huggingface.py
  python/ray/train/tests/test_trainer_restore.py
  python/ray/train/tests/test_transformers_checkpoint.py
  python/ray/train/tests/test_transformers_predictor.py
  python/ray/train/tests/test_transformers_trainer.py
  python/ray/train/tests/test_transformers_trainer_steps.py
Owners: none

[civ2][gpu/2] migrate ml gpu tests to civ2 (#40362)
  .buildkite/ml.rayci.yml
  .buildkite/pipeline.gpu_large.yml
  ci/ray_ci/tester.py
  doc/BUILD
Owners: @ray-project/ray-docs

move ml gpu to civ2
  .buildkite/core.rayci.yml
  .buildkite/data.rayci.yml
  .buildkite/rllib.rayci.yml
  .buildkite/serverless.rayci.yml
Owners: none

create ml gpu build
  ci/docker/ml.build.Dockerfile
Owners: @aslonnie, @can-anyscale, @krfricke

move ml gpu to civ2
  ci/pipeline/determine_tests_to_run.py
Owners: none

move ml gpu to civ2
  ci/docker/ml.build.Dockerfile
Owners: @aslonnie, @can-anyscale, @krfricke

create rllib gpu builds
  .buildkite/_forge.rayci.yml
  .buildkite/core.rayci.yml
  .buildkite/data.rayci.yml
  .buildkite/rllib.rayci.yml
  .buildkite/serve.rayci.yml
  .buildkite/serverless.rayci.yml
  ci/docker/rllib.build.Dockerfile
  ci/docker/rllib.build.wanda.yaml
  ci/pipeline/determine_tests_to_run.py
Owners: @aslonnie, @can-anyscale, @krfricke

[deflakey] Deflakey `test_redis_tls` (#40378)
  BUILD.bazel
  bazel/ray.bzl
  python/ray/tests/BUILD
  python/ray/tests/test_redis_tls.py
  python/ray/tests/tls/ca.crt
  python/ray/tests/tls/ca.key
  python/ray/tests/tls/ca.txt
  python/ray/tests/tls/redis.crt
  python/ray/tests/tls/redis.dh
  python/ray/tests/tls/redis.key
Owners: none

[Core] Bugfix/runtime agent binding (#40092) (#40311)
  python/ray/_private/runtime_env/agent/main.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.


# ==== Documentation ====

# Authors responsible for copy-editing of the documentation.
# NOTE: Add @ray-project/ray-docs to all following docs subdirs.
/doc/ @ray-project/ray-docs
/doc/source/use-cases.rst @ericl @pcmoritz
/doc/source/templates @justinvyu @matthewdeng @sofianhnaide

# ==== Ray core ====

# API compatibility
/src/ray/protobuf/common.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @ray-project/ray-core
/src/ray/protobuf/gcs.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @ray-project/ray-core
/src/ray/protobuf/gcs_service.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @ray-project/ray-core
/dashboard/modules/snapshot @wuisawesome @ijrsvt @edoakes @alanwguo @architkulkarni
/python/ray/autoscaler/_private/monitor.py @wuisawesome @DmitriGekhtman

# Autoscaler
/python/ray/autoscaler/ @wuisawesome @DmitriGekhtman @ericl @ray-project/ray-core @architkulkarni

# Metrics
/src/ray/stats/metric_defs.h @ray-project/ray-core
/src/ray/stats/metric_defs.cc @ray-project/ray-core

# Telemetry
/src/ray/protobuf/usage.proto @pcmoritz @thomasdesr

# All C++ code.
# /src/ray @ray-project/ray-core-cpp

# GCS
/src/ray/gcs/ @ray-project/ray-core

# Dependencies
/python/setup.py @richardliaw @ericl @edoakes

# Formatting tool
/ci/lint/format.sh @richardliaw @ericl @edoakes

# Docker image and build scripts.
/ci/build/build-docker-images.py @krfricke @ray-project/ray-core @aslonnie @can-anyscale
/ci/docker @aslonnie @can-anyscale @krfricke

# Python worker.
#/python/ray/ @ray-project/ray-core
#!/python/ray/tune/ @ray-project/ray-core
#!/python/ray/rllib/ @ray-project/ray-core

# Java worker.
/java/dependencies.bzl @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic @SongGuyang
/java/pom.xml @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic @SongGuyang
/java/pom_template.xml @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic @SongGuyang
/java/*/pom_template.xml @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic @SongGuyang
/java/api/ @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic @SongGuyang

# C++ worker
/cpp/include/ray @SongGuyang @raulchen @kfstorm @ray-project/ray-core

# Ray Client
/src/ray/protobuf/ray_client.proto @ijrsvt @ameerhajali @ckw017

# Runtime Env
# TODO(SongGuyang): Add new items to guarantee runtime env API compatibility in multiple languages.
/src/ray/protobuf/runtime_env_common.proto @SongGuyang @raulchen @edoakes @architkulkarni @ray-project/ray-core
/src/ray/protobuf/runtime_env_agent.proto @SongGuyang @raulchen @edoakes @architkulkarni @ray-project/ray-core

# ==== Libraries and frameworks ====

# Ray data.
/python/ray/data/ @ericl @scv119 @c21 @amogkam @scottjlee @bveeramani @raulchen @stephanie-wang
/doc/source/data/ @ericl @scv119 @c21 @amogkam @scottjlee @bveeramani @raulchen @stephanie-wang

# Ray workflows.
/python/ray/workflow/ @ericl @iycheng @stephanie-wang @suquark
/doc/source/workflows/ @ericl @iycheng @stephanie-wang @suquark @maxpumperla @ray-project/ray-docs

# RLlib.
/rllib/ @sven1977 @gjoliver @avnishn @arturniederfahrenhorst @smorad @maxpumperla @kouroshhakha @krfricke
/doc/source/rllib/ @sven1977 @gjoliver @avnishn @arturniederfahrenhorst @smorad @maxpumperla @kouroshhakha @krfricke @ray-project/ray-docs

# Cluster (docs)
/doc/source/cluster/ @architkulkarni @wuisawesome @DmitriGekhtman @maxpumperla @pcmoritz @kevin85421 @ray-project/ray-docs

# Tune (docs)
/doc/source/tune/ @richardliaw @krfricke @xwjiang2010 @amogkam @matthewdeng @Yard1 @maxpumperla @justinvyu @woshiyyya @ray-project/ray-docs

# Train (docs)
/doc/source/train/ @richardliaw @krfricke @xwjiang2010 @amogkam @matthewdeng @Yard1 @maxpumperla @justinvyu @woshiyyya @ray-project/ray-docs

# Serve (docs)
/doc/source/serve/ @edoakes @shrekris-anyscale @sihanwang41 @zcin @architkulkarni @ray-project/ray-docs

# ML Docker Dependencies
/python/requirements/ml/dl-cpu-requirements.txt @amogkam @krfricke @richardliaw @matthewdeng
/python/requirements/ml/dl-gpu-requirements.txt @amogkam @krfricke @richardliaw @matthewdeng

# Ray symbol export
/src/ray/ray_version_script.lds @iycheng @ericl @scv119
/src/ray/ray_exported_symbols.lds @iycheng @ericl @scv119

# Ray usage stats
/python/ray/_private/usage/ @ericl @richardliaw @rkooo567 @jjyao
/dashboard/modules/usage_stats/ @ericl @richardliaw @rkooo567 @jjyao


# ==== Build and CI ====

# Bazel.
#/BUILD.bazel @ray-project/ray-core @ray-project/ray-ci
#/WORKSPACE @ray-project/ray-core @ray-project/ray-ci
#/bazel/ @ray-project/ray-core @ray-project/ray-ci

# CI scripts.
#/.travis.yml @ray-project/ray-core @ray-project/ray-ci
#/ci/ @ray-project/ray-core @ray-project/ray-ci

# Buildkite pipeline management
.buildkite/hooks @ray-project/ray-ci

/release/ray_release @ray-project/ray-ci

/.github/ISSUE_TEMPLATE/ @ericl @stephanie-wang @scv119 @pcmoritz
