Repository ray-project/ray, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ray-project/ray-core-cpp, @ray-project/ray-core-python, @ray-project/ray-core-java, @ray-project/ray-tune, @ray-project/rllib, @ray-project/ray-core

Add configurable num_elements_limit in Nexmark query_1
  python/ray/experimental/streaming/benchmarks/macro/nexmark/query_1.py
  python/ray/experimental/streaming/operator_instance.py
Owners: @ray-project/ray-core-python

[sgd] hotfix example failure (#5297)
  python/ray/experimental/sgd/examples/train_example.py
Owners: @ray-project/ray-core-python

[sgd] hotfix example failure (#5297)
  python/ray/experimental/sgd/examples/train_example.py
Owners: @ray-project/ray-core-python

homepage
  doc/source/index.rst
  doc/source/walkthrough.rst
Owners: none

update rnn example
  ci/jenkins_tests/run_rllib_tests.sh
  python/ray/rllib/agents/ppo/ppo.py
  python/ray/rllib/examples/custom_keras_rnn_model.py
Owners: @ray-project/rllib

fix
  python/ray/rllib/examples/custom_keras_rnn_model.py
Owners: @ray-project/rllib

Address
  python/ray/tests/test_dynres.py
Owners: @ray-project/ray-core-python

Fix typo
  python/ray/tests/test_dynres.py
Owners: @ray-project/ray-core-python

sleep
  python/ray/tests/test_dynres.py
Owners: @ray-project/ray-core-python

flaky test
  python/ray/tests/test_actor.py
Owners: @ray-project/ray-core-python

fix python lint
  python/ray/monitor.py
  python/ray/tests/test_dynres.py
Owners: @ray-project/ray-core-python

Fix releasing CPUs incorrectly when actor creation task blocked. (#5271)
  python/ray/tests/test_dynres.py
  src/ray/raylet/node_manager.cc
Owners: @ray-project/ray-core-python, @ray-project/ray-core-cpp

Fix releasing CPUs incorrectly when actor creation task blocked. (#5271)
  python/ray/tests/test_dynres.py
  src/ray/raylet/node_manager.cc
Owners: @ray-project/ray-core-python, @ray-project/ray-core-cpp

[rllib] Better example rnn envs (#5300)
  ci/jenkins_tests/run_rllib_tests.sh
  python/ray/rllib/agents/ppo/ppo.py
  python/ray/rllib/examples/custom_keras_rnn_model.py
  python/ray/tests/test_actor.py
Owners: @ray-project/rllib, @ray-project/ray-core-python

[rllib] Better example rnn envs (#5300)
  ci/jenkins_tests/run_rllib_tests.sh
  python/ray/rllib/agents/ppo/ppo.py
  python/ray/rllib/examples/custom_keras_rnn_model.py
  python/ray/tests/test_actor.py
Owners: @ray-project/rllib, @ray-project/ray-core-python

Bump version to 0.7.3
  python/ray/__init__.py
  src/ray/raylet/main.cc
Owners: @ray-project/ray-core-python, @ray-project/ray-core-cpp

Updates for api
  doc/source/configure.rst
  doc/source/index.rst
  doc/source/inspect.rst
  doc/source/internals-overview.rst
  doc/source/package-ref.rst
  doc/source/using-ray-with-tensorflow.rst
  doc/source/walkthrough.rst
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.

# ==== Ray core ====

# All C++ code.
/src/ray @ray-project/ray-core-cpp

# Python worker.
/python/ray/ @ray-project/ray-core-python
!/python/ray/tune/ @ray-project/ray-core-python
!/python/ray/rllib/ @ray-project/ray-core-python
!/python/ray/modin/ @ray-project/ray-core-python

# Java worker.
/java/ @ray-project/ray-core-java

# ==== Libraries and frameworks ====

# Ray tune.
/python/ray/tune/ @ray-project/ray-tune

# RLlib.
/python/ray/rllib/ @ray-project/rllib

# ==== Build and CI ====

# Bazel.
/BUILD.bazel @ray-project/ray-core
/WORKSPACE @ray-project/ray-core
/bazel/ @ray-project/ray-core

# CI scripts.
/.travis.yml @ray-project/ray-core
/ci/travis/ @ray-project/ray-core
