Repository ray-project/ray, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ray-project/ray-docs, @wuisawesome, @ericl, @ameerhajali, @robertnishihara, @pcmoritz, @raulchen, @iycheng, @scv119, @ijrsvt, @edoakes, @alanwguo, @architkulkarni, @DmitriGekhtman, @rkooo567, @thomasdesr, @richardliaw, @amogkam, @krfricke, @jovany-wang, @kfstorm, @WangTaoTheTonic, @SongGuyang, @ckw017, @clarkzinzow, @jjyao, @jianoaix, @c21, @jiaodong, @Yard1, @bveeramani, @matthewdeng, @maxpumperla, @stephanie-wang, @suquark, @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @kouroshhakha, @xwjiang2010, @simon-mo, @shrekris-anyscale, @sihanwang41

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.


# ==== Documentation ====

# Authors responsible for copy-editing of the documentation.
# NOTE: Add @ray-project/ray-docs to all following docs subdirs.
/doc/ @ray-project/ray-docs

# ==== Ray core ====

# API compatibility
/src/ray/protobuf/common.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @iycheng @scv119
/src/ray/protobuf/gcs.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @iycheng @scv119
/src/ray/protobuf/gcs_service.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen @iycheng @scv119
/dashboard/modules/snapshot @wuisawesome @ijrsvt @edoakes @alanwguo @architkulkarni
/python/ray/autoscaler/_private/monitor.py @wuisawesome @DmitriGekhtman

# Autoscaler
/python/ray/autoscaler/ @wuisawesome @DmitriGekhtman @ericl

# Metrics
/src/ray/stats/metric_defs.h @ericl @scv119 @rkooo567
/src/ray/stats/metric_defs.cc @ericl @scv119 @rkooo567

# Telemetry
/src/ray/protobuf/usage.proto @pcmoritz @thomasdesr

# All C++ code.
# /src/ray @ray-project/ray-core-cpp

# Dependencies
/python/setup.py @richardliaw @ericl @edoakes

# Formatting tool
/ci/lint/format.sh @richardliaw @ericl @edoakes

# Docker image build script.
/ci/build/build-docker-images.py @amogkam @krfricke

# Python worker.
#/python/ray/ @ray-project/ray-core-python
#!/python/ray/tune/ @ray-project/ray-core-python
#!/python/ray/rllib/ @ray-project/ray-core-python

# Java worker.
/java/dependencies.bzl @jovany-wang @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic
/java/pom.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic
/java/pom_template.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic
/java/*/pom_template.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic
/java/api/ @jovany-wang @kfstorm @raulchen @ericl @iycheng @WangTaoTheTonic

# C++ worker
/cpp/include/ray @SongGuyang @raulchen @kfstorm

# Ray Client
/src/ray/protobuf/ray_client.proto @ijrsvt @ameerhajali @ckw017

# Runtime Env
# TODO(SongGuyang): Add new items to guarantee runtime env API compatibility in multiple languages.
/src/ray/protobuf/runtime_env_common.proto @SongGuyang @raulchen @edoakes @architkulkarni
/src/ray/protobuf/runtime_env_agent.proto @SongGuyang @raulchen @edoakes @architkulkarni

# ==== Libraries and frameworks ====

# Ray data.
/python/ray/data/ @ericl @scv119 @clarkzinzow @jjyao @jianoaix @c21
/python/ray/data/preprocessors/ @clarkzinzow @jiaodong @Yard1 @bveeramani @matthewdeng @amogkam
/python/ray/data/tests/preprocessors/ @clarkzinzow @jiaodong @Yard1 @bveeramani @matthewdeng @amogkam
/doc/source/data/ @ericl @scv119 @clarkzinzow @jjyao @jianoaix @maxpumperla @c21 @ray-project/ray-docs

# Ray workflows.
/python/ray/workflow/ @ericl @iycheng @stephanie-wang @suquark
/doc/source/workflows/ @ericl @iycheng @stephanie-wang @suquark @maxpumperla @ray-project/ray-docs

# RLlib.
/rllib/ @sven1977 @gjoliver @avnishn @arturniederfahrenhorst @smorad @maxpumperla @kouroshhakha @krfricke
/doc/source/rllib/ @sven1977 @gjoliver @avnishn @arturniederfahrenhorst @smorad @maxpumperla @kouroshhakha @krfricke @ray-project/ray-docs

# Cluster (docs)
/doc/source/cluster/ @architkulkarni @wuisawesome @DmitriGekhtman @maxpumperla @pcmoritz @ray-project/ray-docs

# Tune (docs)
/doc/source/tune/ @richardliaw @krfricke @xwjiang2010 @amogkam @matthewdeng @Yard1 @maxpumperla @ray-project/ray-docs

# Train (docs)
/doc/source/train/ @richardliaw @krfricke @xwjiang2010 @amogkam @matthewdeng @Yard1 @maxpumperla @ray-project/ray-docs

# Serve (docs)
/doc/source/serve/ @edoakes @simon-mo @jiaodong @shrekris-anyscale @sihanwang41 @architkulkarni @ray-project/ray-docs

# AIR (docs)
/doc/source/ray-air/ @richardliaw @gjoliver @krfricke @xwjiang2010 @amogkam @matthewdeng @Yard1 @maxpumperla @ray-project/ray-docs

# ML Docker Dependencies
/python/requirements/ml/requirements_dl.txt @amogkam @sven1977 @richardliaw @matthewdeng
/python/requirements/ml/requirements_ml_docker.txt @amogkam @sven1977 @richardliaw @matthewdeng

# Ray symbol export
/src/ray/ray_version_script.lds @iycheng @ericl @scv119
/src/ray/ray_exported_symbols.lds @iycheng @ericl @scv119

# Ray usage stats
/python/ray/_private/usage/ @ericl @richardliaw @rkooo567 @jjyao
/dashboard/modules/usage_stats/ @ericl @richardliaw @rkooo567 @jjyao


# ==== Build and CI ====

# Bazel.
#/BUILD.bazel @ray-project/ray-core
#/WORKSPACE @ray-project/ray-core
#/bazel/ @ray-project/ray-core

# CI scripts.
#/.travis.yml @ray-project/ray-core
#/ci/ @ray-project/ray-core

# Buildkite pipeline management
.buildkite/hooks @simon-mo @krfricke

/release/ray_release @krfricke @rkooo567 @simon-mo

/.github/ISSUE_TEMPLATE/ @ericl @stephanie-wang @scv119 @pcmoritz

Rm nevergrad kwargs
  python/ray/tune/search/nevergrad/nevergrad_search.py
Owners: none

[Core][Bug Fix] Do not start the http server if include_dashboard is False. (#31666)
  dashboard/dashboard.py
  dashboard/head.py
  dashboard/tests/test_dashboard.py
  python/ray/_private/services.py
Owners: none

[Core][Worker] opportunistically start import_thread if job_id is set (#31846)
  python/ray/_private/worker.py
Owners: none

[1/N][Advanced timeline] Include events/profiling events to the ray list tasks (#31776)
  dashboard/client/src/components/TaskTable.tsx
  dashboard/client/src/pages/state/task.tsx
  dashboard/client/src/service/placementGroup.ts
  dashboard/client/src/service/task.ts
  dashboard/client/src/type/task.ts
  dashboard/state_aggregator.py
  doc/source/ray-observability/state/state-api.rst
  python/ray/_raylet.pyx
  python/ray/experimental/state/common.py
  python/ray/experimental/state/state_manager.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_task_events.py
  release/nightly_tests/stress_tests/test_state_api_scale.py
Owners: @ray-project/ray-docs

[Core][Enable gcs scheduler 7/n] Prefer actor owner's node (#30789)
  release/nightly_tests/many_nodes_tests/multi_master_test.py
  release/release_tests.yaml
  src/ray/common/task/task.cc
  src/ray/common/task/task.h
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/raylet/local_task_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/cluster_task_manager.cc
  src/ray/raylet/scheduling/policy/hybrid_scheduling_policy.cc
  src/ray/raylet/scheduling/policy/hybrid_scheduling_policy.h
  src/ray/raylet/scheduling/policy/scheduling_options.h
Owners: none

wip
  rllib/env/multi_agent_env.py
  rllib/examples/env/multi_agent.py
  rllib/examples/env/simple_rpg.py
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke

wip
  rllib/examples/env/multi_agent.py
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke

wip
  rllib/algorithms/algorithm.py
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke

LINT
  rllib/algorithms/alpha_star/tests/test_alpha_star.py
  rllib/examples/self_play_league_based_with_open_spiel.py
  rllib/examples/self_play_with_open_spiel.py
Owners: @sven1977, @gjoliver, @avnishn, @arturniederfahrenhorst, @smorad, @maxpumperla, @kouroshhakha, @krfricke

up
  doc/source/ray-core/fault-tolerance.rst
  doc/source/ray-core/fault_tolerance/ray_components.rst
Owners: @ray-project/ray-docs
