Repository ray-project/ray, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wuisawesome, @ericl, @ameerhajali, @robertnishihara, @pcmoritz, @raulchen, @ijrsvt, @joeybai, @alanwguo, @architkulkarni, @kombuchafox, @richardliaw, @edoakes, @jovany-wang, @kfstorm, @ckw017, @mwtian, @ray-project/ray-tune, @scv119, @iycheng

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.

# ==== Ray core ====

# API compatibility
/src/ray/protobuf/common.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/src/ray/protobuf/gcs.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/src/ray/protobuf/gcs_service.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/dashboard/modules/snapshot @wuisawesome @ijrsvt @joeybai @alanwguo @architkulkarni @kombuchafox

# All C++ code.
# /src/ray @ray-project/ray-core-cpp

# Dependencies
/python/setup.py @richardliaw @ericl @edoakes

# Formatting tool
/ci/travis/format.sh @richardliaw @ericl @edoakes

# Python worker.
#/python/ray/ @ray-project/ray-core-python
#!/python/ray/tune/ @ray-project/ray-core-python
#!/python/ray/rllib/ @ray-project/ray-core-python

# Java worker.
/java/dependencies.bzl @jovany-wang @kfstorm @raulchen
/java/pom.xml @jovany-wang @kfstorm @raulchen
/java/pom_template.xml @jovany-wang @kfstorm @raulchen
/java/*/pom_template.xml @jovany-wang @kfstorm @raulchen
/java/api/ @jovany-wang @kfstorm @raulchen

# Ray Client
/src/ray/protobuf/ray_client.proto @ijrsvt @ameerhajali @ckw017 @mwtian

# ==== Libraries and frameworks ====

# Ray tune.
/python/ray/tune/ @ray-project/ray-tune

# Ray data.
/python/ray/data/ @ericl @scv119
/doc/source/data/ @ericl @scv119

# Ray workflows.
/python/ray/workflow/ @ericl @iycheng
/doc/source/workflows/ @ericl @iycheng

# RLlib.
#/python/ray/rllib/ @ray-project/rllib

# ==== Build and CI ====

# Bazel.
#/BUILD.bazel @ray-project/ray-core
#/WORKSPACE @ray-project/ray-core
#/bazel/ @ray-project/ray-core

# CI scripts.
#/.travis.yml @ray-project/ray-core
#/ci/travis/ @ray-project/ray-core

Added retry logic in test_ray_options
  python/ray/tests/test_basic.py
Owners: none

Applied linting format
  python/ray/tests/test_basic.py
Owners: none

add config
  java/api/src/main/java/io/ray/api/call/BaseActorCreator.java
  java/api/src/main/java/io/ray/api/options/ActorCreationOptions.java
  java/runtime/src/main/java/io/ray/runtime/RayNativeRuntime.java
  java/runtime/src/main/java/io/ray/runtime/config/RayConfig.java
  java/runtime/src/main/java/io/ray/runtime/task/LocalModeTaskSubmitter.java
  java/runtime/src/main/resources/ray.default.conf
  java/test.sh
  java/test/src/main/java/io/ray/test/BackPressureTest.java
  java/test/src/main/java/io/ray/test/SignalActor.java
  java/testng.xml
  python/ray/_raylet.pyx
  python/ray/actor.py
  python/ray/includes/common.pxd
  python/ray/job_config.py
  python/ray/tests/test_advanced_4.py
  src/ray/core_worker/actor_handle.cc
  src/ray/core_worker/actor_handle.h
  src/ray/core_worker/common.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/lib/java/io_ray_runtime_task_NativeTaskSubmitter.cc
  src/ray/core_worker/lib/java/jni_init.cc
  src/ray/core_worker/lib/java/jni_utils.h
  src/ray/object_manager/plasma/object_lifecycle_manager.cc
  src/ray/object_manager/plasma/object_store.cc
  src/ray/protobuf/common.proto
  src/ray/protobuf/core_worker.proto
  src/ray/protobuf/gcs.proto
Owners: @jovany-wang, @kfstorm, @raulchen, @wuisawesome, @ericl, @ameerhajali, @robertnishihara, @pcmoritz

done
  src/ray/raylet/scheduling/cluster_task_manager.cc
Owners: none

Skip tests on windows
  python/ray/tests/test_traceback.py
Owners: none

done
  python/ray/util/placement_group.py
Owners: none

Use scaling cluster
  release/xgboost_tests/tpl_gpu_small_scaling.yaml
  release/xgboost_tests/workloads/train_gpu_connect.py
  release/xgboost_tests/xgboost_tests.yaml
Owners: none

fix
  python/ray/_private/runtime_env/container.py
  python/ray/_private/runtime_env/validation.py
  python/ray/tests/test_runtime_env.py
  python/ray/util/client/server/server.py
  python/ray/worker.py
  src/ray/protobuf/ray_client.proto
Owners: @ijrsvt, @ameerhajali, @ckw017, @mwtian

typo
  release/xgboost_tests/xgboost_tests.yaml
Owners: none

Added random port selection for multiple ray instances
  python/ray/_private/services.py
Owners: none

Conditional search spaces
  doc/source/tune/api_docs/search_space.rst
  doc/source/tune/key-concepts.rst
Owners: none

Increase xgboost placement group timeout
  release/xgboost_tests/workloads/train_gpu_connect.py
Owners: none

Update python/ray/workers/setup_worker.py
  python/ray/workers/setup_worker.py
Owners: none

fixed
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
Owners: none

.
  src/ray/raylet/scheduling/cluster_task_manager.cc
Owners: none

Much higher timeout
  release/xgboost_tests/workloads/train_gpu_connect.py
  release/xgboost_tests/xgboost_tests.yaml
Owners: none

wip.
  rllib/BUILD
Owners: none

Verbose node IP output
  release/tune_tests/cloud_tests/workloads/_tune_script.py
  release/tune_tests/cloud_tests/workloads/run_cloud_test.py
Owners: none

Move os environment timeout
  release/xgboost_tests/workloads/train_gpu_connect.py
  release/xgboost_tests/xgboost_tests.yaml
Owners: none
