Repository ray-project/ray, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wuisawesome, @ericl, @ameerhajali, @robertnishihara, @pcmoritz, @raulchen, @ijrsvt, @joeybai, @alanwguo, @architkulkarni, @kombuchafox, @scv119, @rkooo567, @richardliaw, @edoakes, @jovany-wang, @kfstorm, @iycheng, @ckw017, @mwtian, @SongGuyang, @ray-project/ray-tune, @sven1977, @gjoliver, @avnishn, @amogkam, @matthewdeng

shorten
  doc/source/_toc.yml
Owners: none

[Doc] Remove the legacy doc (#21996)
  doc/source/ray-core/configure.rst
Owners: none

Fix spread resource prefix tasks with no CPU requested.
  python/ray/data/impl/util.py
  python/ray/data/tests/test_dataset.py
Owners: @ericl, @scv119

update
  python/ray/data/dataset.py
Owners: @ericl, @scv119

Move deploy_group API functions to api.py
  python/ray/serve/api.py
Owners: none

Switch os.rename with shutil.move to support cross-filesystem movement
  python/ray/_private/runtime_env/packaging.py
Owners: none

Linter
  python/ray/_private/runtime_env/packaging.py
Owners: none

add .options() support for task, add tests, split actor and task tests
  python/ray/actor.py
  python/ray/experimental/dag/actor_node.py
  python/ray/experimental/dag/dag_node.py
  python/ray/experimental/dag/py_obj_scanner.py
  python/ray/experimental/dag/task_node.py
  python/ray/experimental/dag/test_dag.py
  python/ray/remote_function.py
Owners: none

remove test
  python/ray/serve/tests/test_api.py
Owners: none

report primary bytes only
  src/ray/common/ray_config_def.h
  src/ray/raylet/local_object_manager.h
  src/ray/raylet/node_manager.cc
Owners: none

Addressed code review.
  python/ray/tests/BUILD
  python/ray/tests/test_placement_group.py
  python/ray/tests/test_placement_group_4.py
Owners: none

Over
  dashboard/http_server_head.py
  python/ray/_private/services.py
Owners: none

Formatting
  release/alerts/default.py
  release/alerts/long_running_tests.py
  release/alerts/rllib_tests.py
  release/alerts/tune_tests.py
  release/alerts/xgboost_tests.py
  release/e2e.py
Owners: none

add integration test
  python/ray/tests/test_autoscaler_fake_multinode.py
  src/ray/common/ray_config_def.h
  src/ray/raylet/node_manager.cc
Owners: none

[Datasets] Tie `_DesignatedBlockOwner` lifetime to context creator (#22007)
  python/ray/data/context.py
Owners: @ericl, @scv119

Implement working path for deploy_group via api.py
  python/ray/serve/__init__.py
  python/ray/serve/api.py
  python/ray/serve/controller.py
  python/ray/serve/tests/test_deploy.py
Owners: none

add .options() for actor constructor, added tests
  python/ray/actor.py
  python/ray/experimental/dag/actor_node.py
Owners: none

[Datasets] Fix spread resource prefix tasks with no CPU requested. (#22017)
  python/ray/data/impl/util.py
  python/ray/data/tests/test_dataset.py
Owners: @ericl, @scv119

add debug
  python/ray/tests/test_autoscaler_fake_multinode.py
Owners: none

[all tests passed] support actor method call with a few new test cases
  python/ray/experimental/dag/actor_node.py
  python/ray/experimental/dag/dag_node.py
Owners: none

update
  python/ray/data/dataset.py
Owners: @ericl, @scv119

update
  python/ray/data/dataset.py
Owners: @ericl, @scv119

Implement unit test for deployments with mutual ServeHandles
  python/ray/serve/tests/test_deploy.py
Owners: none

Decorate `get_device` with `PublicAPI`
  python/ray/train/torch.py
Owners: none

fix
  python/ray/_raylet.pxd
  python/ray/includes/object_ref.pxi
  python/ray/includes/unique_ids.pxi
  python/ray/tests/test_client.py
  python/ray/util/client/__init__.py
Owners: none

[resource-reporting 4/n] Separate cluster resource manager from cluster resource scheduler (#21992)
  src/mock/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/mock/ray/raylet/scheduling/cluster_resource_scheduler_interface.h
  src/ray/raylet/node_manager.cc
  src/ray/raylet/placement_group_resource_manager_test.cc
  src/ray/raylet/scheduling/cluster_resource_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_interface.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/cluster_task_manager.cc
  src/ray/raylet/scheduling/cluster_task_manager_test.cc
Owners: none

[Serve] Remove shard_key, http_method, and http_headers (#21590)
  python/ray/serve/handle.py
  python/ray/serve/http_proxy.py
  python/ray/serve/router.py
  python/ray/serve/tests/test_api.py
Owners: none

[Nightly Test] Add more metadata to test result (#21990)
  release/alerts/default.py
  release/alerts/long_running_tests.py
  release/alerts/rllib_tests.py
  release/alerts/tune_tests.py
  release/alerts/xgboost_tests.py
  release/e2e.py
Owners: none

[Dashboard] Enable dashboard in the minimal ray installation (#21896)
  .buildkite/pipeline.yml
  dashboard/dashboard.py
  dashboard/head.py
  dashboard/http_server_head.py
  dashboard/modules/reporter/reporter_head.py
  dashboard/tests/test_dashboard.py
  dashboard/utils.py
  python/ray/_private/services.py
Owners: none

make delete_fn return size of deleted dir
  python/ray/_private/runtime_env/conda.py
  python/ray/_private/runtime_env/pip.py
  python/ray/_private/runtime_env/py_modules.py
  python/ray/_private/runtime_env/working_dir.py
Owners: none

[Test] Change `test_placement_group.py` to large test (#21997)
  python/ray/tests/test_placement_group.py
  python/ray/tests/test_placement_group_4.py
Owners: none

Fix
  python/ray/data/tests/test_dataset.py
Owners: @ericl, @scv119

initial support
  python/ray/util/client/server/server.py
  python/ray/workflow/common.py
  python/ray/workflow/tests/conftest.py
Owners: @ericl, @iycheng

fxi
  python/ray/workflow/common.py
  python/ray/workflow/tests/conftest.py
Owners: @ericl, @iycheng

update
  python/ray/util/client/server/server.py
Owners: none

format
  python/ray/workflow/common.py
Owners: @ericl, @iycheng

update URICache to use set, not dict storing sizes
  python/ray/_private/runtime_env/uri_cache.py
  python/ray/tests/test_runtime_env.py
Owners: none

add missing arg _resources_dir to get_local_dir
  python/ray/_private/runtime_env/pip.py
  python/ray/_private/runtime_env/py_modules.py
Owners: none

fix
  python/ray/includes/object_ref.pxi
  python/ray/includes/unique_ids.pxi
Owners: none

cast Path to str before concatenating to sys path
  python/ray/_private/runtime_env/pip.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.

# ==== Ray core ====

# API compatibility
/src/ray/protobuf/common.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/src/ray/protobuf/gcs.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/src/ray/protobuf/gcs_service.proto @wuisawesome @ericl @ameerhajali @robertnishihara @pcmoritz @raulchen
/dashboard/modules/snapshot @wuisawesome @ijrsvt @joeybai @alanwguo @architkulkarni @kombuchafox

# Metrics
/src/ray/stats/metric_defs.h @ericl @scv119 @rkooo567
/src/ray/stats/metric_defs.cc @ericl @scv119 @rkooo567

# All C++ code.
# /src/ray @ray-project/ray-core-cpp

# Dependencies
/python/setup.py @richardliaw @ericl @edoakes

# Formatting tool
/ci/travis/format.sh @richardliaw @ericl @edoakes

# Python worker.
#/python/ray/ @ray-project/ray-core-python
#!/python/ray/tune/ @ray-project/ray-core-python
#!/python/ray/rllib/ @ray-project/ray-core-python

# Java worker.
/java/dependencies.bzl @jovany-wang @kfstorm @raulchen @ericl @iycheng
/java/pom.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng
/java/pom_template.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng
/java/*/pom_template.xml @jovany-wang @kfstorm @raulchen @ericl @iycheng
/java/api/ @jovany-wang @kfstorm @raulchen @ericl @iycheng

# Ray Client
/src/ray/protobuf/ray_client.proto @ijrsvt @ameerhajali @ckw017 @mwtian

# Runtime Env
# TODO(SongGuyang): Add new items to guarantee runtime env API compatibility in multiple languages.
/src/ray/protobuf/runtime_env_common.proto @SongGuyang @raulchen @edoakes @architkulkarni
/src/ray/protobuf/runtime_env_agent.proto @SongGuyang @raulchen @edoakes @architkulkarni

# ==== Libraries and frameworks ====

# Ray tune.
/python/ray/tune/ @ray-project/ray-tune

# Ray data.
/python/ray/data/ @ericl @scv119
/doc/source/data/ @ericl @scv119

# Ray workflows.
/python/ray/workflow/ @ericl @iycheng
/doc/source/workflows/ @ericl @iycheng

# RLlib.
/rllib/ @sven1977 @gjoliver @avnishn

# ML Docker Dependencies
/python/requirements/ml/requirements_dl.txt @amogkam @sven1977 @richardliaw @matthewdeng
/python/requirements_ml_docker.txt @amogkam @sven1977 @richardliaw @matthewdeng

# Ray symbol export
src/ray/ray_version_script.lds @mwtian @iycheng @ericl @scv119
src/ray/ray_exported_symbols.lds @mwtian @iycheng @ericl @scv119

# ==== Build and CI ====

# Bazel.
#/BUILD.bazel @ray-project/ray-core
#/WORKSPACE @ray-project/ray-core
#/bazel/ @ray-project/ray-core

# CI scripts.
#/.travis.yml @ray-project/ray-core
#/ci/travis/ @ray-project/ray-core
