Repository ray-project/ray, pull requests merged in 2019-04, with the labels that each got.

#4246 Integrate metrics
  .gitignore
  .travis.yml
  BUILD.bazel
  WORKSPACE
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/worker_pool.cc
  src/ray/stats/metric.cc
  src/ray/stats/metric.h
  src/ray/stats/metric_defs.h
  src/ray/stats/stats.h
  src/ray/stats/stats_test.cc
  src/ray/stats/tag_defs.h
  tools/install-prometheus-server.sh
Labels: perf

#4601 [Java] Implement GcsClient
  java/api/src/main/java/org/ray/api/Ray.java
  java/api/src/main/java/org/ray/api/gcs/GcsClient.java
  java/api/src/main/java/org/ray/api/gcs/NodeInfo.java
  java/api/src/main/java/org/ray/api/runtime/RayRuntime.java
  java/runtime/src/main/java/org/ray/runtime/AbstractRayRuntime.java
  java/runtime/src/main/java/org/ray/runtime/RayNativeRuntime.java
  java/runtime/src/main/java/org/ray/runtime/RuntimeContextImpl.java
  java/runtime/src/main/java/org/ray/runtime/Worker.java
  java/runtime/src/main/java/org/ray/runtime/gcs/GcsClientImpl.java
  java/runtime/src/main/java/org/ray/runtime/gcs/RedisClient.java
  java/runtime/src/main/java/org/ray/runtime/util/UniqueIdUtil.java
  java/test/src/main/java/org/ray/api/test/BaseTest.java
  java/test/src/main/java/org/ray/api/test/GcsClientTest.java
  java/test/src/main/java/org/ray/api/test/PlasmaFreeTest.java
  java/test/src/main/java/org/ray/api/test/ResourcesManagementTest.java
  java/test/src/main/java/org/ray/api/test/UniqueIdTest.java
Labels: java

#4592 [rllib] Clean up concepts documentation and policy optimizer creation
  doc/source/rllib-concepts.rst
  doc/source/rllib.rst
  python/ray/rllib/agents/a3c/a2c.py
  python/ray/rllib/agents/a3c/a3c.py
  python/ray/rllib/agents/dqn/dqn.py
  python/ray/rllib/agents/impala/impala.py
  python/ray/rllib/agents/marwil/marwil.py
  python/ray/rllib/agents/pg/pg.py
  python/ray/rllib/agents/ppo/ppo.py
  python/ray/rllib/agents/qmix/qmix_policy_graph.py
  python/ray/rllib/evaluation/keras_policy_graph.py
  python/ray/rllib/evaluation/policy_evaluator.py
  python/ray/rllib/evaluation/policy_graph.py
  python/ray/rllib/evaluation/tf_policy_graph.py
  python/ray/rllib/evaluation/torch_policy_graph.py
  python/ray/rllib/examples/multiagent_custom_policy.py
  python/ray/rllib/examples/policy_evaluator_custom_workflow.py
  python/ray/rllib/optimizers/async_gradients_optimizer.py
  python/ray/rllib/optimizers/async_replay_optimizer.py
  python/ray/rllib/optimizers/async_samples_optimizer.py
  python/ray/rllib/optimizers/multi_gpu_impl.py
  python/ray/rllib/optimizers/multi_gpu_optimizer.py
  python/ray/rllib/optimizers/policy_optimizer.py
  python/ray/rllib/optimizers/sync_batch_replay_optimizer.py
  python/ray/rllib/optimizers/sync_replay_optimizer.py
  python/ray/rllib/optimizers/sync_samples_optimizer.py
  python/ray/rllib/tests/test_external_multi_agent_env.py
  python/ray/rllib/tests/test_multi_agent_env.py
  python/ray/rllib/tests/test_optimizers.py
Labels: tests ok

#4586 [rllib] Replace ray.get() with ray_get_and_free() to optimize memory usage
  doc/source/rllib-concepts.rst
  python/ray/internal/internal_api.py
  python/ray/rllib/agents/ars/ars.py
  python/ray/rllib/agents/es/es.py
  python/ray/rllib/agents/trainer.py
  python/ray/rllib/env/remote_vector_env.py
  python/ray/rllib/evaluation/metrics.py
  python/ray/rllib/optimizers/aso_aggregator.py
  python/ray/rllib/optimizers/aso_tree_aggregator.py
  python/ray/rllib/optimizers/async_gradients_optimizer.py
  python/ray/rllib/optimizers/async_replay_optimizer.py
  python/ray/rllib/optimizers/policy_optimizer.py
  python/ray/rllib/optimizers/rollout.py
  python/ray/rllib/optimizers/sync_batch_replay_optimizer.py
  python/ray/rllib/optimizers/sync_replay_optimizer.py
  python/ray/rllib/optimizers/sync_samples_optimizer.py
  python/ray/rllib/setup-rllib-dev.py
  python/ray/rllib/utils/filter_manager.py
  python/ray/rllib/utils/memory.py
Labels: tests ok

#4710 [hotfix] Update test_trial_scheduler.py to fix unit test on Python 2
  python/ray/tune/tests/test_trial_scheduler.py
Labels: tests ok
