Repository ray-project/ray, pull requests merged in 2020-04, with the labels that each got.

#7797 [RLlib] Working/learning example: PPO + torch + LSTM.
  rllib/BUILD
  rllib/agents/ppo/ppo_torch_policy.py
  rllib/agents/ppo/tests/test_ppo.py
  rllib/examples/custom_keras_rnn_model.py
  rllib/examples/custom_torch_rnn_model.py
  rllib/models/modelv2.py
  rllib/models/tf/__init__.py
  rllib/models/tf/recurrent_tf_modelv2.py
  rllib/models/torch/__init__.py
  rllib/models/torch/recurrent_torch_model.py
  rllib/models/torch/torch_action_dist.py
  rllib/policy/rnn_sequencing.py
  rllib/policy/tf_policy.py
  rllib/policy/torch_policy.py
  rllib/policy/torch_policy_template.py
  rllib/utils/numpy.py
  rllib/utils/sgd.py
Labels: tests ok

#7798 [RLlib] Exploration API: Policy changes needed for forward pass noisifications.
  rllib/BUILD
  rllib/agents/ddpg/ddpg_policy.py
  rllib/agents/dqn/dqn_policy.py
  rllib/agents/dqn/simple_q_policy.py
  rllib/agents/impala/vtrace_policy.py
  rllib/agents/ppo/appo_policy.py
  rllib/agents/ppo/ppo_tf_policy.py
  rllib/agents/ppo/ppo_torch_policy.py
  rllib/agents/ppo/tests/test_ppo.py
  rllib/agents/qmix/qmix_policy.py
  rllib/agents/sac/sac_policy.py
  rllib/contrib/alpha_zero/core/alpha_zero_policy.py
  rllib/contrib/bandits/exploration.py
  rllib/contrib/maddpg/maddpg_policy.py
  rllib/evaluation/sampler.py
  rllib/examples/centralized_critic.py
  rllib/examples/rock_paper_scissors_multiagent.py
  rllib/models/tf/tf_action_dist.py
  rllib/policy/dynamic_tf_policy.py
  rllib/policy/eager_tf_policy.py
  rllib/policy/policy.py
  rllib/policy/sample_batch.py
  rllib/policy/tests/test_policy.py
  rllib/policy/tf_policy.py
  rllib/policy/tf_policy_template.py
  rllib/policy/torch_policy.py
  rllib/policy/torch_policy_template.py
  rllib/tests/test_checkpoint_restore.py
  rllib/utils/exploration/__init__.py
  rllib/utils/exploration/epsilon_greedy.py
  rllib/utils/exploration/exploration.py
  rllib/utils/exploration/gaussian_noise.py
  rllib/utils/exploration/ornstein_uhlenbeck_noise.py
  rllib/utils/exploration/parameter_noise.py
  rllib/utils/exploration/per_worker_epsilon_greedy.py
  rllib/utils/exploration/per_worker_gaussian_noise.py
  rllib/utils/exploration/per_worker_ornstein_uhlenbeck_noise.py
  rllib/utils/exploration/random.py
  rllib/utils/exploration/soft_q.py
  rllib/utils/exploration/stochastic_sampling.py
  rllib/utils/exploration/tests/test_explorations.py
  rllib/utils/tests/test_framework_agnostic_components.py
Labels: tests ok

#7851 [RLlib] Remove all instances of tf.contrib.layers. ... from RLlib code (deprecated).
  rllib/agents/ddpg/ddpg_policy.py
  rllib/agents/dqn/distributional_q_model.py
Labels: tests ok

#7814 [RLlib] Exploration API: ParamNoise Integration into DQN; working example/test cases.
  rllib/agents/a3c/a3c_torch_policy.py
  rllib/agents/ddpg/ddpg.py
  rllib/agents/dqn/distributional_q_model.py
  rllib/agents/dqn/dqn.py
  rllib/agents/dqn/dqn_policy.py
  rllib/agents/dqn/simple_q_policy.py
  rllib/agents/dqn/tests/test_dqn.py
  rllib/contrib/alpha_zero/core/alpha_zero_policy.py
  rllib/evaluation/sampler.py
  rllib/policy/eager_tf_policy.py
  rllib/policy/tf_policy.py
  rllib/policy/torch_policy.py
  rllib/policy/torch_policy_template.py
  rllib/tests/test_rollout.py
  rllib/tuned_examples/regression_tests/cartpole-dqn-param-noise.yaml
  rllib/tuned_examples/regression_tests/cartpole-sac.yaml
  rllib/utils/exploration/exploration.py
  rllib/utils/exploration/parameter_noise.py
  rllib/utils/exploration/random.py
  rllib/utils/exploration/tests/test_explorations.py
  rllib/utils/numpy.py
  rllib/utils/test_utils.py
Labels: tests ok

#7846 [RLlib] Bug fix: Copy `is_exploring` placeholder for multi-GPU tower generation.
  rllib/BUILD
  rllib/agents/ppo/ppo.py
  rllib/agents/ppo/tests/test_ppo.py
  rllib/optimizers/multi_gpu_optimizer.py
  rllib/policy/dynamic_tf_policy.py
  rllib/tuned_examples/regression_tests/cartpole-ppo-tf-multi-gpu.yaml
Labels: tests ok

#7894 [RLlib] Fix broken RLlib tests in master.
  .travis.yml
  rllib/BUILD
  rllib/agents/dqn/tests/test_dqn.py
  rllib/tests/run_regression_tests.py
  rllib/tuned_examples/regression_tests/cartpole-ppo-tf-multi-gpu.yaml
  rllib/utils/exploration/tests/test_explorations.py
Labels: tests ok

#7875 [sgd] make ddp optional
  doc/source/raysgd/raysgd.rst
  doc/source/raysgd/raysgd_pytorch.rst
  doc/source/raysgd/raysgd_ref.rst
  python/ray/util/sgd/tests/test_torch.py
  python/ray/util/sgd/torch/constants.py
  python/ray/util/sgd/torch/distributed_torch_runner.py
  python/ray/util/sgd/torch/torch_runner.py
  python/ray/util/sgd/torch/torch_trainer.py
  python/ray/util/sgd/torch/training_operator.py
Labels: tests ok

#7597 [RLlib] DQN torch version.
  .travis.yml
  doc/source/rllib-algorithms.rst
  rllib/BUILD
  rllib/agents/ddpg/ddpg.py
  rllib/agents/ddpg/ddpg_policy.py
  rllib/agents/ddpg/td3.py
  rllib/agents/dqn/__init__.py
  rllib/agents/dqn/distributional_q_tf_model.py
  rllib/agents/dqn/dqn.py
  rllib/agents/dqn/dqn_tf_policy.py
  rllib/agents/dqn/dqn_torch_model.py
  rllib/agents/dqn/dqn_torch_policy.py
  rllib/agents/dqn/simple_q.py
  rllib/agents/dqn/simple_q_tf_policy.py
  rllib/agents/dqn/simple_q_torch_policy.py
  rllib/agents/dqn/tests/test_apex.py
  rllib/agents/dqn/tests/test_dqn.py
  rllib/agents/dqn/tests/test_simple_q.py
  rllib/agents/ppo/tests/test_ddppo.py
  rllib/agents/ppo/tests/test_ppo.py
  rllib/agents/qmix/qmix.py
  rllib/agents/sac/sac.py
  rllib/agents/sac/sac_policy.py
  rllib/contrib/maddpg/maddpg.py
  rllib/contrib/maddpg/maddpg_policy.py
  rllib/evaluation/rollout_worker.py
  rllib/examples/custom_keras_model.py
  rllib/examples/multi_agent_two_trainers.py
  rllib/examples/parametric_action_cartpole.py
  rllib/models/catalog.py
  rllib/models/modelv2.py
  rllib/models/tf/tf_modelv2.py
  rllib/models/torch/torch_action_dist.py
  rllib/models/torch/torch_modelv2.py
  rllib/optimizers/sync_replay_optimizer.py
  rllib/policy/eager_tf_policy.py
  rllib/policy/tests/test_compute_log_likelihoods.py
  rllib/policy/tf_policy_template.py
  rllib/policy/torch_policy.py
  rllib/tests/run_regression_tests.py
  rllib/tests/test_evaluators.py
  rllib/tests/test_multi_agent_env.py
  rllib/tuned_examples/regression_tests/cartpole-dqn-tf-param-noise.yaml
  rllib/tuned_examples/regression_tests/cartpole-dqn-tf.yaml
  rllib/tuned_examples/regression_tests/cartpole-dqn-torch-param-noise.yaml
  rllib/tuned_examples/regression_tests/cartpole-dqn-torch.yaml
  rllib/tuned_examples/regression_tests/cartpole-simpleq-tf.yaml
  rllib/tuned_examples/regression_tests/cartpole-simpleq-torch.yaml
  rllib/utils/__init__.py
  rllib/utils/exploration/parameter_noise.py
  rllib/utils/exploration/tests/test_explorations.py
  rllib/utils/framework.py
  rllib/utils/numpy.py
  rllib/utils/test_utils.py
  rllib/utils/tf_ops.py
  rllib/utils/torch_ops.py
Labels: tests ok

#7836 [RLlib] MARWIL torch.
  rllib/BUILD
  rllib/agents/marwil/__init__.py
  rllib/agents/marwil/marwil.py
  rllib/agents/marwil/marwil_tf_policy.py
  rllib/agents/marwil/marwil_torch_policy.py
  rllib/agents/marwil/tests/test_marwil.py
  rllib/policy/torch_policy.py
  rllib/tuned_examples/cartpole-marwil-tf.yaml
  rllib/tuned_examples/cartpole-marwil-torch.yaml
Labels: tests ok

#7915 [RLlib] Use framework_iterator (add torch/eager/tf) to PPO and PG tests.
  rllib/agents/pg/tests/test_pg.py
Labels: tests ok

#7950 [RLlib] Add pytorch sigils to toc and add links to algo overview table.
  doc/source/rllib-algorithms.rst
  doc/source/rllib-toc.rst
  rllib/contrib/alpha_zero/models/custom_torch_models.py
  rllib/contrib/bandits/envs/parametric.py
Labels: tests ok

#7934 [RLlib] DDPG re-factor to fit into RLlib's functional algorithm builder API.
  rllib/BUILD
  rllib/agents/ddpg/ddpg.py
  rllib/agents/ddpg/ddpg_model.py
  rllib/agents/ddpg/ddpg_policy.py
  rllib/agents/ddpg/tests/test_ddpg.py
  rllib/agents/dqn/tests/test_dqn.py
  rllib/agents/sac/sac_policy.py
  rllib/evaluation/rollout_worker.py
  rllib/models/modelv2.py
  rllib/models/torch/torch_action_dist.py
  rllib/train.py
  rllib/utils/exploration/gaussian_noise.py
  rllib/utils/exploration/parameter_noise.py
  rllib/utils/exploration/tests/test_parameter_noise.py
Labels: tests ok

#7892 [Testing] Do not run any non-RLlib/core tests if only RLLib affected (except wheels).
  .travis.yml
  ci/travis/determine_tests_to_run.py
  rllib/policy/rnn_sequencing.py
Labels: tests ok

#7825 [sgd] Semantic Segmentation Example
  doc/source/raysgd/raysgd_pytorch.rst
  python/ray/util/sgd/tests/test_torch.py
  python/ray/util/sgd/torch/distributed_torch_runner.py
  python/ray/util/sgd/torch/examples/cifar_pytorch_example.py
  python/ray/util/sgd/torch/examples/segmentation/README.md
  python/ray/util/sgd/torch/examples/segmentation/__init__.py
  python/ray/util/sgd/torch/examples/segmentation/coco_utils.py
  python/ray/util/sgd/torch/examples/segmentation/example.yaml
  python/ray/util/sgd/torch/examples/segmentation/train_segmentation.py
  python/ray/util/sgd/torch/examples/segmentation/transforms.py
  python/ray/util/sgd/torch/examples/segmentation/utils.py
  python/ray/util/sgd/torch/torch_runner.py
  python/ray/util/sgd/torch/torch_trainer.py
Labels: sgd, tests ok

#8082 [RLlib] Torch DQN (APEX) TD-Error/prio. replay fixes.
  rllib/agents/dqn/dqn_torch_policy.py
  rllib/agents/dqn/tests/test_apex.py
  rllib/optimizers/async_replay_optimizer.py
  rllib/tuned_examples/atari-apex.yaml
Labels: rllib

#8038 [RayServe] RayServe Introduction and Overview
  doc/source/index.rst
  doc/source/rayserve/logo.svg
  doc/source/rayserve/overview.rst
  doc/source/serve/quickstart.rst
Labels: enhancement

#8104 [RLlib] PyTorch version of ES (Evolution Strategies).
  doc/source/rllib-algorithms.rst
  doc/source/rllib-toc.rst
  rllib/BUILD
  rllib/agents/es/__init__.py
  rllib/agents/es/es.py
  rllib/agents/es/es_tf_policy.py
  rllib/agents/es/es_torch_policy.py
  rllib/agents/es/optimizers.py
  rllib/agents/es/tests/test_es.py
  rllib/agents/es/utils.py
  rllib/models/catalog.py
  rllib/models/torch/fcnet.py
  rllib/policy/torch_policy_template.py
  rllib/tests/run_regression_tests.py
  rllib/tuned_examples/regression_tests/cartpole-es-tf.yaml
  rllib/tuned_examples/regression_tests/cartpole-es-torch.yaml
  rllib/utils/framework.py
Labels: rllib

#8073 [rllib] Fix truncate episodes mode in central critic example
  rllib/examples/centralized_critic.py
Labels: tests ok

#8101 [RLlib] Nested action space PR (minimally invasive; torch only + test).
  .travis.yml
  rllib/BUILD
  rllib/evaluation/episode.py
  rllib/evaluation/sampler.py
  rllib/models/tests/test_distributions.py
  rllib/models/tf/tf_action_dist.py
  rllib/models/torch/torch_action_dist.py
  rllib/policy/eager_tf_policy.py
  rllib/rollout.py
  rllib/utils/__init__.py
  rllib/utils/space_utils.py
Labels: tests ok

#8077 [rllib] Port DQN/Ape-X to training workflow api
  rllib/agents/dqn/apex.py
  rllib/agents/dqn/dqn.py
  rllib/agents/dqn/tests/test_apex.py
  rllib/agents/trainer.py
  rllib/agents/trainer_template.py
  rllib/execution/concurrency_ops.py
  rllib/execution/metric_ops.py
  rllib/execution/replay_ops.py
  rllib/execution/train_ops.py
  rllib/optimizers/async_replay_optimizer.py
  rllib/tests/test_evaluators.py
  rllib/tests/test_execution.py
  rllib/tests/test_reproducibility.py
  rllib/train.py
  rllib/utils/exploration/per_worker_epsilon_greedy.py
Labels: tests ok

#8206 [rllib] Execute PPO using training workflow
  rllib/agents/ppo/ddppo.py
  rllib/agents/ppo/ppo.py
  rllib/agents/trainer.py
  rllib/agents/trainer_template.py
  rllib/evaluation/worker_set.py
  rllib/execution/common.py
  rllib/execution/rollout_ops.py
  rllib/execution/train_ops.py
  rllib/models/modelv2.py
  rllib/optimizers/tests/test_optimizers.py
  rllib/tests/test_execution.py
Labels: tests ok

#8229 [RLlib] Beta distribution.
  rllib/agents/sac/sac_tf_policy.py
  rllib/models/tests/test_distributions.py
  rllib/models/tf/tf_action_dist.py
  rllib/tests/test_supported_spaces.py
Labels: tests ok

#8231 [RLlib] Remove all f-strings to keep py3.5 compatibility.
  rllib/contrib/bandits/examples/LinTS_train_wheel_env.py
  rllib/contrib/bandits/examples/tune_LinTS_train_wheel_env.py
  rllib/contrib/bandits/models/linear_regression.py
Labels: tests ok
