Repository ray-project/ray, pull requests merged in 2023-08, with the labels that each got.

#37925 [air] `pyarrow.fs` persistence (3/n): Introduce new `Checkpoint` API
  python/ray/train/BUILD
  python/ray/train/_internal/storage.py
  python/ray/train/checkpoint.py
  python/ray/train/tests/test_checkpoint.py
  python/ray/train/tests/test_new_persistence.py
Labels: tests-ok

#37962 [air] `pyarrow.fs` persistence (4/n): Introduce a simplified checkpoint manager
  python/ray/train/BUILD
  python/ray/train/_internal/checkpoint_manager.py
  python/ray/train/tests/test_checkpoint_manager.py
Labels: tests-ok

#38007 [air] Don't set rank-specific local directories for Train workers
  python/ray/train/_internal/session.py
  python/ray/train/_internal/storage.py
  python/ray/train/lightning/lightning_trainer.py
  python/ray/train/tests/test_new_persistence.py
Labels: tests-ok

#37985 [Data] Add explicit parallelism for aggregation tests involving empty datasets
  python/ray/data/tests/test_consumption.py
Labels: tests-ok

#37991 [air] Remove `ray.train.checkpoint` namespace
  python/ray/train/_checkpoint.py
  python/ray/train/_internal/checkpoint_manager.py
  python/ray/train/tests/test_checkpoint.py
  python/ray/train/tests/test_checkpoint_manager.py
  python/ray/train/tests/test_new_persistence.py
Labels: tests-ok

#38032 [ci] bigger machine to build docker image for release tests
  release/ray_release/buildkite/step.py
  release/ray_release/byod/build_ray.py
Labels: external-code-affected

#38033 [core][proto] Add debug/trace level to event
  src/ray/protobuf/event.proto
Labels: tests-ok

#38043 [data] Remove unnecessary and verbose value from error message
  python/ray/air/util/tensor_extensions/arrow.py
Labels: external-code-affected

#37888 [air] `pyarrow.fs` persistence (5/n): `ray.train.Checkpoint` save direction
  python/ray/train/BUILD
  python/ray/train/_internal/session.py
  python/ray/train/_internal/storage.py
  python/ray/train/data_parallel_trainer.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/train/trainer.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/result_grid.py
  python/ray/tune/trainable/function_trainable.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok

#37585 [core][3/3] Use the new standalone runtime env http server.
  BUILD.bazel
  dashboard/agent.py
  dashboard/consts.py
  dashboard/modules/log/log_manager.py
  dashboard/modules/runtime_env/__init__.py
  dashboard/modules/runtime_env/runtime_env_agent.py
  dashboard/modules/runtime_env/runtime_env_consts.py
  dashboard/modules/runtime_env/tests/test_runtime_env_agent.py
  dashboard/modules/state/state_head.py
  dashboard/state_aggregator.py
  doc/source/ray-core/configure.rst
  python/ray/_private/node.py
  python/ray/_private/parameter.py
  python/ray/_private/ray_constants.py
  python/ray/_private/services.py
  python/ray/_private/workers/default_worker.py
  python/ray/autoscaler/_private/constants.py
  python/ray/includes/common.pxd
  python/ray/includes/global_state_accessor.pxi
  python/ray/tests/test_client_proxy.py
  python/ray/tests/test_logging.py
  python/ray/tests/test_memory_pressure.py
  python/ray/tests/test_ray_init_2.py
  python/ray/tests/test_ray_shutdown.py
  python/ray/tests/test_state_api.py
  python/ray/tests/test_state_api_log.py
  python/ray/util/client/server/proxier.py
  python/ray/util/client/server/server.py
  python/ray/util/state/state_manager.py
  release/nightly_tests/stress_tests/test_many_runtime_envs.py
  release/nightly_tests/stress_tests/test_many_runtime_envs_runner.py
  release/release_tests.yaml
  src/ray/common/ray_config_def.h
  src/ray/protobuf/agent_manager.proto
  src/ray/protobuf/gcs.proto
  src/ray/protobuf/runtime_env_agent.proto
  src/ray/raylet/agent_manager.cc
  src/ray/raylet/agent_manager.h
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/raylet.cc
  src/ray/raylet/worker_pool.cc
  src/ray/raylet/worker_pool.h
  src/ray/raylet/worker_pool_test.cc
  src/ray/rpc/agent_manager/agent_manager_client.h
  src/ray/rpc/runtime_env/runtime_env_client.h
Labels: external-code-affected

#38114 [Doc] add syntax highlight to slurm-basic.rst
  doc/source/cluster/vms/user-guides/community/slurm-basic.rst
Labels: tests-ok

#38117 [docs]Update ray-cluster-cli.rst: add links and fix some format
  doc/source/cluster/vms/references/ray-cluster-cli.rst
Labels: tests-ok

#38088 [Doc] Reposition pydata-sphinx-theme nav bar on mobile
  doc/source/_static/css/custom.css
Labels: docs

#38104 [train] remove RL Trainer, Checkpoint, Predictor
  doc/source/ray-air/api/predictor.rst
  doc/source/ray-air/examples/index.rst
  doc/source/ray-air/examples/rl_offline_example.ipynb
  doc/source/ray-air/examples/rl_online_example.ipynb
  doc/source/ray-overview/examples.rst
  doc/source/train/api/api.rst
  python/ray/air/_internal/usage.py
  python/ray/air/examples/rl_offline_example.ipynb
  python/ray/air/examples/rl_online_example.ipynb
  python/ray/train/BUILD
  python/ray/train/rl/__init__.py
  python/ray/train/rl/rl_checkpoint.py
  python/ray/train/rl/rl_predictor.py
  python/ray/train/rl/rl_trainer.py
  python/ray/train/tests/test_checkpoints.py
  python/ray/train/tests/test_rl_predictor.py
  python/ray/train/tests/test_rl_trainer.py
  python/ray/train/tests/test_trainer_restore.py
Labels: tests-ok

#38057 [air] `pyarrow.fs` persistence (6/n): Fix `Trial` + `Experiment` paths to use the `StorageContext`
  python/ray/air/_internal/uri_utils.py
  python/ray/train/_internal/storage.py
  python/ray/train/base_trainer.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/config_parser.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/impl/tuner_internal.py
  python/ray/tune/result_grid.py
  python/ray/tune/search/basic_variant.py
  python/ray/tune/search/search_generator.py
  python/ray/tune/tests/test_api.py
  python/ray/tune/tests/test_trial_scheduler.py
  python/ray/tune/tune.py
Labels: tests-ok

#38011 [Core][Java Label Schedduling 1/n]Java worker add set & get node labels api
  java/api/src/main/java/io/ray/api/runtimecontext/NodeInfo.java
  java/runtime/src/main/java/io/ray/runtime/gcs/GcsClient.java
  java/runtime/src/main/java/io/ray/runtime/runner/RunManager.java
  java/test/src/main/java/io/ray/test/NodeLabelSchedulingTest.java
Labels: external-code-affected

#38137 [RLlib][docs] Cherry-pick-learner-docs-263
  doc/source/_toc.yml
  doc/source/rllib/package_ref/index.rst
  doc/source/rllib/package_ref/learner.rst
  doc/source/rllib/package_ref/rl_modules.rst
  doc/source/rllib/rllib-learner.rst
  doc/source/rllib/rllib-rlmodule.rst
  rllib/core/learner/learner.py
  rllib/core/learner/learner_group.py
  rllib/core/learner/scaling_config.py
Labels: release-blocker, external-code-affected

#38093 [core][autoscaler] Fix number of dispatching tasks inconsistent with resources usage on single node
  .buildkite/pipeline.build.yml
  python/ray/autoscaler/v2/BUILD
  python/ray/autoscaler/v2/tests/test_e2e.py
  python/ray/autoscaler/v2/tests/test_sdk.py
  python/ray/autoscaler/v2/tests/test_utils.py
  src/ray/raylet/scheduling/cluster_task_manager_test.cc
  src/ray/raylet/scheduling/scheduler_resource_reporter.cc
Labels: external-code-affected

#28512 [Jobs] Add template for how metadata could be passed
  dashboard/modules/job/cli.py
  dashboard/modules/job/cli_utils.py
  dashboard/modules/job/tests/test_cli.py
  dashboard/modules/job/tests/test_cli_integration.py
  doc/source/cluster/running-applications/job-submission/quickstart.rst
  python/ray/_private/ray_constants.py
Labels: tests-ok

#38141 [air] `pyarrow.fs` persistence (7/n): `ray.train.Checkpoint` restore: Auto-recovery fault tolerance
  python/ray/train/_checkpoint.py
  python/ray/train/_internal/storage.py
  python/ray/train/base_trainer.py
  python/ray/train/data_parallel_trainer.py
  python/ray/train/gbdt_trainer.py
  python/ray/train/tests/test_base_trainer.py
  python/ray/train/tests/test_checkpoint.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/train/trainer.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/trainable/function_trainable.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok

#38227 [air] `pyarrow.fs` persistence: Some circular dependency cleanup
  python/ray/train/trainer.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/trainable/function_trainable.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok

#37118 [Cluster] Add custom resources in node list
  dashboard/client/src/pages/node/NodeRow.tsx
  dashboard/client/src/pages/node/hook/useNodeList.ts
  dashboard/client/src/pages/node/index.tsx
  dashboard/client/src/type/node.d.ts
  dashboard/modules/node/node_head.py
  python/ray/autoscaler/_private/util.py
  python/ray/tests/autoscaler/util.py
Labels: @author-action-required

#37043 [UI] [Job Detail Page] [Task Table] Allow profiling / stack trace view
  dashboard/client/src/common/ProfilingLink.tsx
  dashboard/client/src/components/TaskTable.tsx
  dashboard/client/src/pages/task/TaskPage.tsx
  dashboard/client/src/type/task.ts
  dashboard/modules/log/log_agent.py
  dashboard/modules/reporter/reporter_head.py
  dashboard/modules/reporter/tests/test_reporter.py
  python/ray/util/state/state_manager.py
Labels: @author-action-required

#38143 [air] `pyarrow.fs` persistence (8/n): `ray.train.Checkpoint` restore: `resume_from_checkpoint`
  python/ray/train/BUILD
  python/ray/train/base_trainer.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/result_grid.py
Labels: tests-ok

#37874 in `ray stop`, terminate and wait the processes one kind a time.
  python/ray/autoscaler/_private/constants.py
  python/ray/scripts/scripts.py
Labels: @author-action-required

#38228 [Data] Add `Dataset.write_images`
  doc/source/data/api/input_output.rst
  doc/source/data/working-with-images.rst
  python/ray/data/dataset.py
  python/ray/data/datasource/file_based_datasource.py
  python/ray/data/datasource/image_datasource.py
  python/ray/data/tests/test_image.py
Labels: tests-ok

#38235 [Data] Remove option to disable block splitting
  python/ray/data/_internal/compute.py
  python/ray/data/_internal/lazy_block_list.py
  python/ray/data/_internal/stats.py
  python/ray/data/context.py
  python/ray/data/datasource/datasource.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_image.py
  python/ray/data/tests/test_optimize.py
  python/ray/data/tests/test_size_estimation.py
  release/air_tests/air_benchmarks/mlperf-train/resnet50_ray_air.py
Labels: tests-ok

#38096 [Core] Ray drain node endpoint [2/n]
  python/ray/_private/state.py
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  python/ray/includes/global_state_accessor.pxd
  python/ray/includes/global_state_accessor.pxi
  python/ray/tests/BUILD
  python/ray/tests/test_draining.py
  python/ray/tests/test_global_state.py
  src/mock/ray/raylet_client/raylet_client.h
  src/ray/common/scheduling/cluster_resource_data.cc
  src/ray/common/scheduling/cluster_resource_data.h
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_client/accessor.h
  src/ray/gcs/gcs_client/gcs_client.cc
  src/ray/gcs/gcs_client/gcs_client.h
  src/ray/gcs/gcs_client/global_state_accessor.cc
  src/ray/gcs/gcs_client/global_state_accessor.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_resource_manager.cc
  src/ray/gcs/gcs_server/gcs_resource_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/test/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/gcs_server/test/gcs_resource_manager_test.cc
  src/ray/gcs/gcs_server/test/gcs_server_test_util.h
  src/ray/gcs/pb_util.h
  src/ray/gcs/test/gcs_test_util.h
  src/ray/protobuf/BUILD
  src/ray/protobuf/autoscaler.proto
  src/ray/protobuf/gcs.proto
  src/ray/protobuf/gcs_service.proto
  src/ray/protobuf/node_manager.proto
  src/ray/raylet/local_task_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/scheduling/cluster_resource_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/cluster_task_manager_test.cc
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/scheduling/local_resource_manager_test.cc
  src/ray/raylet_client/raylet_client.cc
  src/ray/raylet_client/raylet_client.h
  src/ray/rpc/gcs_server/gcs_rpc_client.h
  src/ray/rpc/gcs_server/gcs_rpc_server.h
  src/ray/rpc/node_manager/node_manager_client.h
  src/ray/rpc/node_manager/node_manager_server.h
Labels: tests-ok, external-code-affected

#38234 [Data] Remove dead code from `BinaryDatasource`
  python/ray/data/datasource/binary_datasource.py
  python/ray/data/datasource/image_datasource.py
  python/ray/data/datasource/text_datasource.py
Labels: tests-ok

#37989 [Unified TorchTrainer] Add PyTorch Lightning Trainer Utilities
  doc/source/_toc.yml
  doc/source/train/api/api.rst
  doc/source/train/distributed-pytorch/checkpoints.rst
  doc/source/train/distributed-pytorch/converting-existing-training-loop.rst
  doc/source/train/distributed-pytorch/data-loading-preprocessing.rst
  doc/source/train/distributed-pytorch/experiment-tracking.rst
  doc/source/train/distributed-pytorch/migration-guides.rst
  doc/source/train/distributed-pytorch/monitoring-logging.rst
  doc/source/train/examples/lightning/lightning_cola_advanced.ipynb
  doc/source/train/examples/lightning/lightning_mnist_example.ipynb
  python/ray/train/BUILD
  python/ray/train/lightning/__init__.py
  python/ray/train/lightning/_lightning_utils.py
  python/ray/train/lightning/lightning_trainer.py
  python/ray/train/tests/lightning_test_utils.py
  python/ray/train/tests/test_torch_lightning_train.py
  semgrep.yml
Labels: tests-ok

#38268 [core][autoscaler] Fix idle resource status accounting from raylet
  python/ray/autoscaler/v2/tests/test_e2e.py
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager.h
Labels: release-blocker

#38044 [civ2][flakiness/11] port python/ray/serve tests over to civ02
  .buildkite/pipeline.build.yml
  .buildkite/pipeline.build_serve.yml
  ci/ray_ci/serve.tests.env.sh
Labels: external-code-affected

#37736 [data] streaming generator integration
  python/ray/data/_internal/execution/bulk_executor.py
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/map_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_executor_resource_management.py
  python/ray/data/tests/test_operators.py
  python/ray/data/tests/test_streaming_executor.py
  python/ray/data/tests/util.py
Labels: @author-action-required

#38276 [Train] Improve Lightning and Train API Documentations
  doc/source/data/loading-data.rst
  doc/source/ray-air/api/configs.rst
  doc/source/train/api/api.rst
  doc/source/train/getting-started-pytorch-lightning.rst
  doc/source/train/user-guides/data-loading-preprocessing.rst
  semgrep.yml
Labels: tests-ok

#38327 [Doc] Allow docs example gallery to specify tags with url query params
  doc/source/_ext/queryparamrefs.py
  doc/source/_static/css/use_cases.css
  doc/source/_static/js/tags.js
  doc/source/conf.py
  doc/source/ray-overview/use-cases.rst
Labels: docs

#38284 [air] `pyarrow.fs` persistence (10/n): Unify Tune and Train sessions to support new persistence path in `FunctionTrainable`
  python/ray/train/_internal/backend_executor.py
  python/ray/train/_internal/checkpoint_manager.py
  python/ray/train/_internal/session.py
  python/ray/train/_internal/storage.py
  python/ray/train/constants.py
  python/ray/train/data_parallel_trainer.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/train/tests/util.py
  python/ray/train/trainer.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/trainable/function_trainable.py
  python/ray/tune/trainable/trainable.py
  python/ray/tune/tune.py
Labels: tests-ok

#38391 [train] minor documentation improvements
  doc/BUILD
  doc/source/_static/js/custom.js
  doc/source/_toc.yml
  doc/source/train/api/api.rst
  doc/source/train/distributed-xgboost-lightgbm.rst
  doc/source/train/doc_code/hf_trainer.py
  doc/source/train/huggingface-accelerate.rst
  doc/source/train/more-frameworks.rst
  doc/source/train/user-guides/fault-tolerance.rst
  doc/source/tune/api/result_grid.rst
Labels: tests-ok

#38395 [Serve] Add gRPC Proxy related protos
  BUILD.bazel
  src/ray/protobuf/serve.proto
Labels: serve

#38387 [Serve] refactor HTTPProxy into GenericProxy
  python/ray/serve/_private/http_proxy.py
Labels: serve

#38355 [air] `pyarrow.fs` persistence (11/n): Support pausing trials (and certain schedulers)
  python/ray/tune/BUILD
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/tests/test_actor_reuse.py
Labels: tests-ok

#38448 [Core] Unify ResourceRequest and ResourceSet [1/n]
  src/ray/common/BUILD
  src/ray/common/bundle_spec.h
  src/ray/common/scheduling/cluster_resource_data.cc
  src/ray/common/scheduling/resource_set.cc
  src/ray/common/scheduling/resource_set.h
  src/ray/common/scheduling/scheduling_resources.cc
  src/ray/common/task/task_spec.cc
  src/ray/common/task/task_spec.h
  src/ray/raylet/local_task_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/placement_group_resource_manager.h
  src/ray/raylet/placement_group_resource_manager_test.cc
  src/ray/raylet/raylet.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/cluster_task_manager_test.cc
  src/ray/raylet/scheduling/local_resource_manager.h
  src/ray/raylet/worker.h
Labels: tests-ok

#38437 [Core] Fix `test_placement_group_parallel_submission` to actually test parallel pg submission instead of serial.
  python/ray/tests/test_placement_group_5.py
Labels: core

#38468 [Serve] Add grpc options
  python/ray/serve/config.py
  python/ray/serve/tests/test_config.py
Labels: serve

#38414 [runtime env] dedup pip installs
  python/ray/_private/runtime_env/pip.py
  python/ray/tests/test_runtime_env_conda_and_pip_3.py
  python/ray/tests/test_runtime_env_conda_and_pip_4.py
Labels: tests-ok

#37815 Adding VMware platforms support such as vSphere to Ray Autoscaler
  ci/ci.sh
  doc/source/cluster/vms/getting-started.rst
  python/ray/autoscaler/_private/providers.py
  python/ray/autoscaler/_private/vsphere/ARCHITECTURE.md
  python/ray/autoscaler/_private/vsphere/__init__.py
  python/ray/autoscaler/_private/vsphere/config.py
  python/ray/autoscaler/_private/vsphere/data/userdata.yaml
  python/ray/autoscaler/_private/vsphere/node_provider.py
  python/ray/autoscaler/_private/vsphere/utils.py
  python/ray/autoscaler/launch_and_verify_cluster.py
  python/ray/autoscaler/vsphere/__init__.py
  python/ray/autoscaler/vsphere/defaults.yaml
  python/ray/tests/BUILD
  python/ray/tests/vsphere/test_vsphere_node_provider.py
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
Labels: tests-ok, external-code-affected

#38495 [tune] Replace deprecated np.bool8
  python/ray/tune/logger/aim.py
  python/ray/tune/logger/tensorboardx.py
  python/ray/tune/tests/test_logger.py
Labels: tests-ok

#38483 [Core] Unify ResourceRequest and ResourceSet [2/n]
  src/mock/ray/raylet/scheduling/cluster_task_manager.h
  src/mock/ray/raylet/scheduling/cluster_task_manager_interface.h
  src/ray/common/bundle_spec.h
  src/ray/common/scheduling/cluster_resource_data.cc
  src/ray/common/scheduling/cluster_resource_data.h
  src/ray/common/scheduling/resource_set.cc
  src/ray/common/scheduling/resource_set.h
  src/ray/common/test/BUILD
  src/ray/common/test/resource_request_test.cc
  src/ray/common/test/resource_set_test.cc
  src/ray/gcs/gcs_client/accessor.cc
  src/ray/gcs/gcs_server/gcs_actor_scheduler.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_monitor_server.cc
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc
  src/ray/gcs/gcs_server/test/gcs_monitor_server_test.cc
  src/ray/gcs/gcs_server/test/gcs_placement_group_scheduler_test.cc
  src/ray/gcs/gcs_server/test/gcs_resource_manager_test.cc
  src/ray/raylet/local_task_manager.cc
  src/ray/raylet/local_task_manager.h
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/raylet.cc
  src/ray/raylet/scheduling/cluster_resource_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_manager_test.cc
  src/ray/raylet/scheduling/cluster_resource_scheduler_test.cc
  src/ray/raylet/scheduling/cluster_task_manager_test.cc
  src/ray/raylet/scheduling/internal.h
  src/ray/raylet/scheduling/local_resource_manager.cc
  src/ray/raylet/scheduling/local_resource_manager_test.cc
  src/ray/raylet/scheduling/policy/bundle_scheduling_policy.cc
  src/ray/raylet/scheduling/scheduler_resource_reporter.cc
Labels: tests-ok

#38491 [air] New `train.Checkpoint` API: Update lightning, transformers, and tf integrations
  python/ray/air/integrations/keras.py
  python/ray/train/backend.py
  python/ray/train/horovod/config.py
  python/ray/train/huggingface/transformers/_transformers_utils.py
  python/ray/train/lightning/_lightning_utils.py
  python/ray/train/tensorflow/config.py
  python/ray/train/torch/config.py
Labels: tests-ok

#38510 [Serve] add `keep_alive_timeout_s` config
  python/ray/serve/BUILD
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/http_state.py
  python/ray/serve/config.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_proxy.py
Labels: serve

#38518 [train] clean up data ingest utilities
  doc/source/ray-air/api/api.rst
  doc/source/ray-air/api/dataset-ingest.rst
  python/ray/air/util/check_ingest.py
  python/ray/data/iterator.py
  python/ray/train/util/__init__.py
Labels: @author-action-required

#38507 [air] `pyarrow.fs` persistence: Don't automatically delete the local checkpoint
  python/ray/train/_internal/storage.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok

#37969 [Core][C++ Worker]c++ worker support std::any param type for cross language
  cpp/include/ray/api/msgpack_adaptor.h
  cpp/include/ray/api/serializer.h
  cpp/src/ray/test/cluster/counter.cc
  cpp/src/ray/test/cluster/counter.h
  cpp/src/ray/test/serialization_test.cc
  java/test/src/main/java/io/ray/test/CrossLanguageInvocationTest.java
Labels: external-code-affected

#38497 [train/tune] Raise actionable error message for missing dependencies
  python/ray/train/__init__.py
  python/ray/tune/__init__.py
Labels: @author-action-required

#38456 [train] Storage: Call callbacks with new checkpoint
  python/ray/tune/callback.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/experimental/output.py
  python/ray/tune/syncer.py
  python/ray/tune/utils/callback.py
Labels: @author-action-required

#38439 [Core] Child processes cleaned up by workers if raylet dies
  python/ray/tests/test_failure_3.py
  src/ray/core_worker/core_worker.cc
  src/ray/util/process.cc
Labels: core

#38523 [air] `pyarrow.fs` persistence: Remove dependence on rank 0 worker checkpoint reporting
  python/ray/train/data_parallel_trainer.py
  python/ray/train/tests/test_new_persistence.py
Labels: tests-ok

#38467 [Serve] Add gRPC proxy related data models
  python/ray/serve/BUILD
  python/ray/serve/_private/common.py
  python/ray/serve/_private/proxy_request_response.py
  python/ray/serve/tests/test_proxy_request_response.py
Labels: serve

#37998 Auto-detection of accelerator_type for aws_accelerators trn1_inf
  doc/source/ray-core/doc_code/neuron_core_accelerator.py
  doc/source/ray-core/tasks/using-ray-with-gpus.rst
  python/ray/_private/accelerator.py
  python/ray/_private/ray_constants.py
  python/ray/_private/ray_option_utils.py
  python/ray/_private/resource_spec.py
  python/ray/_private/utils.py
  python/ray/_private/worker.py
  python/ray/_raylet.pyx
  python/ray/autoscaler/_private/aws/node_provider.py
  python/ray/runtime_context.py
  python/ray/tests/BUILD
  python/ray/tests/test_accelerator.py
  python/ray/tests/test_advanced_2.py
  python/ray/tests/test_advanced_8.py
  python/ray/tests/test_autoscaler_yaml.py
  python/ray/util/accelerators/__init__.py
  python/ray/util/accelerators/accelerators.py
  src/ray/common/ray_config_def.h
  src/ray/common/test/scheduling_ids_test.cc
Labels: @author-action-required, external-code-affected

#37934 Adds TPU pod Support within the Ray Cluster Launcher.
  ci/ci.sh
  python/ray/_private/ray_constants.py
  python/ray/autoscaler/_private/gcp/config.py
  python/ray/autoscaler/_private/gcp/node.py
  python/ray/autoscaler/_private/gcp/node_provider.py
  python/ray/autoscaler/_private/gcp/tpu_command_runner.py
  python/ray/autoscaler/gcp/example-tpu-pod.yaml
  python/ray/tests/BUILD
  python/ray/tests/gcp/test_gcp_node_provider.py
  python/ray/tests/gcp/test_gcp_tpu_command_runner.py
Labels: tests-ok

#38478 [air] New `train.Checkpoint` API: Update release tests (batch 1)
  python/ray/tune/BUILD
  python/ray/tune/utils/release_test_util.py
  release/air_tests/air_benchmarks/workloads/pytorch_training_e2e.py
  release/air_tests/frequent_pausing/script.py
  release/air_tests/horovod/workloads/horovod_tune_test.py
  release/golden_notebook_tests/workloads/torch_tune_serve_test.py
  release/jobs_tests/workloads/jobs_basic.py
  release/jobs_tests/workloads/run_simple_tune_job.py
  release/release_tests.yaml
  release/tune_tests/cloud_tests/workloads/_tune_script.py
  release/tune_tests/cloud_tests/workloads/long_running_cloud_storage.py
  release/tune_tests/cloud_tests/workloads/run_cloud_test.py
  release/tune_tests/fault_tolerance_tests/workloads/test_tune_worker_fault_tolerance.py
Labels: tests-ok

#38331 K8s yaml chaos
  .buildkite/pipeline.build.yml
  ci/k8s/prep-helm.sh
  python/ray/tests/chaos/chaos_network_bandwidth.yaml
  python/ray/tests/chaos/chaos_network_delay.yaml
  python/ray/tests/chaos/potato_passer.py
  python/ray/tests/chaos/runtime_env.yaml
Labels: @author-action-required

#38393 [Serve] Add proxy routers
  python/ray/serve/BUILD
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/proxy_router.py
  python/ray/serve/tests/test_proxy_router.py
Labels: serve

#38590 [air] `pyarrow.fs` persistence: Prep removal of `air.Checkpoint` dependence in rllib
  rllib/algorithms/algorithm.py
  rllib/offline/estimators/tests/test_ope.py
  rllib/utils/checkpoints.py
Labels: tests-ok

#38588 Adds in support for specifying specific TPU topologies through `acceleratorConfig`
  python/ray/_private/ray_constants.py
  python/ray/autoscaler/_private/gcp/config.py
  python/ray/autoscaler/gcp/example-tpu-pod-topology.yaml
  python/ray/tests/gcp/test_gcp_node_provider.py
Labels: tests-ok

#38390 return 1 if `ray job submit` and the job failed.
  dashboard/BUILD
  dashboard/modules/job/cli.py
  dashboard/modules/job/tests/backwards_compatibility_scripts/test_backwards_compatibility.sh
  dashboard/modules/job/tests/test_cli_integration.py
Labels: tests-ok

#38617 [air] `pyarrow.fs` persistence (13/n): Support the `Result.from_path` API
  doc/source/train/doc_code/key_concepts.py
  python/ray/air/result.py
  python/ray/air/tests/test_result.py
  python/ray/train/_internal/storage.py
  python/ray/train/constants.py
  python/ray/train/tests/conftest.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/execution/tune_controller.py
Labels: tests-ok

#38629 [job][python311] No more auto conversion from set to list for random.sample in python 311
  dashboard/modules/job/job_head.py
Labels: tests-ok

#38091 [Serve] Collect telemetry data for multiplexed api
  python/ray/serve/_private/utils.py
  python/ray/serve/multiplex.py
  python/ray/serve/tests/test_telemetry.py
  src/ray/protobuf/usage.proto
Labels: external-code-affected

#38648 [air] `pyarrow.fs` persistence (14/n): Simplified `ExperimentAnalysis` implementation
  .buildkite/pipeline.ml.yml
  python/ray/tests/lightgbm/simple_tune.py
  python/ray/tests/xgboost/simple_tune.py
  python/ray/train/BUILD
  python/ray/train/_checkpoint.py
  python/ray/train/_internal/storage.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/train/tests/test_tune.py
  python/ray/tune/BUILD
  python/ray/tune/analysis/experiment_analysis.py
  python/ray/tune/examples/pb2_ppo_example.py
  python/ray/tune/impl/tuner_internal.py
  python/ray/tune/result_grid.py
  python/ray/tune/tests/test_experiment_analysis.py
  python/ray/tune/tests/test_experiment_analysis_mem.py
  python/ray/tune/tests/test_result_grid.py
  python/ray/tune/tune.py
Labels: tests-ok

#38657 [TPU Cluster Launcher] Fixes single host logic + adds a test
  python/ray/autoscaler/_private/gcp/config.py
  python/ray/tests/gcp/test_gcp_node_provider.py
Labels: tests-ok

#38386 [Serve] add serve-grpc installation
  doc/source/ray-overview/installation.rst
  python/setup.py
Labels: serve

#38609 [Serve] add gRPCProxy
  python/ray/serve/BUILD
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/proxy_router.py
  python/ray/serve/tests/test_proxy.py
  python/ray/serve/tests/test_proxy_router.py
Labels: serve

#38628 [Serve] Remove Serve snapshot
  dashboard/modules/snapshot/snapshot_head.py
  dashboard/modules/snapshot/snapshot_schema.json
  dashboard/modules/snapshot/tests/test_snapshot.py
  python/ray/serve/controller.py
  python/ray/serve/tests/test_standalone.py
Labels: release-blocker, P0

#38600 [Ray 2.7 Examples][2/n] Revamp the GPT-J DeepSpeed Example
  doc/source/ray-air/examples/dolly_lightning_fsdp_finetuning.ipynb
  doc/source/ray-air/examples/gptj_deepspeed_fine_tuning.ipynb
  doc/source/ray-overview/examples.rst
  doc/source/train/api/api.rst
  doc/source/train/user-guides/persistent-storage.rst
Labels: tests-ok

#38640 [Train] Deprecate `preprocessor` arg to `Trainer`
  doc/source/_toc.yml
  doc/source/data/doc_code/preprocessors.py
  doc/source/data/preprocessors.rst
  doc/source/ray-air/computer-vision.rst
  doc/source/ray-air/doc_code/computer_vision.py
  doc/source/ray-air/doc_code/output.txt
  doc/source/ray-air/examples/BUILD
  doc/source/ray-air/examples/convert_existing_pytorch_code_to_ray_air.ipynb
  doc/source/ray-air/examples/dolly_lightning_fsdp_finetuning.ipynb
  doc/source/ray-air/examples/huggingface_text_classification.ipynb
  doc/source/ray-air/examples/index.rst
  doc/source/ray-air/examples/pytorch_tabular_starter.py
  doc/source/ray-air/examples/tf_tabular_starter.py
  doc/source/ray-air/examples/torch_detection.ipynb
  doc/source/ray-air/examples/xgboost_starter.py
  doc/source/ray-air/getting-started.rst
  doc/source/ray-overview/examples.rst
  doc/source/templates/05_dreambooth_finetuning/dreambooth/dataset.py
  doc/source/train/doc_code/data_ingest_torch_migration.py
  doc/source/train/examples/lightning/lightning_cola_advanced.ipynb
  doc/source/train/examples/pytorch/pytorch_resnet_finetune.ipynb
  doc/source/train/user-guides/data-loading-preprocessing.rst
  python/ray/air/tests/test_api.py
  python/ray/air/tests/test_legacy_dataset_config.py
  python/ray/air/util/check_ingest.py
  python/ray/data/preprocessors/batch_mapper.py
  python/ray/data/preprocessors/chain.py
  python/ray/data/tests/test_tf.py
  python/ray/tests/ml_py37_compat/tune_hvd_keras.py
  python/ray/tests/ml_py37_compat/tune_hvd_torch.py
  python/ray/train/_internal/dataset_spec.py
  python/ray/train/base_trainer.py
  python/ray/train/data_parallel_trainer.py
  python/ray/train/gbdt_trainer.py
  python/ray/train/horovod/horovod_trainer.py
  python/ray/train/huggingface/accelerate/accelerate_trainer.py
  python/ray/train/huggingface/transformers/transformers_trainer.py
  python/ray/train/lightgbm/lightgbm_trainer.py
  python/ray/train/lightning/lightning_trainer.py
  python/ray/train/mosaic/mosaic_trainer.py
  python/ray/train/sklearn/sklearn_trainer.py
  python/ray/train/tensorflow/tensorflow_trainer.py
  python/ray/train/tests/test_accelerate_trainer_gpu.py
  python/ray/train/tests/test_base_trainer.py
  python/ray/train/tests/test_data_parallel_trainer_checkpointing.py
  python/ray/train/tests/test_lightgbm_trainer.py
  python/ray/train/tests/test_sklearn_trainer.py
  python/ray/train/tests/test_tensorflow_trainer.py
  python/ray/train/tests/test_xgboost_trainer.py
  python/ray/train/xgboost/xgboost_trainer.py
  release/air_tests/air_benchmarks/workloads/data_benchmark.py
  release/air_tests/air_benchmarks/workloads/pytorch_training_e2e.py
Labels: @author-action-required

#38729 [autoscaler] Set new_config logging to debug in autoscaler
  python/ray/autoscaler/_private/autoscaler.py
Labels: tests-ok

#38694 [Train] Split all Ray Datasets by default
  doc/source/train/user-guides/data-loading-preprocessing.rst
  python/ray/air/tests/test_new_dataset_config.py
  python/ray/train/_internal/data_config.py
  python/ray/train/examples/pytorch/torch_regression_example.py
  python/ray/train/examples/pytorch/tune_torch_regression_example.py
  python/ray/train/tests/test_data_parallel_trainer.py
  python/ray/train/torch/torch_trainer.py
Labels: tests-ok

#38715 [air] New `train.Checkpoint` API: Update `Train tests + examples` (batch 2 - predictor tests)
  python/ray/air/tests/test_keras_callback.py
  python/ray/train/BUILD
  python/ray/train/huggingface/transformers/transformers_predictor.py
  python/ray/train/lightgbm/lightgbm_predictor.py
  python/ray/train/lightning/lightning_predictor.py
  python/ray/train/sklearn/sklearn_predictor.py
  python/ray/train/tensorflow/tensorflow_predictor.py
  python/ray/train/tests/test_lightgbm_predictor.py
  python/ray/train/tests/test_lightning_predictor.py
  python/ray/train/tests/test_predictor.py
  python/ray/train/tests/test_sklearn_predictor.py
  python/ray/train/tests/test_tensorflow_checkpoint.py
  python/ray/train/tests/test_tensorflow_predictor.py
  python/ray/train/tests/test_torch_predictor.py
  python/ray/train/tests/test_transformers_predictor.py
  python/ray/train/tests/test_xgboost_predictor.py
  python/ray/train/tests/util.py
  python/ray/train/torch/torch_checkpoint.py
  python/ray/train/torch/torch_predictor.py
  python/ray/train/xgboost/xgboost_predictor.py
Labels: tests-ok

#38263 Task Profile/CPU Flaming Graph
  dashboard/client/src/common/ProfilingLink.tsx
  dashboard/client/src/components/TaskTable.tsx
  dashboard/client/src/pages/task/TaskPage.tsx
  dashboard/client/src/type/task.ts
  dashboard/modules/log/log_agent.py
  dashboard/modules/reporter/reporter_head.py
  dashboard/modules/reporter/tests/test_reporter.py
  python/ray/util/state/state_manager.py
Labels: @author-action-required

#38767 [air] New `train.Checkpoint` API: Update `Train tests + examples` (batch 4)
  python/ray/train/BUILD
  python/ray/train/_internal/backend_executor.py
  python/ray/train/_internal/session.py
  python/ray/train/tests/test_backend.py
  python/ray/train/tests/test_checkpoints.py
  python/ray/train/tests/test_session.py
  python/ray/train/trainer.py
Labels: tests-ok

#38759 [air] New `train.Checkpoint` API: Update `Train tests + examples` (batch 3 - `test_*_trainer`)
  python/ray/train/BUILD
  python/ray/train/examples/mosaic_cifar10_example.py
  python/ray/train/tests/test_base_trainer.py
  python/ray/train/tests/test_data_parallel_trainer.py
  python/ray/train/tests/test_data_parallel_trainer_checkpointing.py
  python/ray/train/tests/test_tensorflow_trainer.py
Labels: tests-ok

#38749 [serve] Deprecate route prefix in deployments
  dashboard/modules/serve/tests/test_serve_agent.py
  python/ray/serve/_private/client.py
  python/ray/serve/api.py
  python/ray/serve/controller.py
  python/ray/serve/deployment.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_config_files/pizza.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_standalone_2.py
Labels: release-blocker, P0

#38695 [train] Speed up downloading of large checkpoints
  python/ray/train/_internal/storage.py
Labels: tests-ok

#38536 [serve][2/X] Separate app name & deployment name
  dashboard/modules/serve/tests/test_serve_agent.py
  dashboard/modules/serve/tests/test_serve_head.py
  java/serve/src/main/java/io/ray/serve/api/ServeControllerClient.java
  python/ray/serve/_private/api.py
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/client.py
  python/ray/serve/_private/common.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deploy_utils.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/endpoint_state.py
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/proxy_router.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/router.py
  python/ray/serve/api.py
  python/ray/serve/controller.py
  python/ray/serve/handle.py
  python/ray/serve/metrics.py
  python/ray/serve/multiplex.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_application_state.py
  python/ray/serve/tests/test_autoscaling_metrics.py
  python/ray/serve/tests/test_autoscaling_policy.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_common.py
  python/ray/serve/tests/test_constructor_failure.py
  python/ray/serve/tests/test_controller_recovery.py
  python/ray/serve/tests/test_deploy_2.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_deployment_graph_autoscaling.py
  python/ray/serve/tests/test_deployment_scheduler.py
  python/ray/serve/tests/test_deployment_state.py
  python/ray/serve/tests/test_failure.py
  python/ray/serve/tests/test_grpc.py
  python/ray/serve/tests/test_healthcheck.py
  python/ray/serve/tests/test_logging.py
  python/ray/serve/tests/test_metrics.py
  python/ray/serve/tests/test_multiplex.py
  python/ray/serve/tests/test_proxy_router.py
  python/ray/serve/tests/test_runtime_env.py
  python/ray/serve/tests/test_schema.py
  python/ray/serve/tests/test_standalone.py
  python/ray/serve/tests/test_standalone_2.py
  python/ray/serve/tests/test_standalone_3.py
  src/ray/protobuf/serve.proto
Labels: release-blocker, P0

#37310 [Serve] Enable API and Proxy Actor to start gRPC Proxy
  dashboard/modules/serve/serve_agent.py
  dashboard/modules/serve/tests/test_serve_agent.py
  python/ray/serve/_private/api.py
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/http_state.py
  python/ray/serve/_private/proxy_request_response.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/usage.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/controller.py
  python/ray/serve/schema.py
  python/ray/serve/scripts.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_config_files/deploy_grpc_app.yaml
  python/ray/serve/tests/test_config_files/deploy_grpc_model_composition.yaml
  python/ray/serve/tests/test_config_files/grpc_deployment.py
  python/ray/serve/tests/test_grpc.py
  python/ray/serve/tests/test_handle.py
  python/ray/serve/tests/test_proxy_request_response.py
  python/ray/serve/tests/test_schema.py
  python/ray/serve/tests/test_standalone_3.py
  python/ray/serve/tests/test_telemetry.py
  src/ray/protobuf/usage.proto
Labels: release-blocker, P0, serve

#38697 [tune] Remove the URI parsing code
  python/ray/air/result.py
  python/ray/train/_internal/storage.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/analysis/experiment_analysis.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/result_grid.py
  python/ray/tune/tests/test_result_grid.py
  python/ray/tune/tune.py
Labels: tests-ok, Ray 2.7

#38800 [core] Store task cancellation errors in metadata to suppress unhandled warnings
  python/ray/_private/serialization.py
Labels: tests-ok

#38804 [train] New persistence mode: Support the `tune.run(restore="ckpt_path")` API
  python/ray/train/tests/util.py
  python/ray/tune/BUILD
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/tests/execution/test_controller_checkpointing_integration.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok, Ray 2.7

#38828 [train] Bump XGBoost/LightGBM versions
  python/ray/train/_internal/storage.py
  python/requirements/compat/requirements_py37_compat.txt
  python/requirements/ml/core-requirements.txt
Labels: Ray 2.7

#38820 [ci] Reduce train tests+examples parallelism
  .buildkite/pipeline.ml.yml
  python/ray/train/_checkpoint.py
Labels: tests-ok, Ray 2.7

#38686 [Ray 2.7 Examples][4/n]Revamp the Lightning `vicuna-13b` DeepSpeed fine-tuning Example
  doc/source/train/examples/lightning/vicuna_13b_lightning_deepspeed_finetune.ipynb
  python/ray/train/lightning/_lightning_utils.py
Labels: tests-ok

#38502 [serve] Add api ref and telemetry for new multi-app api
  doc/source/serve/api/index.md
  python/ray/serve/BUILD
  python/ray/serve/_private/usage.py
  python/ray/serve/api.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_telemetry.py
  python/ray/serve/tests/test_telemetry_2.py
  python/ray/serve/tests/utils.py
  src/ray/protobuf/usage.proto
Labels: tests-ok, release-blocker

#38856 [ci] Add whisper as a dependency for ray-ml-39 image release tests
  release/ray_release/byod/requirements_ml_byod_3.9.in
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Labels: tests-ok

#38034 [serve] Different smoothing factors for upscale and downscale
  doc/source/serve/scaling-and-resource-allocation.md
  python/ray/serve/_private/autoscaling_policy.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_autoscaling_policy.py
  src/ray/protobuf/serve.proto
Labels: tests-ok, release-blocker, P0

#38702 [serve][3/X] Separate app/deployment name: metrics
  dashboard/modules/metrics/dashboards/serve_dashboard_panels.py
  dashboard/modules/metrics/dashboards/serve_deployment_dashboard_panels.py
  dashboard/modules/metrics/dashboards/serve_deployment_grafana_dashboard_base.json
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/router.py
  python/ray/serve/handle.py
  python/ray/serve/metrics.py
  python/ray/serve/tests/test_metrics.py
Labels: tests-ok, @author-action-required

#38853 [train] make Trainable storage optional
  python/ray/tune/trainable/trainable.py
Labels: tests-ok

#38841 [Serve] fix flaky grpc tests in `test_cli_2`
  python/ray/serve/tests/test_cli_2.py
Labels: tests-ok, release-blocker, P0, serve

#38829 [Data] Restructure the user-provided optimizer rules file
  python/ray/data/_internal/logical/optimizers.py
  python/ray/data/_internal/logical/rules/_default_optimizer_rules.py
  python/ray/data/_internal/logical/rules/_user_provided_optimizer_rules.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_execution_optimizer.py
Labels: tests-ok

#38868 [train] enable new persistence mode for minimal train tests
  .buildkite/pipeline.build.yml
  python/ray/train/tests/test_minimal.py
Labels: tests-ok

#38866 [train] remove preprocessor logic for XGBoost/LightGBM Trainers
  python/ray/train/gbdt_trainer.py
  python/ray/train/lightgbm/lightgbm_trainer.py
  python/ray/train/xgboost/xgboost_trainer.py
Labels: tests-ok

#38864 [train] alias train.Checkpoint to new Checkpoint
  python/ray/train/__init__.py
Labels: tests-ok

#38871 [air] `pyarrow.fs` persistence (15/n): Trainable and Train worker artifact uploading
  python/ray/train/_internal/session.py
  python/ray/train/_internal/storage.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/tune/execution/experiment_state.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok, Ray 2.7

#38863 Fix typing of metrics
  python/ray/util/metrics.py
Labels: tests-ok

#38850 [docs] removing mention of AIR in diagram
  doc/source/images/what-is-ray-padded.svg
Labels: tests-ok, docs, Ray 2.7

#38736 [train] Storage refactor: Support PBT and BOHB
  .buildkite/pipeline.ml.yml
  doc/source/tune/examples/BUILD
  python/ray/air/_internal/checkpoint_manager.py
  python/ray/train/BUILD
  python/ray/train/_internal/session.py
  python/ray/train/examples/horovod/horovod_cifar_pbt_example.py
  python/ray/train/examples/pytorch/tune_cifar_torch_pbt_example.py
  python/ray/tune/BUILD
  python/ray/tune/examples/pbt_convnet_example.py
  python/ray/tune/examples/pbt_convnet_function_example.py
  python/ray/tune/examples/pbt_example.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/schedulers/hb_bohb.py
  python/ray/tune/schedulers/hyperband.py
  python/ray/tune/schedulers/pbt.py
  python/ray/tune/tests/execution/utils.py
  python/ray/tune/tests/test_checkpoint_manager.py
  python/ray/tune/tests/test_trial_scheduler.py
  python/ray/tune/tests/test_trial_scheduler_pbt.py
  python/ray/tune/tests/test_tune_restore_warm_start.py
  python/ray/tune/trainable/function_trainable.py
  python/ray/tune/trainable/trainable.py
  python/ray/tune/utils/util.py
Labels: tests-ok, Ray 2.7

#38631 [docs]removing some pins and dependencies due to errors
  doc/requirements-doc.txt
Labels: tests-ok

#38322 [serve] Prefer routing to replicas on the same node
  python/ray/serve/_private/common.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/proxy_router.py
  python/ray/serve/_private/router.py
  python/ray/serve/handle.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_common.py
  python/ray/serve/tests/test_long_poll.py
  python/ray/serve/tests/test_replica_scheduler.py
  python/ray/serve/tests/test_router.py
  python/ray/serve/tests/test_telemetry.py
Labels: tests-ok, release-blocker, P0

#37307 [core] Add template parameter for RPC auth in GCS
  BUILD.bazel
  python/ray/tests/test_gcs_fault_tolerance.py
  src/ray/common/ray_config_def.h
  src/ray/common/status.cc
  src/ray/common/status.h
  src/ray/gcs/gcs_client/gcs_client.h
  src/ray/gcs/gcs_client/test/gcs_client_test.cc
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/object_manager/object_manager.cc
  src/ray/raylet/node_manager.cc
  src/ray/rpc/agent_manager/agent_manager_server.h
  src/ray/rpc/client_call.h
  src/ray/rpc/gcs_server/gcs_rpc_client.h
  src/ray/rpc/gcs_server/gcs_rpc_server.h
  src/ray/rpc/grpc_server.h
  src/ray/rpc/node_manager/node_manager_server.h
  src/ray/rpc/object_manager/object_manager_server.h
  src/ray/rpc/server_call.h
  src/ray/rpc/test/grpc_bench/grpc_bench.cc
  src/ray/rpc/test/grpc_server_client_test.cc
  src/ray/rpc/worker/core_worker_server.h
Labels: tests-ok

#38461 [RLlib] DreamerV3: Make 200M (XL model) work; mixed float16 option
  doc/source/rllib/images/dreamerv3/atari100k_1_vs_4gpus.svg
  doc/source/rllib/images/dreamerv3/dmc_1_vs_4gpus.svg
  doc/source/rllib/images/dreamerv3/dreamerv3.png
  doc/source/rllib/images/dreamerv3/flappy_bird_env.png
  doc/source/rllib/images/dreamerv3/pong_1_2_and_4gpus.svg
  rllib/BUILD
  rllib/algorithms/dreamerv3/README.md
  rllib/algorithms/dreamerv3/dreamerv3.py
  rllib/algorithms/dreamerv3/dreamerv3_learner.py
  rllib/algorithms/dreamerv3/dreamerv3_rl_module.py
  rllib/algorithms/dreamerv3/tests/test_dreamerv3.py
  rllib/algorithms/dreamerv3/tf/dreamerv3_tf_learner.py
  rllib/algorithms/dreamerv3/tf/models/actor_network.py
  rllib/algorithms/dreamerv3/tf/models/components/cnn_atari.py
  rllib/algorithms/dreamerv3/tf/models/components/continue_predictor.py
  rllib/algorithms/dreamerv3/tf/models/components/conv_transpose_atari.py
  rllib/algorithms/dreamerv3/tf/models/components/dynamics_predictor.py
  rllib/algorithms/dreamerv3/tf/models/components/representation_layer.py
  rllib/algorithms/dreamerv3/tf/models/components/reward_predictor.py
  rllib/algorithms/dreamerv3/tf/models/components/reward_predictor_layer.py
  rllib/algorithms/dreamerv3/tf/models/components/sequence_model.py
  rllib/algorithms/dreamerv3/tf/models/components/vector_decoder.py
  rllib/algorithms/dreamerv3/tf/models/critic_network.py
  rllib/algorithms/dreamerv3/tf/models/disagree_networks.py
  rllib/algorithms/dreamerv3/tf/models/dreamer_model.py
  rllib/algorithms/dreamerv3/tf/models/world_model.py
  rllib/algorithms/dreamerv3/utils/env_runner.py
  rllib/algorithms/dreamerv3/utils/summaries.py
  rllib/tests/run_regression_tests.py
  rllib/tuned_examples/dreamerv3/atari_200M.py
  rllib/tuned_examples/dreamerv3/flappy_bird.py
  rllib/tuned_examples/dreamerv3/gymnasium_robotics.py
  rllib/tuned_examples/dreamerv3/highway_env.py
  rllib/utils/numpy.py
  rllib/utils/tf_utils.py
Labels: tests-ok, release-blocker, rllib, rllib-newstack

#38818 [train] New persistence mode: `Tune tests + examples (small)` (batch 2)
  python/ray/train/_internal/storage.py
  python/ray/train/tests/test_mosaic_trainer.py
  python/ray/tune/BUILD
  python/ray/tune/analysis/experiment_analysis.py
  python/ray/tune/result.py
  python/ray/tune/tests/test_convergence.py
  python/ray/tune/tests/test_dependency.py
  python/ray/tune/tests/test_experiment.py
  python/ray/tune/tests/test_multi_tenancy.py
  python/ray/tune/tests/test_progress_reporter.py
  python/ray/tune/tests/test_remote.py
  python/ray/tune/tests/test_run_experiment.py
  python/ray/tune/tests/test_syncer.py
  python/ray/tune/tests/test_syncer_callback.py
Labels: tests-ok, Ray 2.7

#38889 [Ray Client] Fix flaky client proxy test
  python/ray/tests/test_client_proxy.py
Labels: tests-ok

#38876 [train] enable new persistence mode for doctests
  .buildkite/pipeline.build.yml
  .buildkite/pipeline.gpu_large.yml
  doc/source/data/batch_inference.rst
  doc/source/train/distributed-xgboost-lightgbm.rst
  python/ray/air/checkpoint.py
  python/ray/train/huggingface/accelerate/accelerate_trainer.py
  python/ray/train/tensorflow/tensorflow_trainer.py
Labels: tests-ok

#38899 [ci][fix] Remove python: 3.7 in release tests
  release/release_tests.yaml
Labels: tests-ok

#38807 [train] New persistence mode: `Tune tests + examples (small)` (batch 1)
  python/ray/train/tests/test_training_iterator.py
  python/ray/train/tests/util.py
  python/ray/tune/BUILD
  python/ray/tune/tests/_test_cluster_interrupt_searcher.py
  python/ray/tune/tests/execution/test_actor_caching.py
  python/ray/tune/tests/execution/test_controller_callback_integration.py
  python/ray/tune/tests/execution/test_controller_control_integration.py
  python/ray/tune/tests/execution/test_controller_errors_integration.py
  python/ray/tune/tests/execution/test_controller_resources_integration.py
  python/ray/tune/tests/execution/test_controller_search_alg_integration.py
  python/ray/tune/tests/execution/utils.py
  python/ray/tune/tests/test_actor_reuse.py
  python/ray/tune/tests/test_cluster_searcher.py
  python/ray/tune/tests/test_trainable.py
  python/ray/tune/tests/test_tuner_restore.py
Labels: tests-ok

#38887 [tune/release] Storage: PBT release tests
  release/long_running_distributed_tests/app_config.yaml
  release/long_running_tests/app_config.yaml
  release/long_running_tests/app_config_np.yaml
Labels: tests-ok, Ray 2.7

#38811 [Docs][Serve] Add model serve using AWS NeuronCore
  doc/BUILD
  doc/source/ray-overview/examples.rst
  doc/source/serve/doc_code/aws_neuron_core_inference_serve.py
  doc/source/serve/tutorials/aws-neuron-core-inference.md
  doc/source/serve/tutorials/index.md
Labels: tests-ok

#38615 Change the color of task/actor/node with error from Red to Grey
  dashboard/client/src/components/StatusChip.tsx
Labels: tests-ok

#38922 [ci][data] add openai-whisper for release test environment
  release/ray_release/byod/requirements_ml_byod_3.9.in
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Labels: tests-ok

#38647 [KubeRay][Doc] KubeRay doc migration (1/n)
  doc/source/_static/js/custom.js
  doc/source/_toc.yml
  doc/source/cluster/configure-manage-dashboard.md
  doc/source/cluster/getting-started.rst
  doc/source/cluster/kubernetes/benchmarks.md
  doc/source/cluster/kubernetes/benchmarks/memory-scalability-benchmark.md
  doc/source/cluster/kubernetes/configs/static-ray-cluster.tls.yaml
  doc/source/cluster/kubernetes/configs/static-ray-cluster.with-fault-tolerance.yaml
  doc/source/cluster/kubernetes/examples.md
  doc/source/cluster/kubernetes/examples/gpu-training-example.md
  doc/source/cluster/kubernetes/examples/mobilenet-rayservice.md
  doc/source/cluster/kubernetes/examples/stable-diffusion-rayservice.md
  doc/source/cluster/kubernetes/examples/text-summarizer-rayservice.md
  doc/source/cluster/kubernetes/getting-started.ipynb
  doc/source/cluster/kubernetes/getting-started.md
  doc/source/cluster/kubernetes/getting-started/raycluster-quick-start.md
  doc/source/cluster/kubernetes/getting-started/rayjob-quick-start.md
  doc/source/cluster/kubernetes/getting-started/rayservice-quick-start.md
  doc/source/cluster/kubernetes/images/benchmark_architecture.png
  doc/source/cluster/kubernetes/images/benchmark_result.png
  doc/source/cluster/kubernetes/images/cpu_flame_graph.png
  doc/source/cluster/kubernetes/images/dashboard_serve.png
  doc/source/cluster/kubernetes/images/grafana_ray_dashboard.png
  doc/source/cluster/kubernetes/images/kubeflow-architecture.svg
  doc/source/cluster/kubernetes/images/prometheus_web_ui.png
  doc/source/cluster/kubernetes/images/ray_dashboard_embed_grafana.png
  doc/source/cluster/kubernetes/images/stack_trace.png
  doc/source/cluster/kubernetes/index.md
  doc/source/cluster/kubernetes/k8s-ecosystem.md
  doc/source/cluster/kubernetes/k8s-ecosystem/ingress.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kubeflow.md
  doc/source/cluster/kubernetes/k8s-ecosystem/prometheus-grafana.md
  doc/source/cluster/kubernetes/k8s-ecosystem/pyspy.md
  doc/source/cluster/kubernetes/troubleshooting.md
  doc/source/cluster/kubernetes/troubleshooting/rayservice-troubleshooting.md
  doc/source/cluster/kubernetes/troubleshooting/troubleshooting.md
  doc/source/cluster/kubernetes/user-guides.md
  doc/source/cluster/kubernetes/user-guides/aws-eks-gpu-cluster.md
  doc/source/cluster/kubernetes/user-guides/experimental.md
  doc/source/cluster/kubernetes/user-guides/gcp-gke-gpu-cluster.md
  doc/source/cluster/kubernetes/user-guides/k8s-cluster-setup.md
  doc/source/cluster/kubernetes/user-guides/pod-command.md
  doc/source/cluster/kubernetes/user-guides/pod-security.md
  doc/source/cluster/kubernetes/user-guides/rayserve-dev-doc.md
  doc/source/cluster/kubernetes/user-guides/tls.md
  doc/source/cluster/metrics.md
  doc/source/cluster/usage-stats.rst
Labels: tests-ok

#38855 [train] New persistence mode: Move `SyncConfig` to train and deprecate `Syncer`
  doc/source/ray-air/examples/dolly_lightning_fsdp_finetuning.ipynb
  doc/source/train/key-concepts.rst
  doc/source/tune/api/syncing.rst
  doc/source/tune/doc_code/faq.py
  doc/source/tune/faq.rst
  doc/source/tune/tutorials/tune-output.rst
  doc/source/tune/tutorials/tune-storage.rst
  python/ray/air/_internal/usage.py
  python/ray/air/config.py
  python/ray/air/constants.py
  python/ray/air/integrations/wandb.py
  python/ray/air/tests/test_air_usage.py
  python/ray/train/__init__.py
  python/ray/train/_internal/checkpoint.py
  python/ray/train/_internal/session.py
  python/ray/train/_internal/storage.py
  python/ray/train/_internal/syncer.py
  python/ray/train/constants.py
  python/ray/train/tests/test_new_persistence.py
  python/ray/train/tests/test_trainer_restore.py
  python/ray/tune/BUILD
  python/ray/tune/__init__.py
  python/ray/tune/analysis/experiment_analysis.py
  python/ray/tune/execution/experiment_state.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/experiment/config_parser.py
  python/ray/tune/experiment/experiment.py
  python/ray/tune/experiment/trial.py
  python/ray/tune/result.py
  python/ray/tune/syncer.py
  python/ray/tune/tests/_test_trial_runner_callbacks.py
  python/ray/tune/tests/test_api.py
  python/ray/tune/tests/test_cluster.py
  python/ray/tune/tests/test_multinode_sync.py
  python/ray/tune/tests/test_syncer.py
  python/ray/tune/tests/test_trainable.py
  python/ray/tune/tests/utils/experiment.py
  python/ray/tune/trainable/trainable.py
  python/ray/tune/tune.py
  python/ray/tune/utils/callback.py
  python/ray/tune/utils/util.py
  release/tune_tests/cloud_tests/workloads/_tune_script.py
  release/tune_tests/cloud_tests/workloads/long_running_cloud_storage.py
  release/tune_tests/scalability_tests/workloads/test_long_running_large_checkpoints.py
  release/tune_tests/scalability_tests/workloads/test_network_overhead.py
  release/tune_tests/scalability_tests/workloads/test_result_throughput_cluster.py
Labels: tests-ok

#38844 [train] Turn on new persistence mode by default
  .buildkite/pipeline.build.yml
  .buildkite/pipeline.build_py37.yml
  .buildkite/pipeline.build_redis.yml
  .buildkite/pipeline.gpu.yml
  .buildkite/pipeline.gpu_large.yml
  .buildkite/pipeline.ml.yml
  .buildkite/pipeline.windows.yml
  ci/ray_ci/container.py
  python/ray/air/tests/test_air_usage.py
  python/ray/air/tests/test_experiment_restore.py
  python/ray/tests/test_usage_stats.py
  python/ray/train/_internal/storage.py
Labels: tests-ok

#38843 [Serve] Update the test_http_headers size
  python/ray/serve/BUILD
Labels: tests-ok

#38812 [Serve] Update dashboard to display gRPC proxy related metrics and info
  dashboard/client/src/pages/serve/ServeApplicationsListPage.tsx
  dashboard/client/src/pages/serve/ServeMetricsSection.component.test.tsx
  dashboard/client/src/pages/serve/ServeMetricsSection.tsx
  dashboard/client/src/pages/serve/ServeSystemActorDetailPage.tsx
  dashboard/client/src/pages/serve/ServeSystemDetailPage.component.test.tsx
  dashboard/client/src/pages/serve/ServeSystemDetails.component.test.tsx
  dashboard/client/src/pages/serve/ServeSystemDetails.tsx
  dashboard/client/src/pages/serve/hook/useServeApplications.ts
  dashboard/client/src/type/serve.ts
  dashboard/modules/metrics/dashboards/serve_dashboard_panels.py
  dashboard/modules/metrics/dashboards/serve_grafana_dashboard_base.json
  dashboard/modules/serve/tests/test_serve_agent.py
  dashboard/modules/serve/tests/test_serve_head.py
  doc/source/serve/monitoring.md
  python/ray/serve/_private/http_proxy.py
  python/ray/serve/_private/http_state.py
  python/ray/serve/_private/proxy_request_response.py
  python/ray/serve/controller.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_grpc.py
  python/ray/serve/tests/test_metrics.py
  python/ray/serve/tests/utils.py
Labels: tests-ok, release-blocker, P0, serve

#38563 [docs] Update getting-started-pytorch-lightning.rst
  doc/source/train/getting-started-pytorch-lightning.rst
  doc/source/train/getting-started-pytorch.rst
  doc/source/train/getting-started-transformers.rst
Labels: tests-ok, docs, Ray 2.7

#38362 [serve] API cleanup for `serve.run` and `serve.start`
  doc/source/serve/doc_code/production_fruit_example.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/context.py
  python/ray/serve/scripts.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_cross_language.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_gcs_failure.py
  python/ray/serve/tests/test_handle.py
  python/ray/serve/tests/test_ray_client.py
  python/ray/serve/tests/test_runtime_env.py
  python/ray/serve/tests/test_schema.py
  python/ray/serve/tests/test_standalone.py
  python/ray/serve/tests/test_standalone_2.py
  python/ray/serve/tests/test_standalone_3.py
  python/ray/serve/tests/test_telemetry.py
  release/serve_tests/workloads/serve_test_cluster_utils.py
Labels: tests-ok, release-blocker, P0

#38833 [data] Optimization to reduce ArrowBlock building time for blocks of size 1
  python/ray/data/_internal/numpy_support.py
Labels: tests-ok

#38766 [Serve] Add max_replicas_per_node support
  python/ray/serve/BUILD
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/http_state.py
  python/ray/serve/_private/version.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/deployment.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_config.py
  python/ray/serve/tests/test_config_files/max_replicas_per_node.py
  python/ray/serve/tests/test_config_files/max_replicas_per_node.yaml
  python/ray/serve/tests/test_deployment_version.py
  python/ray/serve/tests/test_http_state.py
  python/ray/serve/tests/test_max_replicas_per_node.py
  python/ray/tests/test_scheduling_2.py
  src/ray/protobuf/serve.proto
Labels: release-blocker

#38939 [serve] API cleanup for `serve.run` and `serve.start` (#38362)
  doc/source/serve/doc_code/production_fruit_example.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/context.py
  python/ray/serve/scripts.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/test_cli_2.py
  python/ray/serve/tests/test_cluster.py
  python/ray/serve/tests/test_cross_language.py
  python/ray/serve/tests/test_deploy_app.py
  python/ray/serve/tests/test_gcs_failure.py
  python/ray/serve/tests/test_handle.py
  python/ray/serve/tests/test_ray_client.py
  python/ray/serve/tests/test_runtime_env.py
  python/ray/serve/tests/test_schema.py
  python/ray/serve/tests/test_standalone.py
  python/ray/serve/tests/test_standalone_2.py
  python/ray/serve/tests/test_standalone_3.py
  python/ray/serve/tests/test_telemetry.py
  release/serve_tests/workloads/serve_test_cluster_utils.py
Labels: release-blocker, v2.7.0-pick

#38938 [train] enable new persistence mode for core and serve tests
  .buildkite/pipeline.build.yml
  .buildkite/pipeline.build_py37.yml
  .buildkite/pipeline.build_redis.yml
  .buildkite/pipeline.gpu.yml
  ci/ray_ci/container.py
  python/ray/serve/tests/test_air_integrations.py
  python/ray/serve/tests/test_air_integrations_gpu.py
  python/ray/tests/test_multi_node_3.py
  python/ray/tests/test_task_events.py
  python/ray/tests/test_usage_stats.py
Labels: v2.7.0-pick

#38923 [train] New persistence mode: Update :tropical_fish: `ML Libraries w/ Ray Client Examples (Python 3.7)`
  .buildkite/pipeline.build_py37.yml
  .buildkite/pipeline.ml.yml
  python/ray/tune/BUILD
  python/ray/tune/examples/cifar10_pytorch.py
  python/ray/tune/examples/pbt_function.py
  python/ray/tune/examples/tune_mnist_keras.py
  python/ray/tune/examples/xgboost_dynamic_resources_example.py
  python/ray/tune/tests/test_client.py
Labels: tests-ok, v2.7.0-pick

#38944 [train] remove non-URI assertion
  .buildkite/pipeline.windows.yml
  python/ray/train/_internal/storage.py
Labels: tests-ok, v2.7.0-pick

#38940 [train] New persistence mode: Update :book: `Doc tests and examples (excluding Ray AIR examples)`
  .buildkite/pipeline.ml.yml
  doc/source/ray-air/doc_code/hvd_trainer.py
  doc/source/ray-air/doc_code/report_metrics_and_save_checkpoints.py
  doc/source/ray-air/doc_code/torch_trainer.py
  doc/source/ray-overview/doc_test/ray_train.py
  doc/source/rllib/doc_code/checkpoints.py
  doc/source/train/doc_code/accelerate_trainer.py
  doc/source/train/doc_code/dl_guide.py
  doc/source/train/doc_code/key_concepts.py
  doc/source/train/doc_code/tuner.py
  doc/source/tune/doc_code/faq.py
  doc/source/tune/doc_code/fault_tolerance.py
  doc/source/tune/doc_code/trial_checkpoint.py
  doc/source/tune/examples/BUILD
  doc/source/tune/examples/pbt_guide.ipynb
  doc/source/tune/examples/tune_analyze_results.ipynb
  doc/source/tune/examples/tune_mnist_keras.ipynb
  doc/source/tune/tutorials/tune-trial-checkpoints.rst
  python/ray/train/base_trainer.py
  python/ray/tune/BUILD
  python/ray/tune/examples/mnist_pytorch.py
  python/ray/tune/examples/pbt_dcgan_mnist/common.py
  python/ray/tune/examples/pbt_dcgan_mnist/pbt_dcgan_mnist_func.py
  python/ray/tune/trainable/trainable.py
  python/ray/tune/tuner.py
Labels: tests-ok, v2.7.0-pick

#38952 [train] New persistence mode: Mark legacy trainable sync config logic for deletion
  python/ray/train/_internal/syncer.py
  python/ray/tune/trainable/trainable.py
Labels: tests-ok, v2.7.0-pick

#38918 [2.7 CI][New Persistent Mode][6/n] :book: :airplane: Ray AIR examples
  .buildkite/pipeline.ml.yml
  doc/source/ray-air/examples/batch_tuning.ipynb
  doc/source/ray-air/examples/convert_existing_pytorch_code_to_ray_air.ipynb
Labels: tests-ok, v2.7.0-pick

#38905 [2.7 CI][New Persistent Mode][2/n] :tv: :book: Doc GPU tests and examples
  .buildkite/pipeline.gpu_large.yml
  doc/source/ray-air/examples/torch_detection.ipynb
  doc/source/train/examples/pytorch/pytorch_resnet_finetune.ipynb
Labels: tests-ok, v2.7.0-pick

#38910 [2.7 CI][New Persistent Mode][4/n] :tv: :steam_locomotive: Train GPU tests & 🚂 Datasets Train Integration GPU Tests and Examples
  .buildkite/pipeline.gpu_large.yml
  doc/source/ray-core/_examples/datasets_train/datasets_train.py
  python/ray/train/examples/pytorch/torch_fashion_mnist_example.py
  python/ray/train/tests/test_accelerate_trainer_gpu.py
  python/ray/train/tests/test_gpu.py
  python/ray/train/tests/test_gpu_amp.py
  python/ray/train/tests/test_gpu_auto_transfer.py
  python/ray/train/tests/test_gpu_examples.py
Labels: tests-ok, v2.7.0-pick

#38903 [2.7 CI][New Persistent Mode][1/n] :tv: :airplane: AIR GPU tests (ray/air) & ⚡ :python: Lightning 2.0 Train GPU tests
  .buildkite/pipeline.gpu_large.yml
  python/ray/train/tests/test_lightning_trainer_restore.py
Labels: v2.7.0-pick

#38950 [train] Fix broken tune tests and support ray storage
  python/ray/train/_internal/storage.py
  python/ray/tune/execution/tune_controller.py
  python/ray/tune/tests/execution/test_controller_resources_integration.py
  python/ray/tune/tests/test_tuner_restore.py
Labels: tests-ok, v2.7.0-pick

#38959 [train] New persistence mode: Finish migrating `xgb`, `lgbm` and `sklearn` trainers, checkpoints + tests
  .buildkite/pipeline.ml.yml
  python/ray/train/BUILD
  python/ray/train/gbdt_trainer.py
  python/ray/train/lightgbm/__init__.py
  python/ray/train/lightgbm/lightgbm_checkpoint.py
  python/ray/train/lightgbm/lightgbm_trainer.py
  python/ray/train/sklearn/__init__.py
  python/ray/train/sklearn/sklearn_checkpoint.py
  python/ray/train/sklearn/sklearn_trainer.py
  python/ray/train/tests/test_lightgbm_trainer.py
  python/ray/train/tests/test_sklearn_trainer.py
  python/ray/train/tests/test_xgboost_trainer.py
  python/ray/train/xgboost/__init__.py
  python/ray/train/xgboost/xgboost_checkpoint.py
  python/ray/train/xgboost/xgboost_trainer.py
  release/air_tests/air_benchmarks/workloads/xgboost_benchmark.py
Labels: v2.7.0-pick

#38915 [2.7 CI][New Persistent Mode][5/n] :book: Doc examples for external code
  .buildkite/pipeline.ml.yml
  doc/external/pytorch_tutorials_hyperparameter_tuning_tutorial.py
Labels: tests-ok, external-code-affected

#38965 [train][rllib] temporarily disable new persistence mode for rllib tests
  .buildkite/pipeline.build_py37.yml
  .buildkite/pipeline.ml.yml
Labels: v2.7.0-pick

#38932 [2.7 CI][New Persistent Mode][8/n] :airplane: AIR tests (ray/air)
  .buildkite/pipeline.ml.yml
  doc/source/train/examples/pytorch/pytorch_resnet_finetune.ipynb
  python/ray/air/tests/test_resource_changing.py
  python/ray/air/tests/test_tracebacks.py
Labels: tests-ok, v2.7.0-pick

#38883 [tune] Update pytorch-lightning integration API
  python/ray/tune/integration/lightgbm.py
  python/ray/tune/integration/pytorch_lightning.py
  python/ray/tune/integration/xgboost.py
  python/ray/tune/tests/test_integration_pytorch_lightning.py
Labels: tests-ok, Ray 2.7, v2.7.0-pick

#38980 [RLlib] DreamerV3: Fix forward_inference bug due to OneHotCategorical int32 type.
  rllib/algorithms/algorithm.py
  rllib/algorithms/dreamerv3/tf/models/actor_network.py
  rllib/algorithms/dreamerv3/tf/models/components/reward_predictor.py
  rllib/algorithms/dreamerv3/tf/models/dreamer_model.py
Labels: release-blocker, P0, rllib, v2.7.0-pick

#38963 [Serve] Add max_replicas_per_node support (#38766)
  python/ray/serve/BUILD
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/_private/http_state.py
  python/ray/serve/_private/version.py
  python/ray/serve/api.py
  python/ray/serve/config.py
  python/ray/serve/deployment.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_cli.py
  python/ray/serve/tests/test_config.py
  python/ray/serve/tests/test_config_files/max_replicas_per_node.py
  python/ray/serve/tests/test_config_files/max_replicas_per_node.yaml
  python/ray/serve/tests/test_deployment_version.py
  python/ray/serve/tests/test_http_state.py
  python/ray/serve/tests/test_max_replicas_per_node.py
  python/ray/tests/test_scheduling_2.py
  src/ray/protobuf/serve.proto
Labels: tests-ok, v2.7.0-pick

#38985 [tune] Update pytorch-lightning integration API (#38883)
  python/ray/tune/integration/lightgbm.py
  python/ray/tune/integration/pytorch_lightning.py
  python/ray/tune/integration/xgboost.py
  python/ray/tune/tests/test_integration_pytorch_lightning.py
Labels: v2.7.0-pick

#38988 [data] Optimization to reduce ArrowBlock building time for blocks of size 1 #38833
  python/ray/data/_internal/numpy_support.py
Labels: release-blocker, v2.7.0-pick

#39003 [serve] use get_global_client() to get serve client in release tests
  release/serve_tests/workloads/serve_test_cluster_utils.py
Labels: bug, P0, serve, release-test

#38969 [Serve] Make DeploymentScheduler an ABC with a default implementation
  python/ray/serve/_private/default_impl.py
  python/ray/serve/_private/deployment_scheduler.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/test_deployment_scheduler.py
  python/ray/serve/tests/test_deployment_state.py
Labels: external-code-affected

#38906 [data] Fix and re-enable EliminateBuildOutputBlocks rule
  python/ray/data/_internal/logical/optimizers.py
  python/ray/data/_internal/planner/plan_read_op.py
Labels: release-blocker
