Repository ray-project/ray, pull requests merged in 2024-04, with the labels that each got.

#44359 Use new AuthorizedHttp object for every GCP API execution
  python/ray/autoscaler/_private/gcp/node.py
Labels: @external-author-action-required

#44449 [RLlib] Fix RLlib link checker (due to broken links from recent `examples` folder refactor).
  doc/source/rllib/rllib-examples.rst
  rllib/BUILD
  rllib/examples/multi_agent_and_self_play/rock_paper_scissors_heuristic_vs_learned.py
  rllib/examples/multi_agent_and_self_play/rock_paper_scissors_learned_vs_learned.py
Labels: tests-ok

#44446 [RLlib] Fix IMPALA/APPO old API stack queueing stats.
  rllib/algorithms/impala/impala.py
Labels: rllib, rllib-oldstack-cleanup

#44594 [RLlib] MultiAgentEpisode: Fix various bugs in `slice()`.
  rllib/env/multi_agent_episode.py
  rllib/env/single_agent_episode.py
  rllib/env/tests/test_multi_agent_episode.py
  rllib/env/utils/infinite_lookback_buffer.py
Labels: tests-ok

#44602 [RLlib] Fix CI `test_io` (now re-broken due to moved example script).
  rllib/examples/offline_rl/custom_input_api.py
  rllib/tests/test_io.py
Labels: tests-ok

#44603 [RLlib] Cleanup `examples` folder: `train_w_bc_finetune_w_ppo.py`.
  rllib/examples/learners/train_w_bc_finetune_w_ppo.py
Labels: tests-ok

#44669 [RLlib] Rename some items in episode APIs.
  rllib/env/multi_agent_episode.py
  rllib/env/tests/test_multi_agent_episode.py
Labels: tests-ok

#44262 [RLlib] Added benchmark experiment for SAC with MuJoCo, PPO with MuJoCo and DQN with Atari.
  rllib/BUILD
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/dqn/dqn_rainbow_rl_module.py
  rllib/algorithms/dqn/torch/dqn_rainbow_torch_noisy_net.py
  rllib/algorithms/dqn/torch/dqn_rainbow_torch_rl_module.py
  rllib/tuned_examples/dqn/benchmark_dqn_atari.py
  rllib/tuned_examples/dqn/benchmark_dqn_atari_rllib_preprocessing.py
  rllib/tuned_examples/ppo/benchmark_ppo_mujoco.py
  rllib/tuned_examples/ppo/benchmark_ppo_mujoco_pb2.py
  rllib/tuned_examples/sac/benchmark_sac_mujoco.py
  rllib/tuned_examples/sac/benchmark_sac_mujoco_pb2.py
Labels: rllib-newstack

#44706 [RLlib] Cleanup `examples` folder 04: Curriculum and checkpoint-by-custom-criteria examples moved to new API stack.
  rllib/BUILD
  rllib/algorithms/algorithm_config.py
  rllib/env/multi_agent_env_runner.py
  rllib/env/single_agent_env_runner.py
  rllib/examples/checkpoints/checkpoint_by_custom_criteria.py
  rllib/examples/curriculum/curriculum_learning.py
  rllib/examples/evaluation/custom_evaluation.py
  rllib/examples/multi_agent/rock_paper_scissors_heuristic_vs_learned.py
  rllib/utils/test_utils.py
Labels: rllib, rllib-docs-or-examples, rllib-newstack, rllib-oldstack-cleanup

#44707 [RLlib] Cleanup examples folder 06: `custom_gym_env` example script translated to new API stack + util function cleanup
  rllib/BUILD
  rllib/examples/checkpoints/checkpoint_by_custom_criteria.py
  rllib/examples/curriculum/curriculum_learning.py
  rllib/examples/envs/custom_gym_env.py
  rllib/utils/test_utils.py
Labels: rllib, rllib-docs-or-examples, rllib-newstack, rllib-oldstack-cleanup

#44263 [RLlib] Model config for new api stack
  doc/source/rllib/doc_code/rlmodule_guide.py
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/appo/appo.py
  rllib/algorithms/dqn/dqn.py
  rllib/algorithms/dqn/dqn_rainbow_catalog.py
  rllib/algorithms/dreamerv3/dreamerv3.py
  rllib/algorithms/dreamerv3/tests/test_dreamerv3.py
  rllib/algorithms/marwil/marwil.py
  rllib/algorithms/ppo/ppo.py
  rllib/algorithms/ppo/tests/test_ppo_with_env_runner.py
  rllib/algorithms/ppo/tests/test_ppo_with_rl_module.py
  rllib/algorithms/sac/sac.py
  rllib/env/single_agent_env_runner.py
  rllib/examples/connectors/connector_v2_frame_stacking.py
  rllib/examples/connectors/connector_v2_mean_std_filtering.py
  rllib/examples/connectors/connector_v2_nested_observation_spaces.py
  rllib/examples/connectors/connector_v2_prev_actions_prev_rewards.py
  rllib/examples/multi_agent/pettingzoo_independent_learning.py
  rllib/examples/multi_agent/rock_paper_scissors_heuristic_vs_learned.py
  rllib/examples/multi_agent/rock_paper_scissors_learned_vs_learned.py
  rllib/examples/multi_agent/self_play_with_open_spiel.py
  rllib/examples/replay_buffer_api.py
  rllib/tests/test_algorithm_rl_module_restore.py
  rllib/tuned_examples/dqn/cartpole_dqn_envrunner.py
  rllib/tuned_examples/ppo/cartpole_ppo_envrunner.py
  rllib/tuned_examples/sac/pendulum_sac_envrunner.py
  rllib/utils/test_utils.py
Labels: rllib-newstack

#44823 [GCS] Fixed GCS pub-sub channel-types to be explicitly mapped to either capped/uncapped channels
  src/ray/pubsub/publisher.cc
Labels: core

#44852 [docs] typo: capitalize Kubernetes
  doc/source/_templates/index.html
Labels: docs

#44442 [RLlib] Metrics do-over 01: Introducing and testing new MetricsLogger and Stats APIs.
  .vale/styles/config/vocabularies/RLlib/accept.txt
  rllib/algorithms/algorithm.py
  rllib/algorithms/callbacks.py
  rllib/core/__init__.py
  rllib/env/single_agent_env_runner.py
  rllib/env/single_agent_episode.py
  rllib/env/wrappers/atari_wrappers.py
  rllib/evaluation/metrics.py
  rllib/examples/evaluation/custom_evaluation.py
  rllib/execution/rollout_ops.py
  rllib/utils/metrics/metrics_logger.py
  rllib/utils/metrics/stats.py
  rllib/utils/test_utils.py
  rllib/utils/typing.py
Labels: rllib, rllib-newstack

#44898 [RLlib] Fix MultiAgentEpisode getter bugs.
  rllib/env/multi_agent_episode.py
  rllib/env/tests/test_multi_agent_episode.py
  rllib/env/utils/infinite_lookback_buffer.py
Labels: tests-ok

#32930 [Serve] Make `HANDLE_METRIC_PUSH_INTERVAL_S` configurable by env var
  python/ray/serve/_private/constants.py
Labels: enhancement, P2, serve

#44996 Fix typo in function name pasre_pg_formatted_resources_to_original
  python/ray/_private/utils.py
  python/ray/runtime_context.py
  python/ray/tests/test_utils.py
Labels: P2, core

#40914 [core] update num_returns type annotation to allow for 'streaming'
  python/ray/_private/worker.py
  python/ray/actor.py
Labels: core

#44993 [RLlib] Cleanup `ActorManager` and `WorkerSet`: Make all `mark_healthy`/`healthy_only` method args `True` by default.
  rllib/algorithms/algorithm.py
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/impala/impala.py
  rllib/algorithms/tests/test_worker_failures.py
  rllib/evaluation/worker_set.py
  rllib/execution/rollout_ops.py
  rllib/utils/actor_manager.py
  rllib/utils/tests/test_actor_manager.py
Labels: tests-ok

#45030 [RLlib] Fix CI test: `examples/checkpoints/checkpoint_by_custom_criteria.py`
  rllib/examples/checkpoints/checkpoint_by_custom_criteria.py
Labels: rllib, rllib-newstack

#44953 [Doc] Fix broken links in train documentation
  doc/source/train/api/api.rst
  doc/source/train/examples/pytorch/torch_data_prefetch_benchmark/benchmark_example.rst
  python/ray/train/base_trainer.py
Labels: triage, docs

#44956 [Doc] Fix broken references in data documentation
  doc/source/data/api/preprocessor.rst
  doc/source/data/custom-datasource-example.rst
  doc/source/data/examples/batch_inference_object_detection.ipynb
  doc/source/data/performance-tips.rst
  python/ray/data/dataset.py
  python/ray/data/datasource/datasink.py
  python/ray/data/datasource/datasource.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/filename_provider.py
  python/ray/data/iterator.py
Labels: docs, data

#42771 [Docs] updating doc to add reference
  doc/source/tune/examples/pbt_transformers.ipynb
Labels: tune, triage

#45012 [RLlib] - Get and set states in `MultiAgentEpisode` and `SingleAgentEpisode`
  rllib/algorithms/dqn/torch/dqn_rainbow_torch_learner.py
  rllib/algorithms/ppo/ppo_learner.py
  rllib/env/multi_agent_episode.py
  rllib/env/single_agent_episode.py
  rllib/env/tests/test_multi_agent_episode.py
  rllib/env/tests/test_single_agent_episode.py
  rllib/utils/replay_buffers/tests/test_multi_agent_episode_replay_buffer.py
Labels: rllib, rllib-newstack

#44990 Fix potential github action smells
  .github/workflows/external-code-affected.yml
Labels: P2, Devprod
