Repository ray-project/ray, pull requests merged in 2025-10, with the labels that each got.

#57057 [Data] - schema() handle pd.ArrowDtype -> pyarrow type conversion
  python/ray/data/dataset.py
  python/ray/data/tests/test_strict_mode.py
Labels: data, go

#57055 [core] remove parallism for spark_on_ray tests
  .buildkite/core.rayci.yml
Labels: go

#57036 [Ray Data | Docs] Error in ray.data.groupby example in docs
  python/ray/data/dataset.py
Labels: docs, data, go

#56476 [core] Add per worker process group and deprecate process subreaper in favor of cleanup using process group
  doc/source/ray-core/user-spawn-processes.rst
  python/ray/tests/test_kill_subprocesses.py
  src/ray/common/ray_config_def.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/tests/util.h
  src/ray/raylet/worker.cc
  src/ray/raylet/worker.h
  src/ray/raylet/worker_pool.cc
  src/ray/util/process.cc
  src/ray/util/process.h
  src/ray/util/tests/BUILD.bazel
  src/ray/util/tests/process_spawn_pg_test.cc
Labels: core, go

#57034 [core] Add config to not inject rpc failures if rpc's are local
  python/ray/includes/common.pxd
  src/ray/common/ray_config_def.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/experimental_mutable_object_provider.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/tests/gcs_server_rpc_test.cc
  src/ray/gcs_rpc_client/BUILD.bazel
  src/ray/gcs_rpc_client/gcs_client.cc
  src/ray/gcs_rpc_client/gcs_client.h
  src/ray/gcs_rpc_client/rpc_client.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/ownership_object_directory.h
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_event_recorder.cc
  src/ray/observability/ray_event_recorder.h
  src/ray/raylet/main.cc
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/raylet/tests/worker_pool_test.cc
  src/ray/rpc/client_call.h
  src/ray/rpc/grpc_client.h
  src/ray/rpc/tests/grpc_server_client_test.cc
  src/ray/rpc/tests/metrics_agent_client_test.cc
  src/ray/stats/metric_exporter.cc
  src/ray/stats/metric_exporter.h
  src/ray/stats/stats.h
  src/ray/util/network_util.h
Labels: core, go

#57058 [release] updating passing core long running tests to run on py310
  release/release_tests.yaml
Labels: release-test, go

#57083 [core] Modify test expectations for test_actor_failures.py::test_exit_actor_queued
  python/ray/tests/test_actor_failures.py
Labels: core, go

#57051 [core] Renamed legacy NotifyDirectCallTask* methods.
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/flatbuffers/node_manager.fbs
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_ipc_client/fake_raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client.cc
  src/ray/raylet_ipc_client/raylet_ipc_client.h
  src/ray/raylet_ipc_client/raylet_ipc_client_interface.h
Labels: core, go

#57089 [core] Remove unstable `tune_air_oom` test
  release/air_tests/oom/stress_tests_tune_air_oom_compute.yaml
  release/air_tests/oom/tune_air_oom.sh
  release/release_tests.yaml
Labels: go

#57022 [data] Abstractions for joins
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/tests/test_join.py
Labels: data, go

#56358 [AKS] Fix S3 access issue in AKS
  doc/source/ray-overview/examples/object-detection/2.object_detection_batch_inference_eval.ipynb
  doc/source/ray-overview/examples/object-detection/object_detection.py
Labels: serve, core, go

#57088 [core] Un-disable memory monitor on autoscaling test
  release/release_tests.yaml
Labels: go

#57087 [core] Stabilize & clean up `single_node_oom` release test
  release/nightly_tests/stress_tests/test_parallel_tasks_memory_pressure.py
  release/release_tests.yaml
Labels: go

#57105 [rllib] remove checkpoint release tests
  release/release_tests.yaml
  release/rllib_tests/checkpointing_tests/test_e2e_rl_module_restore.py
  release/rllib_tests/checkpointing_tests/test_learner_group_checkpointing.py
  release/rllib_tests/multi_node_checkpointing_compute_config.yaml
  release/rllib_tests/multi_node_checkpointing_compute_config_gce.yaml
Labels: rllib, go

#56208 [train][checkpoint] Add checkpoint_upload_function to ray.train.report
  python/ray/train/v2/_internal/execution/context.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/api/train_fn_utils.py
  python/ray/train/v2/tests/test_async_checkpointing_validation.py
Labels: train, go

#57056 [core] improve metric agent connection log
  src/ray/rpc/metrics_agent_client.cc
Labels: core, observability, go

#57108 [Data] Use iterator in write ops instead of accumulating all of the blocks in memory instead
  python/ray/data/_internal/planner/plan_write_op.py
  python/ray/data/dataset.py
  python/ray/data/datasource/datasink.py
Labels: data, go

#57119 [ci] install mpi4py from conda-forge channel
  ci/env/install-miniforge.sh
Labels: go

#57114 [serve] Fix wait_for_condition in test_custom_autoscaling_metrics.py
  python/ray/serve/tests/test_custom_autoscaling_metrics.py
Labels: serve, go, community-contribution

#57113 [Data] Fixing more flaky tests
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_split.py
  python/ray/data/tests/test_stats.py
Labels: data, go

#56779 [Data][LLM] Support multi-node TP/PP for ray.data.llm
  python/ray/llm/_internal/batch/benchmark/__init__.py
  python/ray/llm/_internal/batch/benchmark/benchmark_processor.py
  python/ray/llm/_internal/batch/benchmark/dataset.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/sglang_engine_stage.py
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/tests/batch/gpu/processor/test_sglang_engine_proc.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
  release/llm_tests/batch/llm_2x_4xl4.yaml
  release/llm_tests/batch/test_batch_multi_node_vllm.py
  release/llm_tests/batch/test_batch_vllm.py
  release/release_tests.yaml
Labels: data, release-test, llm, go, community-contribution

#57107 fix: bug with config key pairs when launching worker nodes
  python/ray/autoscaler/_private/_azure/config.py
  python/ray/autoscaler/_private/util.py
  python/ray/tests/test_azure_path_serialization.py
Labels: core, go, community-contribution

#57102 [Core] Rename reference_count files to reference_counter files
  src/mock/ray/core_worker/reference_counter.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_manager.h
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/store_provider/memory_store/memory_store.h
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/task_submission/tests/direct_actor_transport_test.cc
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/actor_manager_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
Labels: core, go

#57117 [Data] - Initialize datacontext after setting `src_fn_name` in actor worker
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
Labels: data, go

#56607 add document for using fastapi factory pattern in serve
  doc/source/serve/doc_code/http_guide/http_guide.py
  doc/source/serve/http-guide.md
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
Labels: serve, docs, go

#57132 [Core] [Azure] Update tests according to Azure SSH public key behavior
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_azure_path_serialization.py
  python/ray/tests/test_azure_ssh_config.py
Labels: core, go, community-contribution

#57123 [Data] Rebased `get_eligible_operators` onto `has_pending_bundles`
  python/ray/data/_internal/cluster_autoscaler/default_cluster_autoscaler.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_autoscaler.py
Labels: data, go

#56781 [docs] Update Kueue integration documentation to include RayService & RayCluster support
  doc/source/cluster/kubernetes/examples/rayjob-kueue-gang-scheduling.md
  doc/source/cluster/kubernetes/examples/rayjob-kueue-priority-scheduling.md
  doc/source/cluster/kubernetes/k8s-ecosystem/kueue.md
Labels: docs, core, go, community-contribution

#56869 [core] Kill debug_state_gcs.txt
  doc/source/ray-contribute/debugging.rst
  python/ray/tests/test_state_api_log.py
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
Labels: docs, core, go

#57131 [Core] [Azure] Always create standard public IP addresses (basic sku is deprecated)
  python/ray/autoscaler/_private/_azure/azure-vm-template.json
Labels: docs, core, go, azure, community-contribution

#56584 [Data][LLM] Support OpenAI's nested image_url schema in PrepareImageStage
  python/ray/llm/_internal/batch/stages/prepare_image_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_prepare_image_stage.py
Labels: llm, go, community-contribution

#57141 reclassify autoscaling unit tests as small
  python/ray/serve/tests/unit/BUILD.bazel
Labels: go

#56918 [Data] Fixing remaining issues with custom tensor extensions
  ci/lint/pydoclint-baseline.txt
  doc/source/conf.py
  python/ray/_private/arrow_utils.py
  python/ray/air/tests/test_tensor_extension.py
  python/ray/air/util/object_extensions/arrow.py
  python/ray/air/util/tensor_extensions/arrow.py
  python/ray/air/util/transform_pyarrow.py
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
  python/ray/data/_internal/util.py
  python/ray/data/block.py
  python/ray/data/tests/conftest.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_transform_pyarrow.py
  python/ray/data/tests/test_util.py
Labels: data, go

#57146 [Data] - Download expr - cast to arrow before checking column
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/tests/test_download_expression.py
Labels: data, go

#57148 [core] install mpirun
  ci/env/install-miniforge.sh
Labels: core, go

#57157 [release] Don't block release test run if AUTOMATIC is specified
  release/ray_release/scripts/custom_image_build_and_test_init.py
  release/ray_release/tests/test_custom_image_build_and_test_init.py
Labels: devprod, release-test, go

#57143 [Core] Remove mpi runtime env plugin
  ci/env/install-miniforge.sh
  ci/lint/pydoclint-baseline.txt
  python/ray/_private/runtime_env/agent/runtime_env_agent.py
  python/ray/_private/runtime_env/mpi.py
  python/ray/_private/runtime_env/mpi_runner.py
  python/ray/runtime_env/__init__.py
  python/ray/runtime_env/runtime_env.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_mpi.py
Labels: core, go

#57149 Small fixes to Metrics Tab for kube-ray clusters
  python/ray/dashboard/client/src/App.tsx
  python/ray/dashboard/client/src/pages/metrics/Metrics.component.test.tsx
  python/ray/dashboard/client/src/pages/metrics/Metrics.tsx
  python/ray/dashboard/client/src/pages/metrics/utils.ts
  python/ray/dashboard/client/src/pages/overview/OverviewPage.component.test.tsx
  python/ray/dashboard/client/src/pages/serve/ServeDeploymentMetricsSection.component.test.tsx
  python/ray/dashboard/client/src/pages/serve/ServeMetricsSection.component.test.tsx
  python/ray/dashboard/client/src/util/test-utils.tsx
  python/ray/dashboard/modules/metrics/dashboards/data_grafana_dashboard_base.json
  python/ray/dashboard/modules/metrics/dashboards/default_grafana_dashboard_base.json
  python/ray/dashboard/modules/metrics/dashboards/serve_deployment_grafana_dashboard_base.json
  python/ray/dashboard/modules/metrics/dashboards/serve_grafana_dashboard_base.json
  python/ray/dashboard/modules/metrics/metrics_head.py
Labels: kuberay, core, observability, go, kubernetes

#56862 [Train] [release test] Release tests for ray train local mode
  release/release_tests.yaml
  release/train_tests/local_mode/compute_gpu_2x4_aws.yaml
  release/train_tests/local_mode/torch_local_mode_launcher.py
  release/train_tests/local_mode/torch_local_mode_test.py
Labels: train, release-test, go

#57158 [release auto] stop checking ray-ml image commits
  .buildkite/release-automation/pre_release.rayci.yml
Labels: go

#57155 [serve] additional deps to start with prometheus
  docker/base-extra/Dockerfile
  docker/base-slim/Dockerfile
Labels: serve, observability, go

#57112 [core][RDT] Fix data race when using async gpu to gpu transfer
  python/ray/_raylet.pyx
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/experimental/gpu_object_manager/gpu_object_store.py
  python/ray/util/collective/collective_group/nccl_collective_group.py
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_rpc_proxy.h
  src/ray/core_worker/grpc_service.cc
  src/ray/core_worker/grpc_service.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/core_worker_rpc_client/core_worker_client_interface.h
  src/ray/core_worker_rpc_client/fake_core_worker_client.h
  src/ray/protobuf/core_worker.proto
Labels: core, go, gpu, rdt

#56854 Revising test_jax_trainer flaky test
  python/ray/train/v2/tests/test_jax_trainer.py
  python/requirements/ml/train-test-requirements.txt
  python/requirements_compiled.txt
Labels: train, go

#57162 [ci] better logging groups on buildkite
  ci/ray_ci/tester.py
Labels: devprod, go

#57142 [core] Fix bug where inflight requests are not taken into account by retryab…
  src/ray/core_worker_rpc_client/core_worker_client.h
  src/ray/rpc/retryable_grpc_client.h
Labels: core, go

#57064 [release] running core-daily-tests on py310
  release/release_tests.yaml
Labels: core, release-test, go

#56803 [Data] feat: add streaming train test split implementation
  python/ray/data/dataset.py
  python/ray/data/tests/test_split.py
Labels: data, go, community-contribution

#57172 [serve] Configure proxy logger in generic class
  python/ray/serve/_private/proxy.py
Labels: go

#57170 [doc] add doc build env var signal
  doc/source/conf.py
  python/ray/_private/arrow_utils.py
Labels: docs, core, go

#57185 [core] Don't disconnect worker client on OBOD unless the worker is dead
  python/ray/tests/test_object_spilling_2.py
  src/mock/ray/object_manager/object_directory.h
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker_rpc_client/core_worker_client_pool.cc
  src/ray/core_worker_rpc_client/core_worker_client_pool.h
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_actor_scheduler.cc
  src/ray/object_manager/object_directory.h
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/object_manager/ownership_object_directory.h
  src/ray/object_manager/tests/ownership_object_directory_test.cc
Labels: core, go

#57124 [core] Log actor name when warning about excess queueing
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/core_worker/tests/core_worker_test.cc
  thirdparty/patches/grpc-configurable-thread-count.patch
Labels: core, observability, go

#57197 [serve][llm][docs] Add example of serving a VLLM model on fractional gpu
  doc/source/serve/llm/quick-start.rst
Labels: serve, docs, llm, go

#57042 [train][tune] Fix LightGBM v2 callbacks for Tune only usage
  ci/lint/pydoclint-baseline.txt
  python/ray/train/lightgbm/_lightgbm_utils.py
  python/ray/tune/integration/lightgbm.py
Labels: tune, docs, train, go

#57200 [ci] add explicit python version
  .buildkite/core.rayci.yml
  .buildkite/data.rayci.yml
  .buildkite/llm.rayci.yml
Labels: devprod, go

#57221 [serve] fix proxy lua dependency in dockerfile
  docker/base-extra/Dockerfile
  docker/base-slim/Dockerfile
Labels: serve, go

#57214 [ci] supports building core binary bits for arm64
  .buildkite/linux_aarch64.rayci.yml
  ci/docker/ray-core.Dockerfile
  ci/docker/ray-core.wanda.yaml
Labels: devprod, go

#56958 [data] Add back _op_task_duration_stats for Issue Detection
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/tests/test_issue_detection_manager.py
Labels: data, observability, go

#57223 [data] Update release tests
  release/nightly_tests/multimodal_inference_benchmarks/document_embedding/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/daft_main.py
  release/nightly_tests/multimodal_inference_benchmarks/image_classification/ray_data_main.py
  release/nightly_tests/multimodal_inference_benchmarks/large_image_embedding/daft_main.py
Labels: data, release-test, go

#57240 [Data] Allow `ArrowVariableShapedTensorTypes` w/ diverging `ndim`s to be combined
  python/ray/air/tests/test_tensor_extension.py
  python/ray/air/util/tensor_extensions/arrow.py
Labels: go

#57227 [core][ci] Upgrade RDT and cgraph microbenchmark machines
  release/microbenchmark/experimental/compute_gpu_2_aws.yaml
  release/microbenchmark/experimental/compute_gpu_2x1_aws.yaml
Labels: core, devprod, release-test, go

#57248 Revert "[core][metric] Redefine gcs STATS using metric interface"
  BUILD.bazel
  src/mock/ray/gcs/gcs_actor_manager.h
  src/mock/ray/gcs/gcs_placement_group_manager.h
  src/ray/common/BUILD.bazel
  src/ray/common/metrics.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/core_worker_process.h
  src/ray/core_worker/metrics.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_actor_manager.cc
  src/ray/gcs/gcs_actor_manager.h
  src/ray/gcs/gcs_job_manager.cc
  src/ray/gcs/gcs_job_manager.h
  src/ray/gcs/gcs_placement_group_manager.cc
  src/ray/gcs/gcs_placement_group_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/gcs/gcs_server_main.cc
  src/ray/gcs/gcs_task_manager.cc
  src/ray/gcs/gcs_task_manager.h
  src/ray/gcs/metrics.h
  src/ray/gcs/store_client/observable_store_client.cc
  src/ray/gcs/store_client/observable_store_client.h
  src/ray/gcs/store_client/tests/BUILD.bazel
  src/ray/gcs/store_client/tests/observable_store_client_test.cc
  src/ray/gcs/store_client/tests/store_client_test_base.h
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/tests/export_api/gcs_job_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_manager_test.cc
  src/ray/gcs/tests/gcs_autoscaler_state_manager_test.cc
  src/ray/gcs/tests/gcs_job_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_mock_test.cc
  src/ray/gcs/tests/gcs_placement_group_manager_test.cc
  src/ray/gcs/tests/gcs_server_rpc_test.cc
  src/ray/gcs/tests/gcs_task_manager_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_reconnection_test.cc
  src/ray/gcs_rpc_client/tests/gcs_client_test.cc
  src/ray/gcs_rpc_client/tests/global_state_accessor_test.cc
  src/ray/observability/fake_metric.h
  src/ray/observability/metrics.h
  src/ray/raylet/main.cc
  src/ray/stats/metric_defs.cc
  src/ray/stats/metric_defs.h
Labels: go

#54904 [core] Fix "objects_valid" for the case that multiple instances of the same task are storing returns
  python/ray/_raylet.pyx
  src/ray/core_worker/task_execution/task_receiver.cc
Labels: core, go, unstale

#57061 [ray.data.llm] Fix build_llm_processor for ServeDeploymentProcessor
  ci/lint/pydoclint-baseline.txt
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
  python/ray/llm/tests/batch/gpu/processor/test_serve_deployment_proc.py
  python/ray/llm/tests/batch/gpu/processor/test_sglang_engine_proc.py
  python/ray/llm/tests/batch/gpu/processor/test_vllm_engine_proc.py
Labels: data, go, community-contribution

#56453 add documentation for async inf
  doc/.cursor/rules/ray-docs-style.mdc
  doc/source/serve/asynchronous-inference.md
  doc/source/serve/index.md
Labels: serve, docs, go

#56530 make deployment retry configurable
  .github/CODEOWNERS
  java/serve/src/main/java/io/ray/serve/config/DeploymentConfig.java
  python/ray/serve/_private/config.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/api.py
  python/ray/serve/deployment.py
  python/ray/serve/tests/test_api.py
  python/ray/serve/tests/unit/test_config.py
  src/ray/protobuf/serve.proto
Labels: serve, go

#56400 [docs] Add gpt oss deployment example
  doc/source/serve/examples.yml
  doc/source/serve/llm/index.md
  doc/source/serve/tutorials/deployment-serve-llm/README.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/ci/nb2py.py
  doc/source/serve/tutorials/deployment-serve-llm/ci/tests.sh
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/Dockerfile
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/README.md
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/client.py
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/serve_gpt_oss.py
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/service.yaml
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/notebook.ipynb
Labels: serve, docs, release-test, llm, go

#57254 [data] pin transformers versions
  release/ray_release/byod/byod_install_text_embedding.sh
Labels: data, release-test, go

#57236 [ci] raydepsets: moving configs to a central location
  .buildkite/dependencies.rayci.yml
  ci/compile_llm_requirements.sh
  ci/raydepsets/cli.py
  ci/raydepsets/configs/rayimg.depsets.yaml
  ci/raydepsets/configs/rayllm.depsets.yaml
  ci/raydepsets/configs/release_multimodal_inference_benchmarks_tests.depsets.yaml
  ci/test_compile_llm_requirements.sh
Labels: devprod, go

#56826 [Autoscaler][V2] Consider `bundle_label_selector` in Ray V2 Autoscaler
  python/ray/autoscaler/v2/scheduler.py
  python/ray/autoscaler/v2/tests/test_e2e.py
Labels: core, go

#56374 [Core] Add `fallback_strategy` API to Task/Actor remote options
  ci/lint/pydoclint-baseline.txt
  python/ray/_common/ray_option_utils.py
  python/ray/_private/label_utils.py
  python/ray/_private/worker.py
  python/ray/actor.py
  python/ray/remote_function.py
  python/ray/tests/test_actor.py
  python/ray/tests/test_label_utils.py
Labels: docs, core, go

#56973 [data] External Outqueue Grafana Panels
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/execution/interfaces/op_runtime_metrics.py
  python/ray/data/_internal/execution/streaming_executor_state.py
  python/ray/data/tests/test_stats.py
Labels: data, observability, go

#57249 [train] Fix exception queue race condition in ThreadRunner
  python/ray/train/v2/_internal/execution/worker_group/thread_runner.py
  python/ray/train/v2/tests/test_thread_runner.py
Labels: train, go

#57273 [Data] Make `image_embedding_from_jsonl_fixed_size_chaos` run on manual frequency
  release/release_data_tests.yaml
Labels: go

#57264 [docs] adding Run on Anyscale buttons to the gpt-oss template
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/README.md
  doc/source/serve/tutorials/deployment-serve-llm/gpt-oss/notebook.ipynb
Labels: serve, docs, release-test, llm, go

#57270 [data] deflake sql + consumption + execution_optimizer + issue detection manager
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_datasink.py
  python/ray/data/tests/test_execution_optimizer.py
  python/ray/data/tests/test_execution_optimizer_advanced.py
  python/ray/data/tests/test_execution_optimizer_basic.py
  python/ray/data/tests/test_execution_optimizer_integrations.py
  python/ray/data/tests/test_execution_optimizer_limit_pushdown.py
  python/ray/data/tests/test_issue_detection_manager.py
  python/ray/data/tests/test_raydp.py
  python/ray/data/tests/test_sql.py
Labels: data, go

#57230 [data][dashboard] Add initial data iterator metrics to dashboard
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/stats.py
Labels: dashboard, data, observability, go

#57529 Revert "[data][dashboard] Add initial data iterator metrics to dashboard (#57230)"
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
  python/ray/data/_internal/stats.py
Labels: go

#57280 [train] Enable deprecation warning for legacy xgboost/lightgbm trainer APIs
  python/ray/train/lightgbm/lightgbm_trainer.py
  python/ray/train/xgboost/xgboost_trainer.py
Labels: go

#57274 [release] running all air release tests on py3.10
  release/release_tests.yaml
Labels: train, release-test, go

#57075 [Data] Split `test_consumption.py`
  python/ray/data/BUILD.bazel
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_dataset_aggregrations.py
  python/ray/data/tests/test_dataset_creation.py
  python/ray/data/tests/test_dataset_iter.py
  python/ray/data/tests/test_dataset_limits.py
  python/ray/data/tests/test_dataset_validation.py
Labels: data, go, community-contribution

#57177 [Core] Abstract reference counter behind interface for more defined API
  src/mock/ray/core_worker/reference_counter.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/actor_manager.h
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/future_resolver.h
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/reference_counter.cc
  src/ray/core_worker/reference_counter.h
  src/ray/core_worker/reference_counter_interface.h
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.h
  src/ray/core_worker/store_provider/plasma_store_provider.cc
  src/ray/core_worker/store_provider/plasma_store_provider.h
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/core_worker/tests/reference_counter_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
Labels: core, go

#56955 [Rllib] Fix tuple typing
  rllib/core/models/configs.py
  rllib/core/models/torch/primitives.py
  rllib/utils/actor_manager.py
  rllib/utils/filter.py
  rllib/utils/test_utils.py
  rllib/utils/typing.py
Labels: rllib, rllib-models, rllib-system, go

#57053 [dashboard][llm] LLM Dashboard enhancements
  .github/CODEOWNERS
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_dashboard_panels.py
  python/ray/dashboard/modules/metrics/dashboards/serve_llm_grafana_dashboard_base.json
Labels: dashboard, serve, observability, llm, go
