Repository ray-project/ray, pull requests merged in 2025-09, with the labels that each got.

#56121 [core] Don't need to return status from submitter cancel + cleanup
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/task_submission/normal_task_submitter.cc
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
Labels: core, go

#56085 [JobManager] Make sure JobManager tolerates intermittent failures
  python/ray/dashboard/BUILD
  python/ray/dashboard/modules/job/common.py
  python/ray/dashboard/modules/job/job_manager.py
  python/ray/dashboard/modules/job/tests/test_job_manager.py
Labels: core, go

#56134 [core] Fix named actor test for windows
  python/ray/tests/test_actor.py
Labels: core, go

#56007 [core][autoscaler] fix races when waiting for stopping aws nodes to be reused by cache_stopped_nodes
  python/ray/autoscaler/_private/aws/node_provider.py
Labels: core, go

#56133 [data] Do not log the content of data block that failed
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/tests/test_exceptions.py
Labels: data, go

#56066 [DOC][Data] Fix grammar and formatting issues in Ray Data documentation
  doc/source/data/aggregations.rst
  doc/source/data/comparisons.rst
  doc/source/data/data-internals.rst
  doc/source/data/joining-data.rst
  doc/source/data/key-concepts.rst
  doc/source/data/saving-data.rst
  doc/source/data/user-guide.rst
Labels: docs, data, go, community-contribution

#56168 Change the size of `test_gpu_objects_gloo.py` to large
  python/ray/tests/BUILD
Labels: core, gpu-objects

#56101 [core] move the `RayletClientInterface` to its own build target
  BUILD.bazel
  python/ray/includes/common.pxd
  src/fakes/ray/rpc/raylet/BUILD.bazel
  src/fakes/ray/rpc/raylet/raylet_client.h
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/experimental_mutable_object_provider.h
  src/ray/core_worker/lib/java/io_ray_runtime_task_NativeTaskExecutor.cc
  src/ray/core_worker/object_recovery_manager.h
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/core_worker/task_submission/normal_task_submitter.h
  src/ray/core_worker/task_submission/tests/BUILD.bazel
  src/ray/core_worker/task_submission/tests/normal_task_submitter_test.cc
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/object_recovery_manager_test.cc
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_actor_scheduler.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_placement_group_scheduler.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/gcs/gcs_server/gcs_server_main.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet_client/BUILD.bazel
  src/ray/raylet_client/node_manager_client.h
  src/ray/raylet_client/raylet_client.cc
  src/ray/raylet_client/raylet_client.h
  src/ray/raylet_client/raylet_client_interface.h
  src/ray/raylet_client/raylet_client_pool.cc
  src/ray/raylet_client/raylet_client_pool.h
  src/ray/raylet_client/tests/BUILD.bazel
  src/ray/raylet_client/tests/raylet_client_pool_test.cc
  src/ray/rpc/BUILD.bazel
  src/ray/rpc/node_manager/node_manager_server.h
  src/ray/rpc/worker/core_worker_client_pool.h
Labels: core, go

#56050 [core] Make test-only transition methods private in ShutdownCoordinator
  src/ray/core_worker/core_worker_shutdown_executor.cc
  src/ray/core_worker/shutdown_coordinator.cc
  src/ray/core_worker/shutdown_coordinator.h
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Labels: core, go

#56127 [ci] declare test rule tags in test_rules file
  ci/pipeline/determine_tests_to_run.py
  ci/pipeline/test_conditional_testing.py
  ci/pipeline/test_rules.txt
Labels: devprod, go

#56105 [Data] Removing Parquet metadata fetching in `ParquetDatasource`
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/_internal/logical/operators/count_operator.py
  python/ray/data/dataset.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/parquet_meta_provider.py
  python/ray/data/datasource/partitioning.py
  python/ray/data/datasource/path_util.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_metadata_provider.py
  python/ray/data/tests/test_parquet.py
Labels: data, go

#56155 [core] Revert granted check change from #55806
  src/ray/raylet/worker.h
Labels: core, go

#56104 [Serve.llm][PD] changed LMCache dependency to use 0.3.3 to avoid regressions in the release test
  release/ray_release/byod/byod_llm_lmcache_test.sh
Labels: go

#56151 [core] Fix test_kill_raylet_signal_log on mac
  python/ray/tests/test_kill_raylet_signal_log.py
Labels: go

#55685 [SERVE] E2E Fix: test_standalone_3.py
  python/ray/serve/tests/test_proxy.py
  python/ray/serve/tests/test_standalone_3.py
Labels: serve, go

#55762 [core][raylet][gcs] Add io_context metrics to gcs and raylet
  python/ray/tests/test_metrics_agent.py
  src/ray/common/asio/asio_util.h
  src/ray/common/asio/instrumented_io_context.cc
  src/ray/common/asio/instrumented_io_context.h
  src/ray/common/asio/io_service_pool.cc
  src/ray/common/asio/periodical_runner.cc
  src/ray/common/event_stats.cc
  src/ray/common/event_stats.h
  src/ray/common/file_system_monitor.h
  src/ray/common/ray_config_def.h
  src/ray/gcs/gcs_server/gcs_server_main.cc
  src/ray/raylet/main.cc
  src/ray/rpc/client_call.h
  src/ray/stats/metric_defs.cc
Labels: core, observability, core-gcs, go

#55989 [release] Use bazel workspace directory when referencing path from repo root
  release/BUILD.bazel
  release/ray_release/template.py
  release/ray_release/tests/test_template.py
Labels: core, devprod, release-test, go

#56184 [core] Remove _ID_TYPES
  python/ray/includes/unique_ids.pxi
Labels: core, go

#56152 [core] Fix flaky `ShutdownCoordinator` test under tsan
  src/ray/core_worker/tests/BUILD.bazel
  src/ray/core_worker/tests/shutdown_coordinator_test.cc
Labels: core, go

#56129 [DOC] Fix documentation issues in ray-overview directory
  doc/source/ray-overview/examples/object-detection/README.md
  doc/source/ray-overview/getting-started.md
  doc/source/ray-overview/index.md
  doc/source/ray-overview/installation.rst
  doc/source/ray-overview/use-cases.rst
Labels: docs, core, go, community-contribution

#56179 [core] Revert lease spec optimization from #55806
  src/ray/core_worker/task_submission/normal_task_submitter.cc
Labels: core, go

#56020 [core][gpu-objects] CI for gpu objects
  .buildkite/core.rayci.yml
  ci/pipeline/test_conditional_testing.py
  ci/pipeline/test_rules.txt
  python/ray/tests/BUILD
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
  python/ray/tests/gpu_objects/test_gpu_objects_nccl.py
  python/ray/tests/gpu_objects/test_gpu_objects_nixl.py
Labels: core, devprod, go

#56167 [core] Split `gcs_pubsub_lib` targets and move to `pubsub/`
  BUILD.bazel
  python/ray/_raylet.pyx
  python/ray/includes/common.pxd
  src/ray/gcs/gcs_client/BUILD.bazel
  src/ray/gcs/gcs_client/gcs_client.cc
  src/ray/gcs/gcs_client/gcs_client.h
  src/ray/gcs/gcs_client/global_state_accessor.h
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/gcs/gcs_server/gcs_actor_manager.cc
  src/ray/gcs/gcs_server/gcs_actor_manager.h
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.cc
  src/ray/gcs/gcs_server/gcs_autoscaler_state_manager.h
  src/ray/gcs/gcs_server/gcs_job_manager.cc
  src/ray/gcs/gcs_server/gcs_job_manager.h
  src/ray/gcs/gcs_server/gcs_node_manager.cc
  src/ray/gcs/gcs_server/gcs_node_manager.h
  src/ray/gcs/gcs_server/gcs_server.cc
  src/ray/gcs/gcs_server/gcs_server.h
  src/ray/gcs/gcs_server/gcs_server_io_context_policy.h
  src/ray/gcs/gcs_server/gcs_worker_manager.h
  src/ray/gcs/gcs_server/pubsub_handler.cc
  src/ray/gcs/gcs_server/pubsub_handler.h
  src/ray/gcs/gcs_server/tests/export_api/gcs_actor_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/export_api/gcs_job_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/export_api/gcs_node_manager_export_event_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/gcs_server/tests/gcs_job_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_node_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_manager_test.cc
  src/ray/gcs/gcs_server/tests/gcs_placement_group_scheduler_test.cc
  src/ray/gcs/gcs_server/tests/gcs_worker_manager_test.cc
  src/ray/gcs/pubsub/BUILD.bazel
  src/ray/gcs/pubsub/gcs_pub_sub.h
  src/ray/pubsub/BUILD.bazel
  src/ray/pubsub/gcs_publisher.cc
  src/ray/pubsub/gcs_publisher.h
  src/ray/pubsub/gcs_subscriber.cc
  src/ray/pubsub/gcs_subscriber.h
  src/ray/pubsub/python_gcs_subscriber.cc
  src/ray/pubsub/python_gcs_subscriber.h
Labels: core, go

#56190 [serve.llm][bug] Copied Deprecation utility from RLlib to avoid unnecessary imports
  python/ray/llm/_internal/common/utils/deprecation.py
  python/ray/serve/llm/__init__.py
Labels: serve, rllib, llm, go, community-contribution

#55919 [Serve][1/N] Add autoscaler observability core API schema
  doc/source/serve/api/index.md
  python/ray/serve/schema.py
Labels: serve, observability, go, community-contribution

#56189 [image] unify label and tag conventions
  .buildkite/_images.rayci.yml
  docker/base-slim/cpu.wanda.yaml
  docker/base-slim/cuda.wanda.yaml
Labels: core, devprod, go

#56193 [Data] - Evaluate Expressions sequentially and upsert columns to block
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/planner/plan_udf_map_op.py
  python/ray/data/block.py
Labels: data, go

#56169 [ci] Raydepsets: Enable defining packages in depset configs
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
  ci/raydepsets/workspace.py
Labels: devprod, go

#56093 [data] remove metadata for hashing + truncate warning logs
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
  python/ray/data/_internal/execution/interfaces/ref_bundle.py
  python/ray/data/_internal/execution/streaming_executor_state.py
Labels: data, go

#56199 [serve] Add accessor for `DeploymentResponse`'s `_by_reference` value
  python/ray/serve/handle.py
Labels: serve, go

#55487 [Train] Add local mode support to Ray Train v2 (num_workers=0)
  .gitignore
  python/ray/train/torch/__init__.py
  python/ray/train/v2/BUILD
  python/ray/train/v2/_internal/execution/local_mode_utils.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/_internal/execution/worker_group/worker.py
  python/ray/train/v2/api/config.py
  python/ray/train/v2/api/context.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/tests/test_local_mode.py
  python/ray/train/v2/torch/train_loop_utils.py
  python/ray/train/v2/xgboost/__init__.py
  python/ray/train/v2/xgboost/config.py
  python/ray/train/xgboost/__init__.py
Labels: train, go

#55819 [docs] Example serve llm deployment
  .vale/styles/config/vocabularies/General/accept.txt
  doc/BUILD.bazel
  doc/source/conf.py
  doc/source/serve/examples.yml
  doc/source/serve/tutorials/BUILD.bazel
  doc/source/serve/tutorials/deployment-serve-llm/README.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/ci/aws.yaml
  doc/source/serve/tutorials/deployment-serve-llm/ci/build.sh
  doc/source/serve/tutorials/deployment-serve-llm/ci/gce.yaml
  doc/source/serve/tutorials/deployment-serve-llm/ci/nb2py.py
  doc/source/serve/tutorials/deployment-serve-llm/ci/tests.sh
  doc/source/serve/tutorials/deployment-serve-llm/configs/aws.yaml
  doc/source/serve/tutorials/deployment-serve-llm/configs/gce.yaml
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_disabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/client_thinking_enabled.py
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/hybrid-reasoning-llm/serve_qwen_3_32b.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/Dockerfile
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/serve_deepseek_r1.py
  doc/source/serve/tutorials/deployment-serve-llm/large-size-llm/service.yaml
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/Dockerfile
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/serve_llama_3_1_70b.py
  doc/source/serve/tutorials/deployment-serve-llm/medium-size-llm/service.yaml
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/client_streaming.py
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/reasoning-llm/serve_qwq_32b.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/Dockerfile
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/client.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/serve_llama_3_1_8b.py
  doc/source/serve/tutorials/deployment-serve-llm/small-size-llm/service.yaml
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/README.md
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_local_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/client_url_image.py
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/notebook.ipynb
  doc/source/serve/tutorials/deployment-serve-llm/vision-llm/serve_qwen_VL.py
  release/BUILD.bazel
  release/ray_release/byod/byod_deployment_serve_llm.sh
  release/release_tests.yaml
Labels: serve, docs, llm, go

#55915 [Data] - Add DataType to Expression class
  doc/source/data/api/api.rst
  doc/source/data/api/datatype.rst
  python/ray/data/BUILD
  python/ray/data/dataset.py
  python/ray/data/datatype.py
  python/ray/data/expressions.py
  python/ray/data/tests/test_datatype.py
  python/ray/data/tests/test_map.py
Labels: data, go

#56158 [dashboard][train] Catch OSError when detecting the GPU
  python/ray/dashboard/modules/reporter/gpu_profile_manager.py
Labels: train, core, go, community-contribution

#56250 [Data] Mark `test_groupby_e2e` as `data_non_parallel`
  python/ray/data/BUILD
Labels: data, go

#56240 [core] Drop messages received after `ClientConnection::Close`
  src/ray/ipc/client_connection.cc
  src/ray/ipc/client_connection.h
Labels: core, go

#56249 [serve] swap toolz for collections.defaultdict in tests
  python/ray/serve/tests/unit/test_metrics_utils.py
Labels: serve, go

#56264 [Serve.llm] Gracefully return timeouts as HTTPException
  python/ray/llm/_internal/serve/deployments/routers/router.py
Labels: go

#56262 [Core] Remove the unnecessary redirection of get_protocols_provider
  python/ray/_private/runtime_env/default_impl.py
  python/ray/_private/runtime_env/protocol.py
Labels: core, go

#56081 Enable ruff lint for `workers/`, `workflow/`, `setup-dev.py`, and `cloudpickle/`
  .pre-commit-config.yaml
  pyproject.toml
  python/ray/setup-dev.py
Labels: core, devprod, go, community-contribution

#55787 [core][autoscaler] Reword `Total Demands` and `Total Constraints` to `Pending Demands` and `From request_resources`
  doc/source/cluster/kubernetes/user-guides/configuring-autoscaling.md
  python/ray/autoscaler/_private/util.py
  python/ray/autoscaler/v2/tests/test_utils.py
  python/ray/autoscaler/v2/utils.py
  python/ray/tests/test_autoscaler_e2e.py
  python/ray/tests/test_cli_patterns/test_ray_status.txt
  python/ray/tests/test_cli_patterns/test_ray_status_multinode.txt
  python/ray/tests/test_cli_patterns/test_ray_status_multinode_v1.txt
  python/ray/tests/test_cli_patterns/test_ray_status_v1.txt
  python/ray/tests/test_resource_demand_scheduler.py
Labels: docs, core, go

#55608 add tests and DLQ business logic
  python/ray/serve/task_consumer.py
  python/ray/serve/task_processor.py
  python/ray/serve/tests/BUILD
  python/ray/serve/tests/test_task_processor.py
  python/ray/serve/tests/unit/test_task_consumer.py
Labels: serve, go

#56099 [llm] Vllm bump -> 0.10.1.1
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/ray/llm/_internal/batch/stages/vllm_engine_stage.py
  python/ray/llm/_internal/serve/configs/openai_api_models.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_engine.py
  python/ray/llm/_internal/serve/deployments/llm/vllm/vllm_models.py
  python/ray/llm/_internal/serve/deployments/routers/middleware.py
  python/ray/llm/_internal/serve/deployments/routers/router.py
  python/ray/llm/_internal/serve/deployments/utils/server_utils.py
  python/ray/llm/tests/batch/gpu/stages/test_vllm_engine_stage.py
  python/requirements/llm/llm-requirements.txt
  python/requirements_compiled.txt
  python/setup.py
  release/release_tests.yaml
Labels: serve, release-test, llm, go

#56256 [CI] Add text embed benchmark tests to group: data-tests.
  release/release_tests.yaml
Labels: data, go, ci

#56186 [core] (cgroups 3/n) Creating CgroupManager to setup Ray's cgroup hierarchy and clean it up
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/scoped_cgroup_operation.h
  src/ray/common/cgroup2/tests/BUILD.bazel
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/common/status_or.h
Labels: core, go

#56263 [ci] raydepsets: single depset compilation with dependencies
  ci/raydepsets/cli.py
  ci/raydepsets/tests/test_cli.py
Labels: devprod, go

#55639 [core][gpu-objects] Add warning when GPU object refs passed back to the same actor
  python/ray/experimental/gpu_object_manager/gpu_object_manager.py
  python/ray/tests/gpu_objects/test_gpu_objects_gloo.py
Labels: core, go, gpu, community-contribution

#56068 [DOC] Fix grammar, syntax, and formatting issues in ray-more-libs documentation
  doc/source/ray-more-libs/dask-on-ray.rst
  doc/source/ray-more-libs/data_juicer_distributed_data_processing.md
  doc/source/ray-more-libs/joblib.rst
  doc/source/ray-more-libs/mars-on-ray.rst
  doc/source/ray-more-libs/modin/index.rst
  doc/source/ray-more-libs/multiprocessing.rst
  doc/source/ray-more-libs/ray-collective.rst
  doc/source/ray-more-libs/raydp.rst
Labels: core, data, go, community-contribution

#56067 [DOC] Fix grammar, syntax, and formatting issues in ray-air and ray-contribute documentation
  doc/source/ray-air/deployment.rst
  doc/source/ray-air/getting-started.rst
  doc/source/ray-contribute/ci.rst
  doc/source/ray-contribute/debugging.rst
  doc/source/ray-contribute/development.rst
  doc/source/ray-contribute/docs.md
  doc/source/ray-contribute/fake-autoscaler.rst
  doc/source/ray-contribute/getting-involved.rst
  doc/source/ray-contribute/involvement.rst
Labels: docs, train, core, go, community-contribution

#56294 [data] refactor download expression to use inheritance from `AbstractOneToOne`
  python/ray/data/_internal/logical/operators/map_operator.py
  python/ray/data/_internal/logical/operators/one_to_one_operator.py
  python/ray/data/_internal/planner/plan_download_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/dataset.py
Labels: go

#55566 Objectref typestubbing
  python/ray/_raylet.pyi
  python/ray/includes/object_ref.pxi
  python/ray/includes/object_ref.pyi
  python/ray/includes/unique_ids.pyi
Labels: usability, docs, core, go, community-contribution, unstale

#56246 [core] (cgroups 4/n) adding constraint bounds checking to the CgroupManager.
  src/ray/common/cgroup2/cgroup_driver_interface.h
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/cgroup_test_utils.h
  src/ray/common/cgroup2/fake_cgroup_driver.h
  src/ray/common/cgroup2/integration_tests/sysfs_cgroup_driver_integration_test.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/sysfs_cgroup_driver.h
  src/ray/common/cgroup2/tests/sysfs_cgroup_driver_test.cc
Labels: core, go

#56292 [Core] Remove test_head_node_job_agent_always_used
  python/ray/dashboard/modules/job/tests/test_sdk.py
Labels: go

#56213 [core] Add a warning when returning an object w/ num_returns=0
  python/ray/_raylet.pyx
Labels: core, go, community-contribution

#56268 [Data] Fixed `ParquetDatasource` encoding ratio estimation
  ci/lint/pydoclint-baseline.txt
  doc/source/data/api/input_output.rst
  python/ray/data/_internal/datasource/parquet_datasource.py
  python/ray/data/datasource/__init__.py
  python/ray/data/datasource/file_meta_provider.py
  python/ray/data/datasource/parquet_meta_provider.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_metadata_provider.py
  python/ray/data/tests/test_parquet.py
  python/ray/data/tests/test_size_estimation.py
Labels: data, go

#56289 [lint] change API annotations and policy check triggers
  .buildkite/lint.rayci.yml
Labels: devprod, go

#56291 [deps] upgrade boto3
  python/deplocks/llm/ray_py311_cpu.lock
  python/deplocks/llm/ray_py311_cu121.lock
  python/deplocks/llm/ray_py311_cu128.lock
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/cloud-requirements.txt
  python/requirements/ml/core-requirements.txt
  python/requirements/ml/data-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/requirements_byod_3.9.in
  release/ray_release/byod/requirements_byod_3.9.txt
  release/ray_release/byod/requirements_ml_byod_3.9.in
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Labels: core, go

#56094 [serve] Fix buffered logging reusing request context (Fixes #55851)
  python/ray/serve/_private/logging_utils.py
  python/ray/serve/tests/test_logging.py
Labels: serve, go, community-contribution

#56308 [core] Delete unnecessary plasma.cc + macro
  src/ray/object_manager/object_buffer_pool.h
  src/ray/object_manager/plasma/BUILD.bazel
  src/ray/object_manager/plasma/common.h
  src/ray/object_manager/plasma/plasma.cc
  src/ray/object_manager/plasma/plasma.h
  src/ray/object_manager/plasma/shared_memory.h
  src/ray/util/macros.h
  src/ray/util/subreaper.h
Labels: core, go

#56254 [data] Rename env var for enforce schemas
  python/ray/data/context.py
Labels: data, go

#56364 [codeowner] remove aslonnie individual from many ownerships
  .github/CODEOWNERS
Labels: go

#56273 [TRAIN][DOC] Fix documentation issues in train/examples directory: typos, grammar, and formatting errors
  doc/source/train/examples/accelerate/accelerate_example.rst
  doc/source/train/examples/aws-trainium/llama3.rst
  doc/source/train/examples/intel_gaudi/bert.ipynb
  doc/source/train/examples/pytorch/convert_existing_pytorch_code_to_ray_train.ipynb
  doc/source/train/examples/pytorch/dreambooth_finetuning.rst
  doc/source/train/examples/pytorch/pytorch_resnet_finetune.ipynb
  doc/source/train/examples/transformers/huggingface_text_classification.ipynb
  doc/source/train/examples/transformers/transformers_torch_trainer_basic.rst
Labels: docs, train, go, community-contribution

#56274 [TRAIN][DOC] Fix typos, grammar, and formatting issues in Ray Train documentation
  doc/source/train/api/api.rst
  doc/source/train/api/deprecated.rst
  doc/source/train/benchmarks.rst
  doc/source/train/deepspeed.rst
  doc/source/train/distributed-tensorflow-keras.rst
  doc/source/train/user-guides/checkpoints.rst
  doc/source/train/user-guides/data-loading-preprocessing.rst
  doc/source/train/user-guides/experiment-tracking.rst
  doc/source/train/user-guides/fault-tolerance.rst
Labels: docs, train, go, community-contribution

#56345 [Data] Remove filesystem parameterizations of `test_csv` tests
  python/ray/data/tests/test_csv.py
  python/ray/data/tests/test_file_based_datasource.py
Labels: data, go

#56359 [core] Banning implementation deps
  src/ray/core_worker/BUILD.bazel
  src/ray/core_worker/task_submission/BUILD.bazel
  src/ray/gcs/gcs_server/BUILD.bazel
  src/ray/pubsub/BUILD.bazel
Labels: core, go

#56248 [RLlib][release test] Upgrade g3 to g4 machine for aws release test
  release/rllib_tests/2gpus_32cpus.yaml
  release/rllib_tests/2gpus_64cpus.yaml
Labels: rllib, release-test, go

#56070 [core] Fix error handling for plasma put errors
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
Labels: core, go

#56363 [deps] upgrade boto3 to 1.29.x
  python/deplocks/llm/ray_test_py311_cpu.lock
  python/deplocks/llm/ray_test_py311_cu121.lock
  python/deplocks/llm/ray_test_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/cloud-requirements.txt
  python/requirements/ml/data-requirements.txt
  python/requirements/test-requirements.txt
  python/requirements_compiled.txt
  release/ray_release/byod/requirements_byod_3.9.txt
  release/ray_release/byod/requirements_ml_byod_3.9.txt
Labels: core, go

#56347 [core] initialize opentelemetry.metrics once
  python/ray/_private/telemetry/open_telemetry_metric_recorder.py
Labels: core, go

#56362 [serve] Add a test to ensure calling await multiple times on response doesn't result in multiple calls to replica
  python/ray/serve/tests/test_handle_same_loop.py
Labels: serve, go

#56216 [core] Allow task manager access with submitter mutex + unify retry
  src/ray/core_worker/core_worker.cc
  src/ray/core_worker/core_worker.h
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/task_manager.cc
  src/ray/core_worker/task_manager.h
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
Labels: core, go

#56357 [serve] Explicitly close `choose_replicas_with_backoff` async generator
  python/ray/serve/_private/request_router/request_router.py
Labels: serve, go

#56381 [Data] Add `max_task_concurrency`, `min_scheduling_resources`, and `per_task_resource_allocation`
  python/ray/data/_internal/execution/interfaces/physical_operator.py
  python/ray/data/_internal/execution/operators/actor_pool_map_operator.py
  python/ray/data/_internal/execution/operators/task_pool_map_operator.py
Labels: docs, performance, data, go

#56383 [Data] Add hash and `to_resource_dict` to `ExecutionResources`
  python/ray/data/_internal/execution/interfaces/execution_options.py
  python/ray/data/tests/test_executor_resource_management.py
Labels: data, go

#56334 [Core] Add S3 public bucket fallback to handle NoCredentialsError
  python/ray/_private/runtime_env/protocol.py
  python/ray/tests/test_runtime_env_packaging.py
Labels: core, go

#56375 [ci] remove old wheel building logic
  ci/ci.sh
  ci/ray_ci/macos/macos_ci_build.sh
Labels: devprod, go

#56406 [bazel] change core BUILD files to BUILD.bazel
  python/ray/_common/tests/BUILD.bazel
  python/ray/_private/BUILD.bazel
  python/ray/_private/runtime_env/BUILD.bazel
  python/ray/autoscaler/BUILD.bazel
  python/ray/autoscaler/aws/BUILD.bazel
  python/ray/autoscaler/azure/BUILD.bazel
  python/ray/autoscaler/gcp/BUILD.bazel
  python/ray/autoscaler/local/BUILD.bazel
  python/ray/autoscaler/v2/BUILD.bazel
  python/ray/dashboard/BUILD.bazel
  python/ray/runtime_env/BUILD.bazel
  python/ray/scripts/BUILD.bazel
  python/ray/util/BUILD.bazel
  python/ray/util/dask/BUILD.bazel
  python/ray/util/dask/tests/BUILD.bazel
  python/setup.py
Labels: go

#55867 [data.llm][API] Allow tuple for concurrency arg
  ci/lint/pydoclint-baseline.txt
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/base.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/tests/batch/cpu/processor/test_processor_base.py
  release/llm_tests/batch/test_batch_vllm.py
Labels: data, llm, go, community-contribution

#56420 Make `ray-llm` code owner for `ray.data.llm`
  .github/CODEOWNERS
Labels: go

#56295 foundation work for aggregating metrics on controller
  doc/source/serve/advanced-guides/performance.md
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/common.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/_private/replica.py
  python/ray/serve/_private/router.py
  python/ray/serve/tests/test_autoscaling_policy.py
  python/ray/serve/tests/unit/test_deployment_state.py
  python/ray/serve/tests/unit/test_router.py
Labels: serve, go

#56344 [Serve] Allow access to request context of each request in the batch
  python/ray/serve/batching.py
  python/ray/serve/context.py
  python/ray/serve/tests/test_batching.py
Labels: serve, go

#56319 [Data] Fix resource reservation by excluding completed operators' usages
  python/ray/data/_internal/execution/resource_manager.py
  python/ray/data/tests/test_resource_manager.py
Labels: data, go

#55829 integrate deployment ranks with deployment state
  python/ray/serve/_private/deployment_state.py
  python/ray/serve/tests/unit/BUILD.bazel
  python/ray/serve/tests/unit/test_deployment_state.py
Labels: serve, go

#55065 [core][1eventx/02] job event: add an interface for ray event recorder
  src/ray/common/ray_config_def.h
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_driver_job_definition_event.cc
  src/ray/observability/ray_driver_job_definition_event.h
  src/ray/observability/ray_driver_job_execution_event.cc
  src/ray/observability/ray_driver_job_execution_event.h
  src/ray/observability/ray_event.h
  src/ray/observability/ray_event_interface.h
  src/ray/observability/ray_event_recorder.cc
  src/ray/observability/ray_event_recorder.h
  src/ray/observability/ray_event_recorder_interface.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_driver_job_execution_event_test.cc
  src/ray/observability/tests/ray_event_recorder_test.cc
Labels: core, observability, go

#56435 [Data.llm] Fix multimodal image extraction when no system prompt is present
  python/ray/llm/_internal/batch/stages/prepare_image_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_prepare_image_stage.py
Labels: data, llm, go

#55981 [core][gpu-objects] Add initial docs
  doc/BUILD.bazel
  doc/source/ray-core/api/direct-transport.rst
  doc/source/ray-core/api/index.rst
  doc/source/ray-core/direct-transport.rst
  doc/source/ray-core/doc_code/direct_transport_gloo.py
  doc/source/ray-core/doc_code/direct_transport_nccl.py
  doc/source/ray-core/doc_code/direct_transport_nixl.py
  doc/source/ray-core/user-guide.rst
  python/ray/actor.py
Labels: docs, core, go, community-contribution

#56489 [Data] Refactor batch inference release test definitions
  release/nightly_tests/dataset/image_embedding_from_jsonl/autoscaling_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_jsonl/fixed_size_cluster_compute.yaml
  release/nightly_tests/dataset/image_embedding_from_jsonl/main.py
  release/release_data_tests.yaml
Labels: data, go

#56494 [ci] upgrading uv ver 0.8.17 (latest)
  WORKSPACE
  ci/raydepsets/tests/test_cli.py
Labels: devprod, go

#56492 [core] Fix ASAN issues in object manager test
  src/mock/ray/gcs/gcs_client/gcs_client.h
  src/ray/object_manager/tests/BUILD.bazel
  src/ray/object_manager/tests/object_manager_test.cc
Labels: windows, core, go

#56448 [core] Don't hold shared ptr to client in actor submitter queues
  src/ray/core_worker/task_submission/actor_task_submitter.cc
  src/ray/core_worker/task_submission/actor_task_submitter.h
  src/ray/core_worker/task_submission/tests/actor_task_submitter_test.cc
  src/ray/rpc/worker/core_worker_client_pool.cc
Labels: core, go

#56521 [core] Fix UBSAN errors in object_manager_test
  src/ray/object_manager/tests/object_manager_test.cc
Labels: go

#56534 [core] Fix `clang-format` pre-commit step
  .pre-commit-config.yaml
  ci/lint/format.sh
Labels: go

#56408 add more tests for async inf
  python/ray/serve/task_processor.py
  python/ray/serve/tests/conftest.py
  python/ray/serve/tests/test_task_processor.py
Labels: serve, go

#56440 [Data] Remove redundant check for initial size of actor pool
  python/ray/data/_internal/compute.py
Labels: data, go, community-contribution

#56503 Fix accidentally using task throughput instead of row throughput
  python/ray/dashboard/modules/metrics/dashboards/data_dashboard_panels.py
Labels: docs, data, go

#56545 [image] allow using explicit base type
  ci/ray_ci/builder.py
  ci/ray_ci/ray_docker_container.py
Labels: go

#56551 [image] change tag methods of container class to private
  ci/ray_ci/docker_container.py
  ci/ray_ci/test_ray_docker_container.py
Labels: go

#56535 Bump vLLM to 0.10.2
  python/deplocks/llm/rayllm_py311_cpu.lock
  python/deplocks/llm/rayllm_py311_cu121.lock
  python/deplocks/llm/rayllm_py311_cu128.lock
  python/deplocks/llm/rayllm_test_py311_cpu.lock
  python/deplocks/llm/rayllm_test_py311_cu121.lock
  python/deplocks/llm/rayllm_test_py311_cu128.lock
  python/requirements/llm/llm-requirements.txt
  python/requirements/llm/llm-test-requirements.txt
  python/setup.py
Labels: serve, llm, go

#56571 [core][ci] Install cpp api for java tests
  ci/ray_ci/tests.env.Dockerfile
  ci/ray_ci/windows/tests.env.Dockerfile
Labels: go

#56565 [Data] - Optimize memory usage for One Hot Encoder
  python/ray/data/preprocessors/encoder.py
Labels: data, go

#56233 [release] Separate custom BYOD image build & set up image build dependency for test jobs in release test pipeline
  .buildkite/release/test.rayci.yml
  .gitignore
  release/BUILD.bazel
  release/ray_release/.separate_custom_build.stamp
  release/ray_release/buildkite/step.py
  release/ray_release/custom_byod_build_init_helper.py
  release/ray_release/scripts/build_pipeline.py
  release/ray_release/scripts/custom_byod_build_init.py
  release/ray_release/test.py
  release/ray_release/tests/test_buildkite.py
  release/ray_release/tests/test_custom_byod_build_init_helper.py
  release/ray_release/tests/test_step.py
Labels: devprod, release-test, go

#56293 [core] Make Free Objects RPC Fault Tolerant
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_object_manager_fault_tolerance.py
  src/ray/object_manager/object_manager.cc
  src/ray/object_manager/object_manager.h
Labels: core, go

#55908 [data] skip loading dynamic modules for HF datasets >= v4.0.0
  python/ray/data/_internal/datasource/huggingface_datasource.py
Labels: data, go

#56490 [Data][llm] Add chat_template_kwargs as option when building processor
  python/ray/data/llm.py
  python/ray/llm/_internal/batch/processor/sglang_engine_proc.py
  python/ray/llm/_internal/batch/processor/vllm_engine_proc.py
  python/ray/llm/_internal/batch/stages/chat_template_stage.py
  python/ray/llm/tests/batch/cpu/stages/test_chat_template_stage.py
Labels: data, go

#56588 [Data] Add parallelism parameter to read_snowflake
  python/ray/data/read_api.py
Labels: data, go

#56561 [ci] disable running release tests that have been long failing
  release/release_tests.yaml
Labels: devprod, release-test, go

#55721 [Serve] Resolve test_deploy_app.py flakiness
  python/ray/serve/_private/application_state.py
Labels: serve, go

#56235 [Core] Update cluster scheduler to handle label selector hard node id constraint
  src/ray/common/scheduling/BUILD.bazel
  src/ray/common/scheduling/label_selector.h
  src/ray/core_worker/lease_policy.cc
  src/ray/raylet/scheduling/cluster_lease_manager.cc
  src/ray/raylet/scheduling/cluster_resource_manager.h
  src/ray/raylet/scheduling/cluster_resource_scheduler.h
  src/ray/raylet/scheduling/tests/cluster_resource_scheduler_test.cc
Labels: core, go, community-contribution

#56532 [Core][Autoscaler] Add `labels` to KubeRay autoscaling config
  python/ray/autoscaler/_private/kuberay/autoscaling_config.py
  python/ray/tests/kuberay/test_autoscaling_config.py
Labels: docs, core, go, community-contribution, kubernetes

#56567 [Data] Allow `BlockOutputBuffer` to accept nullable output_block_size_option
  ci/lint/pydoclint-baseline.txt
  python/ray/data/_internal/output_buffer.py
  python/ray/data/tests/test_dynamic_block_split.py
Labels: data, go

#56352 [core] (cgroups 9/n) end-to-end integration of cgroups with ray start.
  .buildkite/core.rayci.yml
  python/ray/_private/services.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/resource_isolation/BUILD
  python/ray/tests/resource_isolation/conftest.py
  python/ray/tests/resource_isolation/test_resource_isolation_config.py
  python/ray/tests/resource_isolation/test_resource_isolation_integration.py
  python/ray/tests/test_cli.py
  python/ray/tests/test_ray_init.py
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/cgroup_manager.cc
  src/ray/common/cgroup2/cgroup_manager.h
  src/ray/common/cgroup2/cgroup_manager_interface.h
  src/ray/common/cgroup2/sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/tests/cgroup_manager_test.cc
  src/ray/raylet/BUILD.bazel
  src/ray/raylet/main.cc
  src/ray/raylet/node_manager.cc
  src/ray/raylet/node_manager.h
  src/ray/raylet/tests/BUILD.bazel
  src/ray/raylet/tests/node_manager_test.cc
Labels: core, go

#56426 [core][1eventx/04] node event: send node events to the aggregator
  BUILD.bazel
  python/ray/dashboard/modules/aggregator/tests/test_ray_node_events.py
  src/mock/ray/gcs/gcs_node_manager.h
  src/mock/ray/gcs/gcs_resource_manager.h
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_node_manager.cc
  src/ray/gcs/gcs_node_manager.h
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/export_api/gcs_node_manager_export_event_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_mock_test.cc
  src/ray/gcs/tests/gcs_actor_scheduler_test.cc
  src/ray/gcs/tests/gcs_node_manager_test.cc
  src/ray/gcs/tests/gcs_placement_group_scheduler_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/ray_node_definition_event.cc
  src/ray/observability/ray_node_definition_event.h
  src/ray/observability/ray_node_lifecycle_event.cc
  src/ray/observability/ray_node_lifecycle_event.h
  src/ray/protobuf/public/events_node_definition_event.proto
  src/ray/protobuf/public/events_node_lifecycle_event.proto
Labels: core, go

#56544 [image] remove slim's dependency on normal bases
  .buildkite/_images.rayci.yml
Labels: core, go

#56560 [data] Small typo fix
  python/ray/data/_internal/execution/resource_manager.py
Labels: docs, data, go

#56569 [Data] Avoid unnecessary copying of blocks
  python/ray/data/_internal/execution/operators/limit_operator.py
  python/ray/data/_internal/execution/operators/map_transformer.py
  python/ray/data/_internal/output_buffer.py
Labels: data, go

#56597 [docs] Add guidance for matching Ray and Python versions with uv envi…
  doc/source/ray-core/handling-dependencies.rst
Labels: docs, core, go, community-contribution

#56443 [core] Make PinObjectIDs RPC Fault Tolerant
  src/fakes/ray/object_manager/plasma/fake_plasma_client.h
  src/ray/raylet/tests/node_manager_test.cc
  src/ray/rpc/raylet/raylet_client.cc
Labels: core, go

#56622 [ci] rename `docker_login` to `ecr_docker_login`
  ci/ray_ci/builder.py
  ci/ray_ci/test_utils.py
  ci/ray_ci/tester.py
  ci/ray_ci/utils.py
Labels: devprod, go

#56218 [Train] Add PyTorch local mode support for multi-process training with torchrun
  python/ray/train/v2/_internal/execution/local_mode/__init__.py
  python/ray/train/v2/_internal/execution/local_mode/torch.py
  python/ray/train/v2/_internal/execution/local_mode/utils.py
  python/ray/train/v2/_internal/execution/train_fn_utils.py
  python/ray/train/v2/api/context.py
  python/ray/train/v2/api/data_parallel_trainer.py
  python/ray/train/v2/tests/test_local_mode.py
  python/ray/train/v2/torch/torch_trainer.py
Labels: train, go

#56502 [core][otel] (yet another) clean up gauge metric cache
  python/ray/_private/test_utils.py
  python/ray/tests/BUILD.bazel
  python/ray/tests/test_metric_cardinality.py
  python/ray/tests/test_metrics_agent.py
  python/ray/tests/test_task_metrics.py
  python/ray/tests/test_task_metrics_reconstruction.py
  src/ray/observability/open_telemetry_metric_recorder.cc
  src/ray/stats/stats.h
Labels: core, go

#56605 [fix][core]A timeout should be set when submitting patch requests for autoscaler
  python/ray/autoscaler/_private/kuberay/node_provider.py
Labels: core, go, community-contribution

#56000 [dashboard] Use pynvml for GPU metrics
  python/ray/_private/ray_constants.py
  python/ray/_private/thirdparty/pynvml/__init__.py
  python/ray/_private/thirdparty/pynvml/pynvml.py
  python/ray/dashboard/modules/reporter/gpu_providers.py
  python/ray/dashboard/modules/reporter/tests/test_reporter.py
Labels: dashboard, core, observability, go, community-contribution

#56514 [core] Cleanup metrics stuff + fix gcc >10 build
  cpp/include/ray/api/metric.h
  cpp/src/ray/runtime/metric/metric.cc
  python/ray/includes/metric.pxd
  python/ray/includes/metric.pxi
  src/ray/core_worker/core_worker_process.cc
  src/ray/core_worker/store_provider/memory_store/memory_store.cc
  src/ray/gcs/gcs_task_manager.cc
  src/ray/gcs/store_client/redis_context.h
  src/ray/object_manager/plasma/stats_collector.cc
  src/ray/observability/fake_metric.h
  src/ray/observability/metric_interface.h
  src/ray/raylet/local_object_manager.cc
  src/ray/raylet/main.cc
  src/ray/rpc/rpc_chaos.h
  src/ray/stats/BUILD.bazel
  src/ray/stats/metric.cc
  src/ray/stats/metric.h
  src/ray/stats/metric_defs.cc
  src/ray/stats/tag_defs.cc
  src/ray/stats/tag_defs.h
  src/ray/stats/tests/metric_exporter_grpc_test.cc
  src/ray/stats/tests/stats_test.cc
Labels: core, go

#56626 [core] Fixing windows build with cgroups. Broken in cgroups 10/n.
  src/ray/common/cgroup2/BUILD.bazel
  src/ray/common/cgroup2/noop_cgroup_manager.cc
  src/ray/common/cgroup2/noop_sysfs_cgroup_driver.cc
  src/ray/common/cgroup2/tests/BUILD.bazel
  src/ray/common/cgroup2/tests/noop_cgroup_test.cc
Labels: core, go

#54343 [ci][RLlib] [test utils] Improve error message on some test-failures because of `IndexError` in `test_utils.py`
  rllib/utils/test_utils.py
Labels: rllib, ci-test, go, community-contribution, unstale

#56005 [serve] Include custom metrics method and report to controller
  doc/source/ray-overview/examples/e2e-rag/notebooks/03_Deploy_LLM_with_Ray_Serve.ipynb
  doc/source/ray-overview/examples/e2e-rag/notebooks/serve_llm.py
  doc/source/ray-overview/examples/mcp-ray-serve/04 Deploy_multiple_mcp_stdio_docker_images_with_ray_serve.ipynb
  doc/source/ray-overview/examples/mcp-ray-serve/multi_mcp_ray_serve.py
  python/ray/serve/_private/autoscaling_state.py
  python/ray/serve/_private/constants.py
  python/ray/serve/_private/controller.py
  python/ray/serve/_private/metrics_utils.py
  python/ray/serve/_private/replica.py
  python/ray/serve/tests/BUILD.bazel
  python/ray/serve/tests/test_custom_autoscaling_metrics.py
  python/ray/serve/tests/unit/test_deployment_state.py
Labels: serve, docs, go, community-contribution

#56436 [core] Make Core Worker Pub Sub RPCs Fault Tolerant
  python/ray/tests/test_multi_node.py
  python/ray/tests/test_object_assign_owner.py
  python/ray/tests/test_object_manager.py
  python/ray/tests/test_object_spilling_2.py
  python/ray/tests/test_reference_counting.py
  python/ray/tests/test_reference_counting_2.py
  python/ray/tests/test_reference_counting_standalone.py
  src/fakes/ray/pubsub/subscriber.h
  src/mock/ray/rpc/worker/core_worker_client.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/gcs_client/gcs_client.cc
  src/ray/object_manager/ownership_object_directory.cc
  src/ray/protobuf/core_worker.proto
  src/ray/pubsub/README.md
  src/ray/pubsub/publisher.h
  src/ray/pubsub/subscriber.cc
  src/ray/pubsub/subscriber_interface.h
  src/ray/pubsub/tests/pubsub_integration_test.cc
  src/ray/pubsub/tests/subscriber_test.cc
  src/ray/raylet/local_object_manager.cc
  src/ray/rpc/worker/core_worker_client.h
Labels: core, go

#56596 [Data] - Handle string concat for ray.data.expressions
  python/ray/data/_expression_evaluator.py
  python/ray/data/tests/test_map.py
Labels: data, go

#54775 fix None pending Request
  python/ray/serve/_private/request_router/request_router.py
Labels: serve, go, community-contribution, unstale

#56706 move ingress validation for multiple fastapi deployment into client i…
  python/ray/serve/_private/application_state.py
  python/ray/serve/_private/client.py
Labels: serve, go

#56497 [core] `ray symmetric-run` and fix for symmetric run error handling
  python/ray/scripts/scripts.py
  python/ray/scripts/symmetric_run.py
  python/ray/tests/test_symmetric_run.py
Labels: core, go

#56714 [core] Fix windows build errors
  src/fakes/ray/rpc/raylet/BUILD.bazel
  src/fakes/ray/rpc/raylet/raylet_client.h
Labels: go

#56705 [Data] Make object store tuning tips consistent with other pages
  doc/source/data/performance-tips.rst
Labels: docs, data, go

#56298 Getting Started with PyTorch Fully Sharded Data Parallel (FSDP2) and Ray Train Template
  doc/source/train/examples.yml
  doc/source/train/examples/pytorch/pytorch-fsdp/README.ipynb
  doc/source/train/examples/pytorch/pytorch-fsdp/README.md
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/BUILD
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/aws.yaml
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/gce.yaml
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/nb2py.py
  doc/source/train/examples/pytorch/pytorch-fsdp/ci/tests.sh
  doc/source/train/examples/pytorch/pytorch-fsdp/configs/aws.yaml
  doc/source/train/examples/pytorch/pytorch-fsdp/configs/gce.yaml
  doc/source/train/examples/pytorch/pytorch-fsdp/images/all_strategies_profile.png
  doc/source/train/examples/pytorch/pytorch-fsdp/images/cpu_offload_profile.png
  doc/source/train/examples/pytorch/pytorch-fsdp/images/gpu_memory_profile.png
  doc/source/train/examples/pytorch/pytorch-fsdp/images/mixed_precision_profile.png
  doc/source/train/examples/pytorch/pytorch-fsdp/images/reshard_after_forward_memory_profile.png
  release/BUILD.bazel
  release/release_tests.yaml
Labels: docs, train, go

#54620 [RLlib][typing] AlgorithmConfig return-type should be Self instead upper bound
  rllib/algorithms/algorithm_config.py
  rllib/algorithms/appo/appo.py
  rllib/algorithms/bc/bc.py
  rllib/algorithms/cql/cql.py
  rllib/algorithms/dqn/dqn.py
  rllib/algorithms/dreamerv3/dreamerv3.py
  rllib/algorithms/impala/impala.py
  rllib/algorithms/marwil/marwil.py
  rllib/algorithms/ppo/ppo.py
  rllib/algorithms/sac/sac.py
  rllib/examples/algorithms/classes/vpg.py
Labels: rllib, usability, go, community-contribution, unstale

#56553 [core][1ev-debt/01] make ray recorder event buffer bounded
  src/ray/common/ray_config_def.h
  src/ray/core_worker/tests/core_worker_test.cc
  src/ray/core_worker/tests/task_manager_test.cc
  src/ray/gcs/BUILD.bazel
  src/ray/gcs/gcs_server.cc
  src/ray/gcs/gcs_server.h
  src/ray/gcs/gcs_server_main.cc
  src/ray/gcs/tests/BUILD.bazel
  src/ray/gcs/tests/gcs_server_rpc_test.cc
  src/ray/gcs_client/tests/BUILD.bazel
  src/ray/gcs_client/tests/gcs_client_reconnection_test.cc
  src/ray/gcs_client/tests/gcs_client_test.cc
  src/ray/gcs_client/tests/global_state_accessor_test.cc
  src/ray/observability/BUILD.bazel
  src/ray/observability/fake_metric.h
  src/ray/observability/metric_constants.h
  src/ray/observability/metrics.h
  src/ray/observability/ray_event_recorder.cc
  src/ray/observability/ray_event_recorder.h
  src/ray/observability/tests/BUILD.bazel
  src/ray/observability/tests/ray_event_recorder_test.cc
  src/ray/raylet/tests/lease_dependency_manager_test.cc
  src/ray/raylet/tests/local_lease_manager_test.cc
  src/ray/raylet/tests/node_manager_test.cc
Labels: core, go

#56487 [data] join unjoinable non keys
  python/ray/air/util/object_extensions/arrow.py
  python/ray/air/util/tensor_extensions/arrow.py
  python/ray/air/util/transform_pyarrow.py
  python/ray/data/_internal/arrow_block.py
  python/ray/data/_internal/arrow_ops/transform_pyarrow.py
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/_internal/table_block.py
  python/ray/data/tests/test_join.py
Labels: data, go

#56625 [core] Fix object manager fault tolerance pytest
  python/ray/tests/test_object_manager_fault_tolerance.py
Labels: core, go

#56738 [serve] Expose actor name for target group api
  python/ray/serve/_private/proxy_state.py
  python/ray/serve/schema.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/unit/test_proxy_state.py
Labels: serve, go

#56509 [train] Refactor `AcceleratorSetupCallback` to use `before_init_train_context`
  .buildkite/ml.rayci.yml
  ci/lint/pydoclint-baseline.txt
  python/ray/train/v2/BUILD.bazel
  python/ray/train/v2/_internal/callbacks/accelerators.py
  python/ray/train/v2/tests/test_accelerator_utils.py
  python/ray/train/v2/tests/test_torch_gpu.py
Labels: train, go

#56573 [Serve] Custom parameter for downscaling to zero
  doc/source/serve/advanced-guides/advanced-autoscaling.md
  python/ray/serve/autoscaling_policy.py
  python/ray/serve/config.py
  python/ray/serve/tests/test_controller.py
  python/ray/serve/tests/test_deploy_2.py
  python/ray/serve/tests/test_deploy_app_2.py
  python/ray/serve/tests/unit/test_autoscaling_policy.py
  python/ray/serve/tests/unit/test_deployment_state.py
  src/ray/protobuf/serve.proto
Labels: serve, docs, go, community-contribution

#56735 [Data][Cleanup] Avoid importing exported symbols
  python/ray/data/_internal/execution/callbacks/insert_issue_detectors.py
  python/ray/data/_internal/execution/operators/hash_aggregate.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/_internal/iterator/iterator_impl.py
  python/ray/data/_internal/iterator/stream_split_iterator.py
  python/ray/data/_internal/logical/interfaces/logical_plan.py
  python/ray/data/_internal/logical/interfaces/physical_plan.py
  python/ray/data/_internal/logical/interfaces/plan.py
  python/ray/data/_internal/logical/operators/join_operator.py
  python/ray/data/_internal/logical/operators/streaming_split_operator.py
  python/ray/data/_internal/metadata_exporter.py
  python/ray/data/_internal/pandas_block.py
  python/ray/data/_internal/progress_bar.py
  python/ray/data/aggregate.py
  python/ray/data/preprocessor.py
  python/ray/data/preprocessors/chain.py
  python/ray/data/preprocessors/discretizer.py
  python/ray/data/preprocessors/encoder.py
  python/ray/data/preprocessors/imputer.py
  python/ray/data/preprocessors/scaler.py
  python/ray/data/preprocessors/vectorizer.py
  python/ray/data/random_access_dataset.py
  python/ray/data/tests/test_arrow_block.py
  python/ray/data/tests/test_block_sizing.py
  python/ray/data/tests/test_delta_sharing.py
  python/ray/data/tests/test_dynamic_block_split.py
  python/ray/data/tests/test_join.py
  python/ray/data/tests/test_jumbo_arrow_block.py
  python/ray/data/tests/test_map.py
  python/ray/data/tests/test_numpy.py
  python/ray/data/tests/test_numpy_support.py
  python/ray/data/tests/test_operator_fusion.py
  python/ray/data/tests/test_optimize.py
  python/ray/data/tests/test_sort.py
  python/ray/data/tests/test_state_export.py
  python/ray/data/tests/test_strict_mode.py
  python/ray/data/tests/test_tensor.py
  python/ray/data/tests/test_tfrecords.py
  python/ray/data/tests/test_transform_pyarrow.py
Labels: data, go

#56756 [serve] Refactor how replica handles ongoing requests metric
  python/ray/serve/_private/replica.py
Labels: go

#56753 [ci] skip 3.10 minimal test
  .buildkite/core.rayci.yml
Labels: devprod, go

#55510 [Data] Switched default shuffle strategy from sort-based to hash-based
  python/ray/data/BUILD.bazel
  python/ray/data/_internal/execution/operators/hash_aggregate.py
  python/ray/data/_internal/execution/operators/hash_shuffle.py
  python/ray/data/_internal/execution/operators/join.py
  python/ray/data/_internal/logical/interfaces/logical_operator.py
  python/ray/data/_internal/logical/operators/all_to_all_operator.py
  python/ray/data/_internal/logical/operators/from_operators.py
  python/ray/data/_internal/logical/operators/read_operator.py
  python/ray/data/_internal/logical/rules/set_read_parallelism.py
  python/ray/data/_internal/planner/plan_all_to_all_op.py
  python/ray/data/_internal/planner/planner.py
  python/ray/data/context.py
  python/ray/data/read_api.py
  python/ray/data/tests/test_consumption.py
  python/ray/data/tests/test_execution_optimizer.py
  python/ray/data/tests/test_hash_shuffle.py
  python/ray/data/tests/test_join.py
  python/ray/data/tests/test_mongo.py
  python/ray/data/tests/test_operator_fusion.py
  python/ray/data/tests/test_repartition_e2e.py
  python/ray/data/tests/test_resource_manager.py
  python/ray/data/tests/test_split.py
  python/ray/data/tests/test_strict_mode.py
  python/ray/data/tests/test_util.py
Labels: docs, data, go, unstale

#56752 [ci] use `BUILDKITE_CACHE_READONLY` to control remote cache upload
  .buildkite/core.rayci.yml
  ci/build/build-manylinux-ray.sh
  ci/docker/base.cu128.wanda.yaml
  ci/docker/base.gpu.Dockerfile
  ci/docker/base.gpu.py39.wanda.yaml
  ci/docker/base.gpu.wanda.yaml
  ci/env/install-bazel.sh
  ci/ray_ci/tests.env.Dockerfile
  ci/ray_ci/windows/build_ray.sh
  python/build-wheel-windows.sh
Labels: devprod, go

#56772 [release test] globbing release test definition yaml files
  release/BUILD.bazel
Labels: core, devprod, release-test, go

#56582 [RLlib] Add tests for SA episode setter methods
  rllib/env/tests/test_single_agent_episode.py
Labels: rllib, go

#56763 [Data] - SQL when sharding disabled avoid count(*)
  python/ray/data/_internal/datasource/sql_datasource.py
Labels: data, go

#56786 [core] Add missing tests for doc examples
  doc/BUILD.bazel
  doc/source/ray-core/doc_code/nested-tasks.py
  doc/source/ray-core/examples/overview.rst
  doc/source/ray-core/examples/web_crawler.ipynb
  doc/source/ray-core/tasks/nested-tasks.rst
  doc/source/ray-overview/use-cases.rst
Labels: go
